<template>
  <div class="whiteboard mt20">
    <div class="top row">
      <div class="col">
        <img class="warn" src="@/assets/images/safe/warn.png" alt="" />
        <div class="info">
          <div class="count">{{ warnInfo.todayAlarmCount }}</div>
          <div class="desc">今日报警数</div>
        </div>
      </div>
      <div class="col">
        <img class="warn" src="@/assets/images/safe/warn.png" alt="" />
        <div class="info">
          <div class="count">{{ warnInfo.yesterdayAlarmCount }}</div>
          <div class="desc">昨日报警数</div>
        </div>
      </div>
      <div class="col">
        <img class="warn" src="@/assets/images/safe/warn.png" alt="" />
        <div class="info">
          <div class="count">{{ warnInfo.currentAlarmCount }}</div>
          <div class="desc">当前报警数</div>
        </div>
      </div>
      <div class="col">
        <img class="warn" src="@/assets/images/safe/warn.png" alt="" />
        <div class="info">
          <div class="count">{{ warnInfo.currentWarnCount }}</div>
          <div class="desc">当前预警数</div>
        </div>
      </div>
    </div>
  </div>
  <WarnRecord></WarnRecord>
</template>
<script setup>
import WarnRecord from './WarnRecord.vue'
import { getWarnInfo } from '@/api/safe/tower'
const projectId = inject('projectId')
const warnInfo = ref({})

onMounted(() => {
  fetchWarnInfo()
})

function fetchWarnInfo() {
  getWarnInfo(projectId).then((res) => {
    if (res.code !== 200) return
    warnInfo.value = res.data
  })
}
</script>
<style lang="scss" scoped>
.top {
  padding: 32px 0;
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    .warn {
      width: 54px;
      height: 54px;
    }
    .info {
      text-align: center;
      margin-left: 42px;
      .count {
        font-size: 32px;
        font-weight: bold;
      }
      .desc {
        color: #666;
        margin-top: 12px;
      }
    }
  }
}
</style>
