<template>
  <div class="panel custom mt20 warning-record">
    <div class="head">
      <div class="left">
        <el-form
          :model="params"
          ref="formRef"
          :rules="rules"
          :inline="true"
          class="form"
        >
          <el-form-item label="选择设备：">
            <el-select v-model="params.deviceId">
              <el-option label="全部设备" :value="undefined"></el-option>
              <el-option
                v-for="(item, index) in deviceList"
                :key="index"
                :label="item.deviceName"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="选择事件类型：">
            <el-select v-model="params.bizSubType">
              <el-option label="全部类型" :value="undefined"></el-option>
              <el-option
                v-for="(item, index) in bizSubTypeMap"
                :key="index + 1"
                :label="item"
                :value="index + 1"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="选择日期：" size="normal">
            <el-date-picker
              v-model="params.startTime"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="开始日期"
              :disabled-date="disabledStartDate"
              style="width: 147px"
            />
            <span class="ml10 mr10">-</span>
            <el-date-picker
              v-model="params.endTime"
              type="date"
              value-format="YYYY-MM-DD"
              placeholder="结束日期"
              :disabled-date="disabledEndDate"
              style="width: 147px"
            />
          </el-form-item>
          <el-form-item label="报警类型：">
            <el-radio-group v-model="params.status">
              <el-radio :label="undefined">全部</el-radio>
              <el-radio :label="1">预警事件</el-radio>
              <el-radio :label="2">报警事件</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="body mt20">
      <Table
        :data="recordList"
        :pagination="pagination"
        @page-change="pageChange"
        style="width: 100%"
      >
        <el-table-column label="报警时间" prop="alarmTime" />
        <el-table-column label="设备名称" prop="deviceName" />
        <el-table-column
          label="警报类型"
          prop="status"
          :formatter="formatter1"
        />
        <el-table-column
          label="警报事件类型"
          prop="type"
          :formatter="formatter2"
        />
        <el-table-column label="载重（kg）" prop="capacity" />
        <el-table-column label="力矩（kN·m）" prop="moment" />
        <el-table-column label="倾角（°）" prop="dipAngle" />
        <el-table-column label="风速（m/s）" prop="windSpeed" />
        <el-table-column label="风力" prop="windPower" />
      </Table>
    </div>
  </div>
</template>
<script setup>
import { getWarnList } from '@/api/safe/tower'
import dayjs from 'dayjs'

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const projectId = inject('projectId')
const deviceList = inject('deviceList')
const params = reactive({
  projectId,
  bizSubType: undefined,
  deviceId: undefined,
  status: undefined,
  startTime: dayjs().subtract(29, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})
const recordList = ref([])
const alarmMap = ['正常', '预警', '报警']
const bizSubTypeMap = [
  '重量警报',
  '力矩警报',
  '倾斜警报',
  '风速警报',
  '禁行区驶入警报',
  '禁吊区 A 类驶入警报',
  '禁吊区 B 类驶入警报',
  '塔群碰撞警报',
]
const pagination = reactive({
  showTotal: true,
  total: 0,
})
onMounted(() => {
  fetchWarnList()
})
watch(params, (val) => {
  if (!val.startTime || !val.endTime) return
  fetchWarnList()
})
function fetchWarnList(pageNum = 1) {
  getWarnList({
    data: {
      ...params,
      bizSubTypeList: params.bizSubType ? [params.bizSubType] : undefined,
      deviceIdList: params.deviceId ? [params.deviceId] : undefined,
      statusList: params.status ? [params.status] : undefined,
    },
    pageNum,
    pageSize: 10,
  }).then((res) => {
    recordList.value = res.data.list
    pagination.total = res.data.total
    pagination['current-page']=pageNum = pageNum
  })
}
const formatter1 = (r, c, cell) => {
  return alarmMap[cell]
}
const formatter2 = (r, c, cell) => {
  return bizSubTypeMap[cell - 1]
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >=dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(30, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(30, 'day')
  }
  return !valid
}
const pageChange = (val) => {
  fetchWarnRecord(val)
}
</script>
<style lang="scss" scoped>
.form {
  margin-bottom: -20px;
}
</style>
