<template>
  <div class="w-full">
    <el-select
      v-if="props.type === 'enums' || props.type === 'bool'"
      v-model="props.bindValue"
      @change="handleSelectChange"
    >
      <el-option
        v-for="(item, i) in selectOptions"
        :label="item.label"
        :value="item.value"
        :key="i"
      />
    </el-select>
    <el-date-picker
      style="width: 100%"
      @change="handleSelectChange"
      v-if="props.type === 'dates'"
      v-model="datePicker"
      format="YYYY/MM/DD HH:mm:ss"
      value-format="YYYY/MM/DD HH:mm:ss"
      type="datetime"
    />
    <el-input
      @input="handleSelectChange"
      v-if="
        props.type === 'string' ||
        props.type === 'number' ||
        props.type === 'attachment'
      "
      v-model="props.bindValue"
    ></el-input>
  </div>
</template>

<script setup>
import { computed, defineProps } from 'vue'

// 根据不同的type渲染不同的item
const props = defineProps(['type', 'extra', 'bindValue'])

const emits = defineEmits(['change'])
const datePicker = ref('')

// 根据传入的extra字段来进行动态生成选则项
const selectOptions = computed(() => {
  const splitData = props.extra.split(',')
  if (props.type === 'enums') {
    return splitData.map((item) => {
      return {
        label: item,
        value: item,
      }
    })
  } else if (props.type === 'bool') {
    return splitData.map((item) => {
      const bools = item.split('-')
      return {
        label: bools[1],
        value: bools[0],
      }
    })
  }
})

function handleSelectChange(e) {
  emits('change', e)
}
</script>
<style scoped></style>
