<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">数据详情</div>
        <div class="gap">
          <span>显示类型：</span>
          <el-select
            v-model="showType"
            placeholder="请选择"
            style="width: 160px"
          >
            <el-option label="合计用电量" value="0" />
            <el-option label="分时段用电量" value="1" />
          </el-select>
        </div>
      </div>
      <el-button link type="primary">导出数据</el-button>
    </div>
    <div class="body">
      <Table :data="tableData1" v-if="showType === '0'" :flexible="true">
        <el-table-column label="时间" prop="date" />
        <el-table-column
          v-for="(item, index) in rawData"
          :key="index"
          :label="
            item.zoneName == '全部'
              ? '合计用电量（kwh）'
              : item.zoneName + '（kwh）'
          "
          :prop="item.zoneName"
        />
      </Table>
      <Table :data="tableData2" v-else :flexible="true">
        <el-table-column label="时间" prop="date" min-width="105"/>
        <el-table-column
          v-for="(item, index) in rawData"
          :label="
            item.zoneName == '全部'
              ? '总用电量（kwh）'
              : item.zoneName + '（kwh）'
          "
        >
          <el-table-column label="尖峰时段" :prop="item.zoneName + '-尖峰'" />
          <el-table-column label="高峰时段" :prop="item.zoneName + '-高峰'" />
          <el-table-column label="平谷时段" :prop="item.zoneName + '-平谷'" />
          <el-table-column label="低谷时段" :prop="item.zoneName + '-低谷'" />
          <el-table-column label="合计用电量" :prop="item.zoneName + '-合计'"  min-width="90"/>
        </el-table-column>
      </Table>
    </div>
  </div>
</template>
<script setup>
const props = defineProps(['chartData', 'timeList'])
const tableData1 = ref([])
const tableData2 = ref([])
const rawData = ref([])
const showType = ref('0')

watch(
  () => props.chartData,
  () => {
    updateTable()
  }
)

function updateTable() {
  const { chartData, timeList } = props
  const table1 = [],
    table2 = []
  // console.log(chartData, timeList)
  rawData.value = Object.values(chartData)
  for (const index in timeList) {
    const row1 = {},
      row2 = {}
    row1.date = row2.date = timeList[index]
    if(Object.values(chartData).length===2){
      rawData.value=rawData.value.filter(item=>item.zoneName==='全部')
    }
    for (const item of rawData.value) {
      row1[item.zoneName] = item.sectionAreaEp.sumList[index]
      row2[item.zoneName + '-尖峰'] = item.sectionAreaEp.pointList[index]
      row2[item.zoneName + '-高峰'] = item.sectionAreaEp.peakList[index]
      row2[item.zoneName + '-平谷'] = item.sectionAreaEp.flatList[index]
      row2[item.zoneName + '-低谷'] = item.sectionAreaEp.valleyList[index]
      row2[item.zoneName + '-合计'] = item.sectionAreaEp.sumList[index]
    }
    table1.push(row1)
    table2.push(row2)
  }
  tableData1.value = table1
  tableData2.value = table2
}
</script>
<style lang="scss" scoped>
.panel {
  .body {
    margin-top: 26px;
  }
}
</style>
