<template>
  <div class="container" ref="container"></div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import { GridComponent } from 'echarts/components'
import { BarChart } from 'echarts/charts'
import { CanvasRenderer } from 'echarts/renderers'

echarts.use([GridComponent, BarChart, CanvasRenderer])

const props = defineProps(['zoneData', 'timeList'])
const container = ref(null)
var myChart
watch(
  () => props.zoneData,
  (newVal) => {
    updateChart(props.timeList, newVal)
  }
)

function updateChart(timeList, zoneData) {
  if (!myChart) {
    myChart = echarts.init(container.value)
  }
  var option = {
    legend: {
      show: true,
      icon: 'rect',
      itemWidth: 10,
      itemHeight: 10,
      itemGap: 20,
      top: '4%',
      left: '2%',
    },
    grid: {
      left: '5%',
      bottom: '10%',
      right: '0',
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow',
      },
      valueFormatter: (value) => value + ' kwh',
    },
    xAxis: {
      type: 'category',
      data: timeList,
      axisTick: {
        alignWithLabel: true,
      },
    },
    yAxis: {
      type: 'value',
    },
    color: ['#00a0e9', '#41d5c4', '#fdd948', '#f97979', '#637bff', '#ffa763'],
    series: [
      {
        name: '尖峰时段用电量',
        data: zoneData.sectionAreaEp.pointList,
        type: 'bar',
        stack: 'total',
        barWidth: 10,
      },
      {
        name: '高峰时段用电量',
        data: zoneData.sectionAreaEp.peakList,
        type: 'bar',
        stack: 'total',
        barWidth: 10,
      },
      {
        name: '平谷时段用电量',
        data: zoneData.sectionAreaEp.flatList,
        type: 'bar',
        stack: 'total',
        barWidth: 10,
      },
      {
        name: '低谷时段用电量',
        data: zoneData.sectionAreaEp.valleyList,
        type: 'bar',
        stack: 'total',
        barWidth: 10,
      },
      // {
      //   name:'总用电量',
      //   data: zoneData.sectionAreaEp.sumList,
      //   type: 'bar',
      //   stack:'total',
      //   barWidth: 10,
      //   itemStyle:{
      //     opacity:0
      //   }
      // },
    ],
  }
  myChart.setOption(option)
}
</script>
<style lang="scss" scoped>
.container {
  height: 250px;
}
</style>
