<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">用电统计</div>
      </div>
      <el-button
        class="right"
        link
        type="primary"
        @click="dialogAreaVisible = true"
        >用电区域管理</el-button
      >
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
  <DialogArea
    v-model="dialogAreaVisible"
    :closeFn="closeDialogFn"
    title="用电区域管理"
    width="720"
  ></DialogArea>
</template>
<script setup>
import * as echarts from 'echarts/core'
import {
  TooltipComponent,
  LegendComponent,
  TitleComponent,
} from 'echarts/components'
import { PieChart } from 'echarts/charts'
import { LabelLayout } from 'echarts/features'
import { CanvasRenderer } from 'echarts/renderers'
import DialogArea from './DialogArea.vue'

echarts.use([
  TooltipComponent,
  TitleComponent,
  LegendComponent,
  PieChart,
  CanvasRenderer,
  LabelLayout,
])

const props = defineProps(['pieList'])
const dialogAreaVisible = ref(false)
const closeDialogFn = () => {
  dialogAreaVisible.value = false
}
let myChart
const container = ref(null)

watch(
  () => props.pieList,
  (newVal) => {
    updateChart(newVal)
  }
)
// onMounted(() => {
//   updateChart(props.pieList);
// });
function updateChart(pieList) {
  if (!myChart) {
    myChart = echarts.init(container.value)
  }
  const total = pieList.reduce((pre, cur) => (pre += cur.value), 0)

  if (!total) {
    pieList.push({ value: 0, itemStyle: { color: 'lightgray' } })
  }
  const option = {
    tooltip: {
      trigger: 'item',
    },
    title: {
      x: '49.5%',
      y: '26%',
      textAlign: 'center',
      text: '总用电量',
      subtext: total.toFixed(2) + 'kwh',
      textStyle: {
        fontSize: 12,
        fontWeight: 'normal',
        color: '#4B535E',
      },
      subtextStyle: {
        fontSize: 14,
        fontWeight: 'bold',
        color: '#000000;',
      },
    },
    legend: {
      show: true,
      icon: 'circle',
      // top: 'center',
      bottom: 25,
      itemWith: 8,
      itemHeight: 8,
      width: 300,
      formatter: function (name) {
        const value = pieList.filter((item) => item.name === name)[0].value
        const rate = total ? Number(((value / total) * 100).toFixed(2)) + '%' : '0%'
        return `{a|${name}}{b|${rate}} `
      },
      textStyle: {
        rich: {
          a: {
            color: '#999999',
            fontSize: 14,
            width: 70,
          },
          b: {
            color: '#999999',
            fontSize: 14,
            width: 30,
          },
        },
      },
    },
    series: [
      {
        type: 'pie',
        radius: ['25%', '45%'],
        center: ['50%', '35%'],
        avoidLabelOverlap: false,
        label: {
          show: false,
          position: 'center',
        },
        labelLine: {
          show: false,
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 15,
            fontWeight: 'bold',
            color: '#fff',
            formatter: '{b}\n\n{c}',
          },
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
        data: pieList,
      },
    ],
  }
  myChart.setOption(option)
}
</script>
<style lang="scss" scoped>
.panel {
  height: 100%;
}
.container {
  height: 280px;
  width: 100%;
}
</style>
