<template>
  <el-dialog>
    <el-form :inline="true" :model="params">
      <el-row>
        <el-col :span="12">
          <el-form-item label="选择喷淋控制设备">
            <el-select v-model="params.deviceIdList" placeholder="全部设备" style="width: 240px" multiple :clearable="false">
              <el-option v-for="(item, index) in deviceList" :key="index" :label="item.deviceName" :value="item.deviceId" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="选择日期" style="width:100%">
            <el-date-picker
                v-model="params.startTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="开始日期"
                :disabled-date="disabledStartDate"
                style="width: 140px"
              />
              <span class="ml10 mr10">至</span>
              <el-date-picker
                v-model="params.endTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="结束日期"
                :disabled-date="disabledEndDate"
                style="width: 140px"
              />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <Table :data="recordList" :pagination="pagination" @page-change="pageChange">
      <el-table-column label="定时开启时间" prop="createTime" />
      <el-table-column label="喷淋时长（分钟）" prop="timeLength" />
      <el-table-column label="喷淋开启方式" prop="status" :formatter="formatter"/>
    </Table>
  </el-dialog>
</template>
<script setup>
import {getRecordList} from '@/api/green/spray';
import dayjs from 'dayjs'

const releaseDate=import.meta.env.VITE_APP_RELEASE_DATE
const deviceList=inject('deviceList')
const params = reactive({
  deviceIdList:deviceList.value.map(item=>item.deviceId),
  startTime:dayjs().subtract(29, 'day').format('YYYY-MM-DD'),
  endTime:dayjs().format('YYYY-MM-DD')
});
const recordList = ref([]);
const pagination = reactive({
  showTotal: true,
  total: 0,
})
onMounted(() => {
  fetchRecordList()
})
watch(params,(val)=>{
  if(!val.startTime||!val.endTime)return
  fetchRecordList()
})
function fetchRecordList(pageNum=1){
  pagination['current-page']=pageNum
  getRecordList({data:params,pageNum,pageSize:10}).then(res=>{
    if(res.code!==200)return
    recordList.value=res.data.list
    pagination.total=res.data.total
  })
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(30, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(30, 'day')
  }
  return !valid
}
const pageChange = (val) => {
  fetchRecordList( val )
}
const formatter=(r,c,cell)=>{
  if(cell===3){
    return r.operateName
  }else{
    return ['报警开启','定时开启'][cell-1]
  }
}
</script>
<style lang="scss" scoped></style>
