<template>
  <el-dialog>
    <el-form :model="params" ref="formRef" :rules="rules">
      <el-form-item
        label="选择设备"
        labelWidth="200"
        class="auto"
        prop="deviceIdList"
        required
      >
        <el-select
          v-model="params.deviceIdList"
          placeholder="全部设备"
          multiple
          clearable
          collapse-tags
          collapse-tags-tooltip
        >
          <el-option
            v-for="(item, index) in deviceList"
            :key="index"
            :label="`${item.deviceName}${item.status===0?'(离线)':''}`"
            :value="item.deviceId"
            :disabled="item.status===0"
          />
        </el-select>
      </el-form-item>
      <el-form-item
        label="喷淋时长（分钟）"
        labelWidth="200"
        class="auto"
        prop="timeLength"
        required
      >
        <el-input-number
          class="input"
          v-model="params.timeLength"
          placeholder="请输入1~99的正整数"
          :controls="false"
        />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save" v-hasPermi="['green:spray:edit']">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import {batchOpen} from '@/api/green/spray';
import { ElMessage } from 'element-plus';
const props = defineProps(['closeFn'])
const deviceList = inject('deviceList')
const projectId = inject('projectId')

const formRef=ref()
const params = reactive({
  timeLength: undefined,
  deviceIdList: deviceList.value.filter(_=>_.status===1).map((_) => _.deviceId),
})
const rules = reactive({
  deviceIdList:[{required:true,message:'请选择设备'}],
  timeLength: [{ validator }],
})
function validator(rule, value, callback) {
  if (!value && value !== 0) {
    callback(new Error('喷淋时长不能为空'))
  }
  if (!/^[1-9]\d?$/.test(value)) {
    callback(new Error('请输入1~99的正整数'))
  }
  callback()
}
const save=async()=>{
  const valid=await formRef.value.validate()
  if(!valid)return
  const idAndNoList=params.deviceIdList.map(item=>({deviceId:Number(item)}))
  batchOpen({
    idAndNoList,
    projectId,
    timeLength:params.timeLength
  }).then(res=>{
    if(res.code!==200)return
    if(res.msg){
      ElMessage.error(res.msg)
    }else{
      ElMessage.success('批量开启成功')
      props.closeFn()
    }
  })
}
</script>
<style lang="scss" scoped>
:deep(.el-form-item__content) {
  // flex-wrap: nowrap;
  .input {
    width: 100%;
  }
  .el-input-number .el-input__inner {
    text-align: left;
  }
}
</style>
