<template>
  <el-dialog>
    <el-form-item label="自动喷淋" labelWidth="200" class="auto">
      <el-select v-model="params.type" placeholder="请选择">
        <el-option label="不开启" :value="0" />
        <el-option label="报警联动开启" :value="1" />
        <el-option label="定时开启" :value="2" />
      </el-select>
    </el-form-item>
    <template v-if="params.type === 1">
      <el-form :model="form1" ref="form1Ref" :rules="rules">
        <el-form-item
          label="报警项选择"
          labelWidth="200"
          class="auto"
          prop="checked"
          required
        >
          <div class="alarm-content">
            <div v-for="(item, index) in params.alarmConfigList" :key="index">
              <p>{{ item.environmentDeviceName }}</p>
              <p>
                <el-checkbox
                  v-model="item.pm25Check"
                  :label="`PM2.5（${
                    item.pm25
                      ? '阈值：' + item.pm25 + 'ug/m3'
                      : '请先在环境监测中设置阈值'
                  }）`"
                  :disabled="!item.pm25"
                />
              </p>
              <p>
                <el-checkbox
                  v-model="item.pm10Check"
                  :label="`PM10（${
                    item.pm10
                      ? '阈值：' + item.pm10 + 'ug/m3'
                      : '请先在环境监测中设置阈值'
                  }）`"
                  :disabled="!item.pm10"
                />
              </p>
            </div>
          </div>
        </el-form-item>
        <el-form-item
          label="报警联动喷淋时长（分钟）"
          labelWidth="200"
          class="auto"
          prop="timeLength"
          required
        >
          <el-input-number
            class="input"
            v-model="form1.timeLength"
            placeholder="请输入1~99的正整数"
            :controls="false"
          />
        </el-form-item>
      </el-form>
    </template>
    <template v-if="params.type === 2">
      <Table :data="regularConfigList">
        <el-table-column label="定时开启时间" prop="startTime" />
        <el-table-column label="喷淋时长（分钟）" prop="timeLength" />
        <el-table-column label="操作">
          <template #default="scope">
            <el-button
              class="group"
              link
              type="primary"
              @click="handleEdit(scope.row)"
              >编辑</el-button
            >
            <el-button
              class="group"
              link
              type="danger"
              @click="handleDel(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </Table>
      <div class="filled-btn block add" @click="handleAdd">
        <img class="mr16" src="@/assets/icons/add.png" alt="" />
        <span>新增定时开启时间</span>
      </div>
    </template>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button
          type="primary"
          @click="onConform"
          v-hasPermi="['green:spray:edit']"
          >确认</el-button
        >
      </span>
    </template>
    <el-dialog
      v-model="timeSettingVisible"
      v-if="timeSettingVisible"
      title="喷淋时间设置"
      width="720px"
      append-to-body
    >
      <el-form :model="taskConfig" ref="form2Ref" :rules="rules">
        <el-form-item
          label="喷淋开启时间"
          labelWidth="200"
          class="auto"
          prop="startTime"
          required
        >
          <el-time-picker
            v-model="taskConfig.startTime"
            value-format="HH:mm"
            format="HH:mm"
            placeholder="请选择开启时间"
          >
          </el-time-picker>
        </el-form-item>

        <el-form-item
          label="喷淋时长（分钟）"
          labelWidth="200"
          class="auto"
          prop="timeLength"
          required
        >
          <el-input-number
            class="input"
            v-model="taskConfig.timeLength"
            placeholder="请输入1~99的正整数"
            :controls="false"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="info" @click="timeSettingVisible = false"
            >取消</el-button
          >
          <el-button
            type="primary"
            @click="save"
            v-hasPermi="['green:spray:edit']"
            >确认</el-button
          >
        </span>
      </template>
    </el-dialog>
  </el-dialog>
</template>
<script setup>
import { ElMessage, ElMessageBox } from 'element-plus'
import { editConfig, getConfig, setTask, delTask } from '@/api/green/spray'
const props = defineProps(['data', 'closeFn'])
const projectId = inject('projectId')
const deviceId = Number(props.data.deviceId)
const deviceNo = props.data.deviceNo
const timeSettingVisible = ref(false)
const form1Ref = ref()
const form2Ref = ref()
const regularConfigList = ref([])
const form1 = reactive({
  timeLength: undefined,
})
form1.checked = computed(() => {
  return (
    params.value.alarmConfigList.some(
      (item) => item.pm10Check || item.pm25Check
    ) || undefined
  )
})
const params = ref({
  type: 0,
  warningTypes: [],
  duration: '',
})
const taskConfig = ref({
  startTime: '',
  timeLength: undefined,
})
const rules = reactive({
  timeLength: [{ validator }],
  checked: [{ required: true, message: '报警项不能为空' }],
  startTime: [{ required: true, message: '请选择时间' }],
})
function validator(rule, value, callback) {
  if (!value && value !== 0) {
    callback(new Error('喷淋时长不能为空'))
  }
  if (!/^[1-9]\d?$/.test(value)) {
    callback(new Error('请输入1~99的正整数'))
  }
  callback()
}
const handleAdd = () => {
  timeSettingVisible.value = true
  taskConfig.value = {}
}
const handleEdit = (data) => {
  timeSettingVisible.value = true
  taskConfig.value = {...data}
}
const handleDel = (id) => {
  ElMessageBox.confirm('确认删除吗?', '提示')
    .then(async () => {
      delTask(id).then((res) => {
        if (res.code !== 200) return
        ElMessage.success('删除成功')
        getConfig({ projectId, deviceId, deviceNo }).then((res) => {
          regularConfigList.value = res.data.regularConfigList
        })
      })
    })
    .catch(console.log)
}
const cron = computed(() => {
  return `0 0 ${parseInt(taskConfig.value.startTime)} * * ?`
})

onMounted(() => {
  getConfig({ projectId, deviceId, deviceNo }).then((res) => {
    if (res.code !== 200) return
    params.value = res.data
    params.value.alarmConfigList = res.data.alarmConfigList
    const rst = res.data.alarmConfigList.find((_) => _.timeLength)
    if (rst) {
      form1.timeLength = rst.timeLength
    }
    regularConfigList.value = res.data.regularConfigList
  })
})

const onConform = async () => {
  const { type } = params.value
  if (type === 1) {
    const valid = await form1Ref.value.validate()
    if (!valid) return
  }

  ElMessageBox.confirm('确认保存吗?', '提示')
    .then(async () => {
      let res
      if (type === 2) {
        res = await editConfig(params.value)
      } else {
        params.value.alarmConfigList.forEach((item) => {
          if (item.pm25Check || item.pm10Check) {
            item.timeLength = form1.timeLength
          }
        })
        res = await editConfig(params.value)
      }

      if (res.code !== 200) return
      ElMessage.success('设置成功')
      props.closeFn()
    })
    .catch(console.log)
}

const save = async () => {
  const valid = await form2Ref.value.validate()
  if (!valid) return
  setTask({
    deviceId,
    ...taskConfig.value,
    cron: cron.value,
    configId: params.value.id,
  }).then((res) => {
    if (res.code !== 200) return
    ElMessage.success('喷淋时间设置成功')
    timeSettingVisible.value = false
    getConfig({ projectId, deviceId, deviceNo }).then((res) => {
      regularConfigList.value = res.data.regularConfigList
    })
  })
}
</script>
<style lang="scss" scoped>
.add {
  color: #00a0e9;
  img {
    width: 16px;
    height: 16px;
  }
}
.alarm-content {
  max-height: 310px;
  overflow-y: auto;
}
:deep(.el-form-item__content) {
  // flex-wrap: nowrap;
  .input {
    width: 100%;
  }
  .el-input-number .el-input__inner {
    text-align: left;
  }
}
</style>
