<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div class="panel normal" v-else>
    <div class="head">自动喷淋</div>
    <div class="body">
      <div class="operate">
        <div class="search-field">
        </div>
        <div class="action-field">
          <div class="filled-btn mr16" @click="handleViewRecord">
            <span>查看喷淋记录</span>
            <img class="icon" src="@/assets/icons/view.png" alt="" />
          </div>
          <div class="filled-btn" @click="handleRemote">
            <span>批量远程开启</span>
            <img class="icon" src="@/assets/icons/start.png" alt="" />
          </div>
        </div>
      </div>
      <div class="mt16">
        <Table
          :data="deviceList"
          style="width: 100%"
        >
          <el-table-column label="设备名称" prop="deviceName" />
          <el-table-column label="设备型号" prop="deviceNo" />
          <el-table-column label="设备状态" prop="status">
            <template #default="{row}">
              <span :class="[row.status ? 'online' : 'offline']">{{
                row.status ? '在线' : '离线'
              }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="自动喷淋方式"
            prop="type"
            :formatter="formatterMethod"
          />
          <el-table-column label="最近喷淋时间" prop="lastTime" :formatter="formatter2"/>
          <el-table-column label="操作">
            <template #default="{row}">
              <el-button link type="primary" @click="handleSetting(row)" :disabled="!row.status"
                >自动喷淋设置</el-button
              >
            </template>
          </el-table-column>
        </Table>
      </div>
    </div>
    <DialogRecord
      v-model="dialogRecordVisible"
      v-if="dialogRecordVisible"
      title="喷淋记录"
      width="820"
    ></DialogRecord>
    <DialogRemote
      v-model="dialogRemoteVisible"
      v-if="dialogRemoteVisible"
      :closeFn="closeRemoteFn"
      title="手动开启喷淋"
      width="720"
    ></DialogRemote>
    <DialogSetting
      v-model="dialogSettingVisible"
      v-if="dialogSettingVisible"
      :closeFn="closeSettingFn"
      title="自动喷淋设置"
      :data="state.rowData"
      width="720"
    ></DialogSetting>
  </div>
</template>
<script setup>
import empty from '@/components/Empty/index.vue';
import dayjs from 'dayjs';
import Table from '@/components/Table';
import DialogRecord from './DialogRecord.vue';
import DialogSetting from './DialogSetting.vue';
import DialogRemote from './DialogRemote.vue';
import {getDeviceList} from '@/api/green/spray';
import useUserStore from '@/store/modules/user'
import { ElMessage } from 'element-plus';
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const state = reactive({
  devicesName: '',
  rowData: {},
});
const isEmpty=ref(false)
const deviceList=ref([])
provide('deviceList',deviceList)
provide('projectId',projectId)
const formatterMethod = (r, c, cell) => {
  const map = { 1: '报警联动开启', 2: '定时开启', 0: '未开启' };
  return map[cell];
};
const formatter2=(r,c,cell)=>{
  return dayjs(cell).format('YYYY-MM-DD HH:mm:ss')
}
const dialogRecordVisible = ref(false);
const dialogRemoteVisible = ref(false);
const dialogSettingVisible = ref(false);

onMounted(() => {
  fetchDeviceList()
})
function fetchDeviceList(){
  getDeviceList(projectId).then(res=>{
    if(res.code!==200)return
    isEmpty.value=!res.data.length
    deviceList.value=res.data
  })
}

const handleViewRecord = () => {
  dialogRecordVisible.value = true;
};
const handleRemote = () => {
  if(deviceList.value.every(item=>item.status===0)){
    ElMessage.warning('设备均离线，无法远程开启喷淋')
  }else{
    dialogRemoteVisible.value = true;
  }
};
const handleSetting = (row) => {
  dialogSettingVisible.value = true;
  // console.log(row);
  state.rowData = row;
};
const closeRemoteFn = () => {
  dialogRemoteVisible.value = false;
};
const closeSettingFn = () => {
  dialogSettingVisible.value = false;
  fetchDeviceList()
};
</script>
<style lang="scss" scoped>
.head {
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  color: #333333;
  background: rgba(0, 0, 0, 0.02);
}
.body {
  padding: 0 20px 20px;
}
.operate {
  display: flex;
  justify-content: space-between;
}
.offline {
  color: #fa5555;
}
.online {
  color: #029b00;
}
</style>
