<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else>
    <div class="whiteboard btn-group mb20">
      <div class="btn" :class="{ active: tabIndex == 1 }" @click="tabSwitch(1)">
        智能开关总览
      </div>
      <div class="btn" :class="{ active: tabIndex == 2 }" @click="tabSwitch(2)">
        智能开关设置
      </div>
      <div class="btn" :class="{ active: tabIndex == 3 }" @click="tabSwitch(3)">
        定时开关设置
      </div>
      <div class="btn" :class="{ active: tabIndex == 4 }" @click="tabSwitch(4)">
        开关记录
      </div>
    </div>
    <BoardOne v-if="tabIndex == 1" />
    <BoardTwo v-if="tabIndex == 2" />
    <BoardThree v-if="tabIndex == 3" />
    <BoardFour v-if="tabIndex == 4" />
  </div>
</template>
<script setup>
import BoardOne from './board1/index.vue'
import BoardTwo from './board2/index.vue'
import BoardThree from './board3/index.vue'
import BoardFour from './board4/index.vue'
import empty from '@/components/Empty/index.vue'
import { getDeviceList} from '@/api/green/switch';
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
provide('projectId',34)
const isEmpty = ref(false)
const tabIndex = ref(1)
const tabSwitch = (index) => {
  tabIndex.value = index
}
const switchgearTree=ref()
const switchgearList=ref()
provide('switchgearTree',switchgearTree)
provide('switchgearList',switchgearList)
onMounted(() => {
  fetchDeviceList()
})
function fetchDeviceList(){
  const arr=[]
  getDeviceList(34).then((res) => {
    if (res.code !== 200) return
    switchgearTree.value = res.data
     res.data.forEach(item => {
      item.deviceInfoList?.forEach(gear=>{
        arr.push(gear)
      })
     });
     switchgearList.value=arr
     isEmpty.value=!Boolean(arr.length)
  })
}
</script>
<style lang="scss" scoped>
.whiteboard {
  padding: 14px 20px;
}
.btn-group {
  .btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #00a0e9;
    font-size: 14px;
    color: #00a0e9;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 16px;
    }
    &.active {
      background: #00a0e9;
      border: none;
      color: white;
    }
  }
}
</style>
