<template>
  <div class="panel custom">
    <div class="head">
      <div class="left"><span class="title">设备状态</span></div>
      <el-button link type="primary" class="right" @click="dialogListVisible=true">查看设备列表</el-button>
    </div>
    <el-row class="body">
      <el-col :span="8">
        <div class="count">{{ state.installCount }}</div>
        <div class="desc">
          <img src="@/assets/images/green/device1.png" alt="" />
          <span>智能电表总数</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="count">{{ state.onlineCount }}</div>
        <div class="desc">
          <img src="@/assets/images/green/device2.png" alt="" />
          <span>在线电表数</span>
        </div>
      </el-col>
      <el-col :span="8">
        <el-popover placement="right-start" :width="200" trigger="hover">
          <template #default>
            <p class="mb10">离线电表数：<span class="text-danger">{{ state.offlineCount }}</span></p>
            <p v-for="(item, index) in state.offlineDeviceList" :key="index">{{ item.deviceName }}</p>
          </template>
          <template #reference>
            <div class="count red">{{ state.offlineCount }}</div>
          </template>
        </el-popover>
        <div class="desc">
          <img src="@/assets/images/green/device3.png" alt="" />
          <span>离线电表数</span>
        </div>
      </el-col>
    </el-row>
  </div>
  <DialogList v-model="dialogListVisible" title="设备列表" width="960" :deviceList="deviceList"></DialogList>
</template>
<script setup>
import DialogList from './DialogList';
import useUserStore from '@/store/modules/user'
import {getDeviceStatus} from '@/api/green/electricity';
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore

const props=defineProps(['deviceList'])
const state=ref({})
onMounted(() => {
  getDeviceStatus(projectId).then(res=>{
    if(res.code!==200)return
    state.value=res.data
  })
})

const dialogListVisible=ref(false)
</script>
<style lang="scss" scoped>
.panel {
  height: 204px;
  .body {
    margin-top: 20px;
  }
  .count {
    color: #333333;
    line-height: 64px;
    font-size: 55px;
    &.red {
      color: var(--el-color-danger);
      display: inline-block;
    }
  }
  .desc {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
    span {
      color: #999999;
      line-height: 19px;
      font-size: 16px;
      margin-left: 12px;
    }
  }
}
.body.single {
  display: flex;
  color: #333333;
  img {
    width: 120px;
    height: 120px;
  }
  .main {
    margin-left: 32px;
    flex: 1;
    p:not(:first-child) {
      margin-top: 24px;
    }
    .status {
      color: var(--el-color-danger);
    }
    .online {
      color: var(--el-color-success);
    }
  }
  .aside {
    width: 166px;
    padding-left: 36px;
    border-left: 1px solid #dcdfe6;
    img {
      width: 32px;
      height: 32px;
    }
    .days {
      font-weight: bold;
      color: #333333;
      line-height: 34px;
      font-size: 32px;
      margin-top: 20px;
    }
  }
}
</style>
