<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">报警信息</div>
      </div>
    </div>
    <el-row class="body">
      <el-col :span="8">
        <div class="count">{{ state.todayCount }}</div>
        <span class="desc">今日报警数</span>
      </el-col>
      <el-col :span="8">
        <div class="count">{{ state.yesterdayCount }}</div>
        <span class="desc">昨日报警数</span>
      </el-col>
      <el-col :span="8">
        <div class="count red">
          {{ state.currentCount }}
          <img class="warn" src="@/assets/images/green/warn.png" alt="">
        </div>
        <span class="desc">当前报警数</span>
      </el-col>
    </el-row>
  </div>
</template>
<script setup>
import {getWarningInfo} from '@/api/green/electricity';
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const state=ref({})

onMounted(()=>{
  getWarningInfo(projectId).then(res=>{
    if(res.code!==200)return
    state.value=res.data
  })
})
</script>
<style lang="scss" scoped>
.panel {
  height: 204px;
  .body {
    margin-top: 20px;
    text-align: center;
  }
  .count {
    position: relative;
    color: #333333;
    line-height: 64px;
    font-size: 55px;
    &.red{
      color: var(--el-color-danger);
    }
  }
  .warn{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 70%;
    top: 0;
  }
    .desc {
      color: #999999;
      line-height: 19px;
      font-size: 16px;
      margin-top: 5px;
    }
}
</style>
