<template>
  <el-dialog :title="success ?'删除':'删除项目'">
    <div class="container success center" v-if="success">
      <div class="tac">
        <img src="@/assets/images/success.png" alt="" />
        <p>项目已删除</p>
      </div>
    </div>
    <div class="container fail center" v-else>
      <div class="tac">
        <img src="@/assets/images/danger.png" alt="" />
        <p>
          您正在执行删除项目的操作，删除后该项目信息将不可恢复，<br/>
          请确认是否继续删除？
        </p>
      </div>
    </div>
    <template #footer v-if="!success">
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="danger" @click="handleDelete">删除</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { deleteProject} from '@/api/projMng'
const props=defineProps(['success','closeFn','id','deleteCallback']);
const handleDelete=()=>{
  deleteProject(props.id).then(res=>{
    if(res.code!==200)return
    props.deleteCallback()
  })
}
</script>
<style lang="scss" scoped>
.container {
  height: 272px;
  img {
    width: 58px;
    height: 58px;
  }
  p {
    margin-top: 16px;
    font-size: 18px;
    color: #333333;
  }
  &.fail {
    p {
      color: #666666;
      line-height: 28px;
      font-size: 14px;
    }
  }
}
</style>
