<template>
  <el-dialog :title="isEdit ?isView?'查看项目':'编辑项目' : '新增项目'">
    <el-form
      ref="formRef"
      :model="form"
      :rules="rules"
      label-width="120"
      :disabled="isView"
      :show-message="false"
    >
      <div class="row form-row">
        <el-form-item label="项目名称" prop="projectName" required>
          <el-input v-model="form.projectName"></el-input>
        </el-form-item>
        <el-form-item label="所属组织" prop="enterpriseId" required>
          <el-tree-select
            style="width: 100%"
            v-model="form.enterpriseId"
            :data="deptList"
            :props="{
              label: 'deptName',
              children: 'children',
            }"
            node-key="deptId"
            check-strictly="true"
            :render-after-expand="false"
          />
        </el-form-item>
        <el-form-item label="项目编码" prop="projectCode" required>
          <el-input type="text" v-model="form.projectCode" />
        </el-form-item>
        <el-form-item label="项目地址" prop="addressCode" required>
          <el-cascader
            style="width: 100%"
            :options="provinceAndCityData"
            v-model="form.addressCode"
            @change="handleChange"
          >
          </el-cascader>
        </el-form-item>
        <el-form-item label="详细地址" prop="address" required>
          <el-input v-model="form.address"></el-input>
        </el-form-item>
        <el-form-item label="业主单位" prop="ownerUnit" required>
          <el-input v-model="form.ownerUnit"></el-input>
        </el-form-item>
        <el-form-item label="建设单位" prop="constructionUnit" required>
          <el-input v-model="form.constructionUnit"></el-input>
        </el-form-item>
        <el-form-item label="建筑面积(m²)" prop="floorSpace" required>
          <el-input v-model="form.floorSpace"></el-input>
        </el-form-item>
        <el-form-item label="设计单位" prop="designUnit" required>
          <el-input v-model="form.designUnit"></el-input>
        </el-form-item>
        <el-form-item label="监理单位" prop="supervisorUnit" required>
          <el-input v-model="form.supervisorUnit"></el-input>
        </el-form-item>
        <el-form-item label="项目经理" prop="manager" required>
          <el-input v-model="form.manager"></el-input>
        </el-form-item>
        <el-form-item label="联系电话" prop="phone" required>
          <el-input v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item label="开工日期" prop="commencementDate" required>
          <el-date-picker
            v-model="form.commencementDate"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="选择日期"
          />
        </el-form-item>
        <el-form-item label="竣工日期" prop="completeDate" required>
          <el-date-picker
            v-model="form.completeDate"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="选择日期"
          />
        </el-form-item>
      </div>
      <el-form-item label="项目图片" prop="photo" required>
        <el-upload
          v-loading="uploadLoading"
          class="avatar-uploader"
          :action="uploadImgUrl"
          :headers="headers"
          :show-file-list="false"
          :on-progress="handleUploadProgress"
          :on-success="handleUploadSuccess"
          :before-upload="beforeUpload"
          :disabled="uploadLoading"
        >
          <img v-if="form.photo" :src="form.photo" class="avatar" />
          <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
        </el-upload>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer" v-if="isView"  v-hasPermi="['projmng:edit']">
        <el-button type="danger" @click="conformDelete(form.id)">删除项目</el-button>
      </span>
      <span class="dialog-footer" v-else  v-hasPermi="['projmng:edit']">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save">保存</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { provinceAndCityData } from 'element-china-area-data'
import { getToken } from '@/utils/auth'
import { addProject, editProject } from '@/api/projMng'
import { ElMessage } from 'element-plus'
const props = defineProps([
  'closeFn',
  'isEdit',
  'editData',
  'saveCallback',
  'deptList',
  'isView',
  'conformDelete'
])
const formRef = ref()
const form = ref({
  projectName: '',
  enterpriseId: '',
  projectCode: '',
  cityCode: '',
  address: '',
  ownerUnit: '',
  constructionUnit: '',
  floorSpace: '',
  designUnit: '',
  supervisorUnit: '',
  phone: '',
  commencement_date: '',
  completeDate: '',
  photo: '',
})
const rules = reactive({
  phone: [{ pattern: /^\d{11}$/, trigger: 'blur', message: '11位' }],
})
const uploadLoading=ref(false)
const headers = ref({ Authorization: 'Bearer ' + getToken() })
const uploadImgUrl = ref(
  import.meta.env.VITE_APP_BASE_API + '/system/file/uploadFile'
) // 上传的图片服务器地址

onMounted(() => {
  if (props.isEdit) {
    const { provinceCode, cityCode, id } = props.editData
    form.value = props.editData
    form.value.id = id
    form.value.addressCode = [provinceCode, cityCode]
  }
})
const handleUploadSuccess = (response, uploadFile) => {
  // imageUrl.value = URL.createObjectURL(uploadFile.raw)
  uploadLoading.value=false
  form.value.photo = response.data
}
const handleUploadProgress=()=>{
  uploadLoading.value=true
}

const beforeAvatarUpload = (rawFile) => {
  // if (rawFile.type !== 'image/jpeg') {
  //   ElMessage.error('Avatar picture must be JPG format!')
  //   return false
  // } else if (rawFile.size / 1024 / 1024 > 2) {
  //   ElMessage.error('Avatar picture size can not exceed 2MB!')
  //   return false
  // }
  // return true
}

const save = async () => {
  const valid = await formRef.value.validate().catch((err) => {
    if (err.phone && form.value.phone) {
      ElMessage.error('手机号为11位数字')
      return 'error'
    }
  })
  if(valid==='error')return
  if (!valid) {
    ElMessage.error('请填写必填项')
    return
  }
  const [provinceCode, cityCode] = form.value.addressCode
  form.value.provinceCode = provinceCode
  form.value.cityCode = cityCode

  if (props.isEdit) {
    editProject({ ...form.value }).then((res) => {
      if (res.code !== 200) return
      props.closeFn()
      props.saveCallback()
    })
  } else {
    addProject({ ...form.value }).then((res) => {
      if (res.code !== 200) return
      props.closeFn()
      props.saveCallback()
    })
  }
}
</script>
<style lang="scss" scoped>
.form-row {
  flex-wrap: wrap;
  .el-form-item {
    flex-basis: 33.33%;
  }
}
:deep(.vxe-select--panel) {
  z-index: 3000 !important;
}
:deep(.el-input) {
  width: 100% !important;
}
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>
