<template>
  <div class="panel normal">
    <div class="head">项目列表</div>
    <div class="body">
      <div class="operate">
        <div class="search-field">
          <el-form :inline="true" class="demo-form-inline">
            <el-form-item>
              <el-input
                style="width: 200px"
                v-model="keyword"
                placeholder="按项目名称搜索"
              />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSearch">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="action-field">
          <div class="filled-btn mr16" @click="handleAdd(false)" v-hasPermi="['projmng:edit']">
            <span>新建项目</span>
            <img class="icon" src="@/assets/icons/add-fill.png" alt="" />
          </div>
        </div>
      </div>
      <div class="main">
        <div class="head">{{ currentRole.enterpriseName }}</div>
        <ul class="ul mt16">
          <li
            class="li"
            v-for="item in projList"
            @click="handleAdd(true, item, true)"
          >
            <img class="project" :src="item.photo || defaultImg" alt="" />
            <div class="info">
              <div class="title">{{ item.projectName }}</div>
              <img
                class="edit"
                src="@/assets/icons/edit2.png"
                @click.stop="handleAdd(true, item)"
                v-hasPermi="['projmng:edit']"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <DialogAdd
      v-if="dialogAddVisible"
      v-model="dialogAddVisible"
      width="1232"
      :isEdit="isEdit"
      :isView="isView"
      :editData="editData"
      :deptList="deptList"
      :closeFn="closeAddFn"
      :saveCallback="saveCallback"
      :conformDelete="conformDelete"
    ></DialogAdd>
    <DialogDelete
      width="480"
      v-model="dialogDelete.visible"
      :success="dialogDelete.success"
      :id="dialogDelete.id"
      :conformDelete="conformDelete"
      :closeFn="closeDelFn"
      :deleteCallback="deleteCallback"
      ></DialogDelete>
    </div>
</template>
<script setup>
import DialogAdd from './DialogAdd.vue'
import DialogDelete from './DialogDelete.vue'
import { getProjList } from '@/api/projMng/index'
import useUserStore from '@/store/modules/user'
import defaultImg from '@/assets/images/project.png'
import { getOrganizeTree } from '@/api/setting/organize'

const userStore = useUserStore()
const { currentRole } = userStore
const projList = ref([])
const editData = ref({})
const dialogAddVisible = ref(false)
const isEdit = ref(false)
const isView = ref(false)
const keyword = ref('')
const deptList = ref([])
const dialogDelete = ref({
  visible: false,
  success: false,
})
onMounted(() => {
  fetchProjList({ data:{enterpriseId: currentRole.enterpriseId} })
  getOrganizeTree({ deptId: currentRole.enterpriseId, showDept: false }).then(
    (res) => {
      deptList.value = res.data
      console.log(deptList.value)
    }
  )
})
function fetchProjList(data) {
  data.pageSize=1000
  getProjList(data).then((res) => {
    if (res.code !== 200) return
    projList.value = res.data.list
  })
}
function onSearch() {
  fetchProjList({
    data:{
      enterpriseId: currentRole.enterpriseId,
      projectName: keyword.value,
    }
  })
}
function saveCallback() {
  fetchProjList({ data:{enterpriseId: currentRole.enterpriseId} })
}
const handleAdd = (flag, data, viewFlag) => {
  dialogAddVisible.value = true
  isEdit.value = flag
  editData.value = data
  isView.value = viewFlag
}

const closeAddFn = () => {
  dialogAddVisible.value = false
}
const closeDelFn = () => {
  dialogDelete.value.visible = false
}
const conformDelete=(id)=>{
  dialogDelete.value.visible=true
  dialogDelete.value.id=id
}
const deleteCallback = () => {
  dialogDelete.value.success = true
  closeAddFn()
  saveCallback()
}
</script>
<style lang="scss" scoped>
.head {
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  color: #333333;
  background: rgba(0, 0, 0, 0.02);
}
.operate {
  display: flex;
  justify-content: space-between;
}
.main {
  .ul {
    margin-left: -12px;
    margin-right: -12px;
    .li {
      cursor: pointer;
      display: inline-block;
      margin: 0 12px 12px;
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
      &:hover {
        border-radius: 0 0 4px 4px;
        box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
      }
      .project {
        width: 272px;
        height: 176px;
      }
      .info {
        display: flex;
        align-items: center;
        height: 46px;
        font-size: 14px;
        padding: 0 5px;
        .title {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .edit {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
</style>
