<template>
  <div class="h-full w-full">
    <header
      class="h-41px bg-light-100 text-11px font-600 text-[#333] flex items-center pl-15px"
    >
      <img
        src="../../../assets/images/device/detail.jpg"
        class="h-10px w-11px mr-5px"
      />设备记录
    </header>
    <section class="p-15px bg-white mb-15px">
      <h1 class="text-11px text-[#333] font-600">设备基本信息</h1>
      <div class="fs my-8px flex flex-col gap-13px">
        <div>设备名称：{{ dataShow ? dataShow.deviceName : '' }}</div>
        <div>设备编码：{{ dataShow ? dataShow.deviceCode : '' }}</div>
        <div>巡检时间：{{ dataShow ? dataShow.tourTime : '' }}</div>
        <div>
          巡检状态：<span
            :class="
              dataShow
                ? dataShow.normalFlag
                  ? 'text-[rgba(0, 0, 0, 0.85)]'
                  : 'text-red'
                : ''
            "
            >{{ dataShow ? (dataShow.normalFlag ? '正常' : '异常') : '' }}</span
          >
        </div>
      </div>
      <div class="fs">情况说明：{{ dataShow ? dataShow.description : '' }}</div>
      <div class="h-1px bg-[#D9D9D9] mt-19px mb-14px"></div>
      <div class="fs mb-5px">
        <img
          src="../../../assets/images/device/imageShow.jpg"
          class="h-10px w-11px"
        />
        现场图片
      </div>
      <el-row class="bg-white">
        <el-col
          v-for="(item, i) in dataShow ? JSON.parse(dataShow.imageUrl) : []"
          :span="4"
          class="mb-42px"
          :key="i"
        >
          <img :src="item" class="w-124px h-107px" />
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script setup>
import { fetchGetTourOneData } from '@/api/device/tour'
import { useRoute } from 'vue-router'

const route = useRoute()

const dataShow = ref()

async function getTourDetail() {
  const { data } = await fetchGetTourOneData(route.query.id)
  dataShow.value = data
}
getTourDetail()
</script>
<style scoped>
.fs {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}
</style>
