<template>
  <div ref="con" class="flex gap-20px h-full">
    <div class="w-[calc(73%-20px)] h-full">
      <div class="flex flex-col gap-20px h-full">
        <el-card
          ref="topLeftRef"
          class="h-70%"
          header="党群资讯"
          :body-style="{ height: `${topLeftHeight - 42}px` }"
        >
          <el-carousel
            :height="`${topLeftHeight - 77}px`"
            indicator-position="none"
            loop
          >
            <el-carousel-item
              @click="handleShowMoal(item)"
              v-for="(item, i) in showDataList.info"
              :key="i"
            >
              <img class="w-full h-70%" :src="item.img" />
              <div v-html="item.content"></div>
            </el-carousel-item>
          </el-carousel>
        </el-card>
        <el-card
          ref="bottomLeftRef"
          class="h-30%"
          header="党群服务"
          :body-style="{ height: `${bottomLeftHeight - 42}px` }"
        >
          <swiper
            class="h-full"
            :modules="modules"
            :slidesPerView="4"
            :spaceBetween="26"
            :autoplay="{
              delay: 2500,
              pauseOnMouseEnter: true,
              disableOnInteraction: false,
            }"
          >
            <swiper-slide
              v-for="(item, i) in showDataList.service"
              :key="i"
              @click="handleShowMoal(item)"
              class="bg-light-700 cursor-pointer"
            >
              <img class="h-full w-full" :src="item.img" />
            </swiper-slide>
          </swiper>
        </el-card>
      </div>
    </div>
    <div class="w-[28%] h-full">
      <el-card
        :body-style="{ height: `${height - 42}px` }"
        class="h-full"
        header="党群阵地"
      >
        <swiper
          class="h-full"
          :modules="modules"
          :slidesPerView="4"
          :spaceBetween="26"
          :autoplay="{
            delay: 2500,
            disableOnInteraction: false,
            pauseOnMouseEnter: true,
          }"
          direction="vertical"
        >
          <swiper-slide
            v-for="(item, i) in showDataList.position"
            :key="i"
            class="bg-light-700 cursor-pointer"
            @click="handleShowMoal(item)"
          >
            <img class="h-full w-full" :src="item.img" />
          </swiper-slide>
        </swiper>
      </el-card>
    </div>
    <el-dialog
      v-model="dialogVisible"
      :title="activeContent.title"
      width="1200"
      top="10vh"
    >
      <span>
        <div class="text-center font-500 text-16px text-[#333]">
          {{ activeContent.title }}
        </div>
        <div class="text-center text-[#999] text-12px">
          发布日期: {{ activeContent.createTime }}
        </div>
        <el-scrollbar height="600px">
          <div class="h-full w-full pt-28px">
            <img class="h-410px w-full" :src="activeContent.img" />
            <div class="px-110px pt-37px" v-html="activeContent.content"></div>
          </div>
        </el-scrollbar>
      </span>
    </el-dialog>
  </div>
</template>

<script setup>
import { useElementBounding } from '@vueuse/core'
import { fetchGetPartyConstructList } from '@/api/partyConstruct/smartConstruct'

// 引入swiper插件
import { Pagination, Autoplay } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'

import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import 'swiper/css/scrollbar'
import { reactive } from 'vue'

const con = ref()
const topLeftRef = ref()
const bottomLeftRef = ref()
const dialogVisible = ref(false)
const showDataList = reactive({
  info: [],
  position: [],
  service: [],
})
const activeContent = ref({})

const modules = ref([Pagination, Autoplay])

// 动态获取父元素高度
const { height } = useElementBounding(con)
const { height: topLeftHeight } = useElementBounding(topLeftRef)
const { height: bottomLeftHeight } = useElementBounding(bottomLeftRef)

function handleShowMoal(con) {
  dialogVisible.value = true
  activeContent.value = con
}

async function getList() {
  const types = ['info', 'position', 'service']
  types.forEach(async (item) => {
    const { data } = await fetchGetPartyConstructList({ projectId: 1 }, item)
    if (data && data.list) {
      showDataList[item] = data.list
    } else {
      showDataList[item] = []
    }
  })
}

getList()
</script>
<style scoped>
:deep(.el-dialog__header) {
  display: none;
}
</style>
