<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else>
    <div class="whiteboard btn-group">
      <div class="btn" :class="{active:tabIndex==1}" @click="tabSwitch(1)">塔机监测</div>
      <div class="btn" :class="{active:tabIndex==2}" @click="tabSwitch(2)">工作记录</div>
      <div class="btn" :class="{active:tabIndex==3}" @click="tabSwitch(3)">报警记录</div>
      <div class="btn" :class="{active:tabIndex==4}" @click="tabSwitch(4)">塔机防碰撞</div>
    </div>
    <BoardOne v-if="tabIndex==1"/>
    <BoardTwo v-if="tabIndex==2"/>
    <BoardThree v-if="tabIndex==3"/>
    <BoardFour v-if="tabIndex==4"/>
  </div>
</template>
<script setup>
import empty from '@/components/Empty/index.vue'
import BoardOne from './board1/index.vue';
import BoardTwo from './board2/index.vue';
import BoardThree from './board3/index.vue';
import BoardFour from './board4/index.vue';
import useUserStore from '@/store/modules/user'
import {getDeviceList} from '@/api/safe/tower';
const isEmpty = ref(false);
const deviceList=ref([])
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const tabIndex=ref(1)
provide('deviceList',deviceList)
provide('projectId',projectId)
onMounted(()=>{
  fetchDeviceList()
})
const tabSwitch=(index)=>{
  tabIndex.value=index
}
function fetchDeviceList(){
  return getDeviceList(projectId).then(res=>{
    if(res.code!==200)return
    if(!res.data?.length){isEmpty.value=true}
    deviceList.value=res.data
    return res.data
  })
}
</script>
<style lang="scss" scoped>
.whiteboard {
  padding: 14px 20px;
}
.btn-group {
  .btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #00a0e9;
    font-size: 14px;
    color: #00a0e9;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 16px;
    }
    &.active {
      background: #00a0e9;
      border: none;
      color: white;
    }
  }
}
</style>
