<template>
  <div class="h-full w-full flex justify-between">
    <div class="w-[15%] min-w-200px mr-15px">
      <div
        class="h-41px bg-[#FAFAFA] rounded-3px text-11px font-600 text-[#333333] p-12px"
        style="box-shadow: 1px 0px 0px 0px rgba(237, 237, 237, 1)"
      >
        设备类
      </div>
      <el-tree-v2
        class="h-[calc(100%-41px)] pt-12px"
        :data="dataTree"
        :props="defaultProps"
        :highlight-current="true"
        @node-click="handleNodeClick"
      >
        <template #default="{ node, data }">
          <span class="prefix">
            <img
              v-show="data.levels === 1"
              :src="folder"
              style="height: 12px; width: 16px; margin-right: 3px"
            />
          </span>
          <div style="display: inline-block; width: calc(100% - 19px)">
            <span>
              {{ node.label }}
            </span>
          </div>
        </template>
      </el-tree-v2>
    </div>
    <div class="w-[calc(85%-15px)] bg-[#FFFFFF]">
      <div
        class="h-41px bg-[#FAFAFA] rounded-3px text-11px font-600 text-[#333333] p-12px"
        style="box-shadow: 1px 0px 0px 0px rgba(237, 237, 237, 1)"
      >
        设备台账模板
      </div>
      <el-row class="px-15px py-12px" justify="between">
        <el-col :span="6">
          <div class="flex">
            <el-input
              v-model="searchValue"
              placeholder="请输入设备标号或设备名称"
            />
            <el-button type="primary" class="ml-12px" @click="getDeviceInfoList"
              >查询</el-button
            >
          </div>
        </el-col>
        <el-col :span="18">
          <div class="flex justify-end">
            <el-button
              type="primary"
              color="#F5F6FB"
              @click="handleClickToAddDevice(showOrNotBtn)"
              class="ml-12px h-27px text-9px overflow-hidden pl-9px pr-0 rounde-2px font-500 text-[#333]"
            >
              <span>{{ showOrNotBtn ? '同步' : '新增设备' }}</span>
              <img class="h-36px w-36px" src="../../../assets/images/add.png" />
            </el-button>
            <el-button
              @click="importDialogVisible = true"
              color="#F5F6FB"
              class="ml-12px h-27px text-9px overflow-hidden pl-9px pr-0 rounde-2px font-500 text-[#333]"
              type="primary"
            >
              <span>批量导入</span>
              <img
                class="h-36px w-36px"
                src="../../../assets/images/import.png"
              />
            </el-button>
            <el-button
              @click="handleClickToExportFile"
              color="#F5F6FB"
              class="ml-12px h-27px text-9px overflow-hidden pl-9px pr-0 rounde-2px font-500 text-[#333]"
              type="primary"
            >
              <span>导出</span>
              <img
                class="h-36px w-36px"
                src="../../../assets/images/export.png"
              />
            </el-button>
            <el-button
              @click="handleClickToDownloadQrcode"
              type="primary"
              color="#F5F6FB"
              class="ml-12px h-27px text-9px overflow-hidden pl-9px pr-0 rounde-2px font-500 text-[#333]"
            >
              <span>下载二维码</span>
              <img
                class="h-36px w-36px"
                src="../../../assets/svgs/download.svg"
              />
            </el-button>
          </div>
        </el-col>
      </el-row>
      <div class="p-15px h-[calc(100%-100px)]">
        <el-table
          class="h-[calc(100%-50px)]"
          :data="deviceData"
          @select="handleSelectTableColumn"
          @select-all="handleSelectTableColumn"
          style="width: 100%"
        >
          <el-table-column align="center" type="selection" width="55" />
          <el-table-column
            align="center"
            type="index"
            label="序号"
            width="55"
          />
          <el-table-column
            v-for="(item, i) in renderTableColumns"
            props="paramName"
            v-show="i + 1 < 5"
            align="center"
            :label="item.paramName"
            :key="i"
          >
            <template #default="{ row }">
              {{
                row.deviceInfoExtVOList.find(
                  (item2) => item.paramId === item2.paramId
                )
                  ? row.deviceInfoExtVOList.find(
                      (item2) => item.paramId === item2.paramId
                    ).paramValue
                  : ''
              }}
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center" width="300">
            <template #default="{ row }">
              <el-button @click="handleClickToCheck(row)" link type="primary"
                >查看</el-button
              >
              <span class="mx-10px">|</span>
              <el-button
                link
                type="primary"
                @click="handleClickToEditDevice(row)"
                >编辑</el-button
              >
              <span class="mx-10px">|</span>
              <el-button
                link
                type="primary"
                @click="handleClickToDeleteDeviceInfo(row.id)"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="flex justify-between my-15px">
          <div class="font-500 text-[#999999] text-11px">
            已全部加载,共{{ pageParams.total }}个
          </div>
          <el-pagination
            background
            layout="prev, pager, next"
            v-model:page-size="pageParams.pageSize"
            v-model:current-page="pageParams.pageNum"
            @size-change="getDeviceInfoList()"
            @current-change="getDeviceInfoList()"
            :total="pageParams.total"
          />
        </div>
      </div>
    </div>
    <!-- 设备信息相关 -->
    <el-dialog
      v-model="addDialogVisible"
      :title="addOrEditFlag ? '新增设备' : '编辑设备'"
      :before-close="handleCloseDialog"
      width="530"
    >
      <span>
        <el-form ref="formRef" :model="addDeviceForm" label-position="top">
          <el-row :gutter="26">
            <el-col v-for="(item, i) in addDeviceForm" :span="8">
              <el-form-item
                :prop="`${item.key}.value`"
                :label="item.label"
                :key="i"
                :rules="item.rules"
              >
                <SelfFormItem
                  :bind-value="item.value"
                  :extra="item.extra"
                  :type="item.type"
                  @change="handleSelectChange($event, item.key)"
                ></SelfFormItem>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="addDialogVisible = false">取消</el-button>
          <el-button type="primary" @click="handleClickToConfig">
            保存
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- 导入数据相关 -->
    <el-dialog
      class="upload-dialog"
      v-model="importDialogVisible"
      title="批量导入"
      width="707px"
    >
      <span>
        <el-upload
          v-model:file-list="fileList"
          ref="uploadRef"
          :headers="{
            Authorization: getToken(),
          }"
          accept=".xlsx"
          :auto-upload="false"
          :on-success="handleUploadSuccess"
          :multiple="true"
          class="upload-demo"
          :action="`/prod-api/system/deviceInfo/importData?projectId=${userStore.projectIdGetter}&catalogId=${
            activeTreeItem.id
          }`"
        >
          <template #default>
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col style="padding-left: 20px" :span="12">文件名</el-col>
              <el-col :span="6">大小</el-col>
              <el-col :span="6" style="text-align: right; padding-right: 22px"
                >操作</el-col
              >
            </el-row>
          </template>
          <template #trigger>
            <el-button class="uploadBtn">
              <img
                src="../../../assets/images/out.png"
                class="w-15px h-16px mr-12px"
                style="transform: rotate(180deg)"
              />
              请选择你需要导入的表格
            </el-button>
          </template>
          <template #file="file">
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col :span="12">{{ file.file.name }}</el-col>
              <el-col :span="6">{{ file.file.size }}</el-col>
              <el-col
                style="text-align: right; padding-right: 22px; padding-top: 5px"
                :span="6"
              >
                <img
                  @click="handleClickRemoveDoc(file)"
                  style="height: 16px; width: 16px; cursor: pointer"
                  src="../../../assets/images/error.png"
                />
              </el-col>
            </el-row>
            <div></div>
          </template>
        </el-upload>
      </span>

      <template #footer>
        <span class="dialog-footer flex justify-between">
          <span>
            <el-button
              style="background-color: #f5f6fb; font-weight: 500; font-size: 12px; color=#333333"
              @click="downloadTemplate"
              >下载模板
              <img :src="download" style="height: 35px; width: 35px" />
            </el-button>
          </span>
          <span>
            <el-button @click="importDialogVisible = false">取消</el-button>
            <el-button type="primary" @click="uploadRef.submit()">
              导入
            </el-button>
          </span>
        </span>
      </template>
    </el-dialog>

    <!-- 返回的图片状态 -->
    <el-dialog
      class="import-data-status-dialog"
      v-model="imageRstDialogVisible"
      width="512px"
    >
      <span>
        <div class="img-con">
          <div>
            <img
              v-show="imageRstDialog.flag"
              style="height: 62px; width: 62px"
              src="../../../assets/images/success.png"
            />
            <img
              v-show="!imageRstDialog.flag"
              style="height: 62px; width: 62px"
              src="../../../assets/images/danger.png"
            />
          </div>
          <div class="mt-12px mb-8px text-[#333333] font-500 text-18px">
            {{
              imageRstDialog.flag
                ? imageRstDialog[imageRstDialog.target].success
                : imageRstDialog[imageRstDialog.target].fail
            }}
          </div>
          <div style="font-size: 14px; color: #666666">{{}}</div>
        </div>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="imageRstDialogVisible = false">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>

    <!-- 查看设备详情 -->
    <el-dialog title="设备详情" v-model="checkDetailVisible" width="384px">
      <span>
        <div v-for="(item, i) in activeCloumnData.deviceInfoExtVOList" :key="i">
          <div class="flex gap-17px text-11px mb-24px">
            <div class="font-550 text-[#333333] font-sans">
              {{ item.paramName }}:
            </div>
            <div class="text-[#666666]">{{ item.paramValue }}</div>
          </div>
        </div>
        <div class="flex gap-17px text-11px">
          <div class="font-550 text-[#333333] font-sans">设备二维码:</div>
          <img class="h-100px w-100px" :src="qrcodeImage" />
          <!-- <QrcodeVue
            id="qrcode"
            :size="100"
            :value="grnerateCodeData(activeCloumnData.deviceInfoExtVOList)"
          ></QrcodeVue> -->
        </div>
      </span>
    </el-dialog>

    <QrcodeVue
      v-for="(item, i) in finalData"
      ref="code"
      class="absolute top-0 left-0 -z-1"
      style="visibility: hidden"
      :id="`qrcode${i}`"
      :size="100"
      :value="item['二维码']"
      :margin="10"
    ></QrcodeVue>
  </div>
</template>

<script setup>
import { ElMessage } from 'element-plus'
import { fetchGetDeviceCatalogData } from '@/api/device/deviceCatalog'
import {
  fetchGetDeviceInfoData,
  fetchChangeDeviceInfo,
  fetchAddDeviceInfo,
  fetchDownLoadTemplate,
  fetchDeleteDeviceInfo,
  fetchExportDevicecData,
  fetchGetQrcodeImages,
  fetchExportQrcode,
  fetchSyncDeviceIotInfo,
} from '@/api/device/deviceInfo'
import { fetchGetDeviceTemplateData } from '@/api/device/deviceTemplate'

import { getToken } from '@/utils/auth'
import download from '../../../assets/svgs/download.svg'
import { handleTree } from '@/utils/ruoyi'
import { nextTick } from 'vue'
import folder from '../../../assets/images/folder.png'
import QrcodeVue from 'qrcode.vue'
import SelfFormItem from './components/CommonFormItem.vue'
import { cloneDeep } from 'lodash'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()

const dataTree = ref()
const activeTreeItem = ref()
const addDialogVisible = ref(false)
const addOrEditFlag = ref(false)
const importDialogVisible = ref(false)
const imageRstDialogVisible = ref(false)
const checkDetailVisible = ref(false)
const selectedCloumns = ref([])
const searchValue = ref('')
// 点击查看的行数据
const activeCloumnData = ref()
const finalData = ref([])

// 展示同步按钮或者不展示
const showOrNotBtn = ref(false)

// dom元素加载
const formRef = ref()
const uploadRef = ref()
const code = ref()

const qrcodeImage = ref()

const pageParams = ref({
  pageNum: 1,
  pageSize: 10,
  total: 0,
})
const addDeviceForm = ref({})
const resetFormValue = ref({})

// table的数据源
const deviceData = ref([])
const renderTableColumns = ref([])

const defaultProps = {
  label: 'catalogName',
  children: 'children',
  value: 'id',
}

const imageRstDialog = reactive({
  delDevice: {
    success: '数据已删除',
    fail: '删除失败',
  },
  importDeviceInfo: {
    success: '你的数据已经成功导入',
    fail: '你的数据不符合规范,请重新导入',
  },
  target: 'delDevice',
  flag: false,
})

async function getDeviceCatalog() {
  const res = await fetchGetDeviceCatalogData()
  if (res.code === 200) {
    dataTree.value = handleTree(res.data)
    activeTreeItem.value = dataTree.value[0]
  }
}

async function getDeviceTemplate() {
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: userStore.projectIdGetter,
  }
  const { code, data } = await fetchGetDeviceTemplateData(params)
  // 等待dom加载完毕,进行dom的动态生成
  await nextTick()
  if (code === 200) {
    data.forEach((item) => {
      addDeviceForm.value[item.id] = {
        label: item.paramName,
        value: '',
        key: item.id + '',
        type: item.paramType,
        extra: item.paramTypeExtra,
        rules: [
          {
            required: item.paramFlag,
            message: `请输入${item.paramName}`,
            trigger:
              item.paramType === 'bool' || item.paramType === 'enums'
                ? 'change'
                : 'blur',
          },
        ],
      }
      resetFormValue.value = cloneDeep(addDeviceForm.value)
    })
    renderTableColumns.value = data
  } else {
    renderTableColumns.value = []
    addDeviceForm.value = {}
  }
}

async function getDeviceInfoList() {
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: activeTreeItem.value.projectId,
    pageNum: pageParams.value.pageNum,
    pageSize: pageParams.value.pageSize,
    keywords: searchValue.value === '' ? undefined : searchValue.value,
  }

  const { code, data } = await fetchGetDeviceInfoData(params)
  if (code === 200) {
    deviceData.value = data.list
    if (data.list && data.list.length > 0) {
      pageParams.value.pageNum = data.pageNum
      pageParams.value.pageSize = data.pageSize
      pageParams.value.total = data.total
    }
  }
}

async function handleNodeClick(e, d) {
  if (e.children) return
  showOrNotBtn.value = handleGetParent(d)
  selectedCloumns.value = []
  addDeviceForm.value = {}
  activeTreeItem.value = e
  await getDeviceTemplate()
  await getDeviceInfoList()
}

/** 获取树型数据的顶层paraent */
function handleGetParent(targetNode) {
  if (targetNode.level !== 1) {
    const parent = targetNode.parent
    return handleGetParent(parent)
  }
  return targetNode.data.catalogName === 'IOT设备' ? true : false
}

async function handleClickToAddDevice(flag) {
  if (!flag) {
    addDialogVisible.value = true
    addOrEditFlag.value = true
  } else {
    await fetchSyncDeviceIotInfo(1)
    ElMessage.success('同步成功')
    getDeviceTemplate()
    getDeviceInfoList()
  }
}

function handleClickToEditDevice(row) {
  row.deviceInfoExtVOList.forEach((item) => {
    addDeviceForm.value[item.templateId].value = item.paramValue
    addDeviceForm.value[item.templateId].deviceId = item.deviceId
    addDeviceForm.value[item.templateId].id = item.id
  })
  addDialogVisible.value = true
  addOrEditFlag.value = false
}

function handleSelectChange(e, key) {
  addDeviceForm.value[key].value = e
}

/** 点击保存执行的函数 */
async function handleClickToConfig() {
  const flag = await formRef.value.validate()
  if (!flag) return

  // 如果是添加执行添加api,反之执行编辑api
  if (addOrEditFlag.value) {
    const addList = Reflect.ownKeys(addDeviceForm.value).map((item) => {
      return {
        templateId: Number(item),
        templateValue: Reflect.get(addDeviceForm.value, item).value,
      }
    })
    const params = {
      catalogId: activeTreeItem.value.id,
      projectId: userStore.projectIdGetter,
      deviceInfoExtList: addList,
    }
    const { code } = await fetchAddDeviceInfo(params)
    if (code === 200) {
      ElMessage.success('添加设备成功')
    }
  } else {
    let deviceIdTop = 0
    const addList = Reflect.ownKeys(addDeviceForm.value).map((item) => {
      const { deviceId, id, value } = Reflect.get(addDeviceForm.value, item)
      deviceIdTop = deviceId
      return {
        templateId: Number(item),
        templateValue: value,
        deviceId,
        id,
      }
    })
    const params = {
      catalogId: activeTreeItem.value.id,
      projectId: userStore.projectIdGetter,
      deviceInfoExtList: addList,
      id: deviceIdTop,
    }
    const { code } = await fetchChangeDeviceInfo(params)
    if (code === 200) {
      ElMessage.success('编辑设备成功')
    }
  }
  getDeviceInfoList()
  addDeviceForm.value = resetFormValue.value
  formRef.value.resetFields()
  addDialogVisible.value = false
}

function downloadTemplate() {
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: userStore.projectIdGetter,
  }
  fetchDownLoadTemplate(params).then((res) => {
    var blob = new Blob([res], {
      type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    })
    var objectUrl = URL.createObjectURL(blob)
    var a = document.createElement('a')
    document.body.appendChild(a)
    a.style = 'display: none'
    a.href = objectUrl
    a.download = `${activeTreeItem.value.catalogName}-批量导入模板`
    a.click()
    document.body.removeChild(a)
  })
}

function handleClickRemoveDoc(file) {
  uploadRef.value.handleRemove(file)
}

function handleUploadSuccess() {
  uploadRef.value.clearFiles()
  importDialogVisible.value = false
  imageRstDialog.flag = true
  imageRstDialog.target = 'importDeviceInfo'
  imageRstDialogVisible.value = true
  getDeviceInfoList()
}

function handleSelectTableColumn(e) {
  selectedCloumns.value = e
}

async function handleClickToDeleteDeviceInfo(id) {
  const { code } = await fetchDeleteDeviceInfo(id)
  if (code === 200) {
    imageRstDialog.flag = true
    imageRstDialog.target = 'delDevice'
    imageRstDialogVisible.value = true
    getDeviceInfoList()
  }
}

async function handleClickToCheck(row) {
  activeCloumnData.value = row
  checkDetailVisible.value = true
  await nextTick()
  fetchGetQrcodeImages(row.id).then((data) => {
    let reader = new FileReader()
    reader.readAsDataURL(data)
    reader.onload = () => {
      qrcodeImage.value = reader.result
    }
  })
}

/**生成二维码数据 */
/* function grnerateCodeData(list) {
  let text = ''
  list.forEach((item) => {
    text += `${item.paramName}: ${item.paramValue}\n`
  })
  return text
} */

/** 点击进行数据的导出 */
function handleClickToExportFile() {
  if (deviceData.value.length === 0) {
    return ElMessage.info('不能导出为空!')
  }
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: activeTreeItem.value.projectId,
    pageNum: pageParams.value.pageNum,
    pageSize: pageParams.value.pageSize,
    keywords: searchValue.value === '' ? undefined : searchValue.value,
  }
  fetchExportDevicecData(params).then((res) => {
    var blob = new Blob([res], {
      type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    })
    var objectUrl = URL.createObjectURL(blob)
    var a = document.createElement('a')
    document.body.appendChild(a)
    a.style = 'display: none'
    a.href = objectUrl
    a.download = `${activeTreeItem.value.catalogName}-数据导出集合`
    a.click()
    document.body.removeChild(a)
  })
  /*   const renderXlsxData = []
  selectedCloumns.value.forEach((item) => {
    renderXlsxData.push(
      handleTableDataToXlsx(item.deviceInfoExtVOList, 'paramName', 'paramValue')
    )
  })

  selectedCloumns.value.length === 0
    ? ElMessage.info('请先选中要导出的数据,不能导出为空!')
    : exportXlsxFile(renderXlsxData, activeTreeItem.value.catalogName) */
}

/** 点击下载二维码按钮 */
async function handleClickToDownloadQrcode() {
  if (deviceData.value.length === 0) {
    return ElMessage.info('不能导出为空!')
  }
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: activeTreeItem.value.projectId,
    pageNum: pageParams.value.pageNum,
    pageSize: pageParams.value.pageSize,
    keywords: searchValue.value === '' ? undefined : searchValue.value,
  }
  fetchExportQrcode(params).then((res) => {
    var blob = new Blob([res], {
      type: 'application/msword',
    })
    var objectUrl = URL.createObjectURL(blob)
    var a = document.createElement('a')
    document.body.appendChild(a)
    a.style = 'display: none'
    a.href = objectUrl
    a.download = `${activeTreeItem.value.catalogName}-二维码导出集合`
    a.click()
    document.body.removeChild(a)
  })
  /* const renderExportData = [[], [], []]
  finalData.value = []
  selectedCloumns.value.forEach((item) => {
    renderExportData[2].push(grnerateCodeData(item.deviceInfoExtVOList))
    item.deviceInfoExtVOList.forEach((item2) => {
      if (item2.paramName === '设备编码') {
        renderExportData[0].push(item2.paramValue)
      } else if (item2.paramName === '设备名称') {
        renderExportData[1].push(item2.paramValue)
      }
    })
  })
  renderExportData[0].forEach((item, index) => {
    renderExportData[1].forEach((item2, index2) => {
      renderExportData[2].forEach((item3, index3) => {
        if (index === index2 && index2 === index3) {
          finalData.value.push({
            设备编码: item,
            设备名称: item2,
            二维码: item3,
          })
        }
      })
    })
  })
  await nextTick()
  const finalDataCopy = finalData.value.map((item, index) => {
    return {
      ...item,
      二维码: {
        hyperlink: consvasToBase64(code.value[index].$el),
        width: 100,
        height: 100,
      },
    }
  })
  exportXlsxFile(finalDataCopy, `${activeTreeItem.value.catalogName}-二维码`)
  return true */
}

async function handleCloseDialog(done) {
  addDeviceForm.value = resetFormValue.value
  await formRef.value.resetFields()
  done()
}

async function initData() {
  await getDeviceCatalog()
  await getDeviceTemplate()
  await getDeviceInfoList()
}
initData()
</script>
<style lang="scss" scoped>
:deep(.el-vl__wrapper),
:deep(.el-tree-virtual-list),
:deep(.el-tree-virtual-list > div) {
  height: 100% !important;
}

:deep(.el-tree-virtual-list > div) {
  overflow-y: auto;
}

:deep(.el-virtual-scrollbar) {
  display: none;
}

.upload-dialog {
  .upload-demo {
    position: relative;
    :deep(.el-upload) {
      width: 100%;
      display: inline-block !important;
    }
    .uploadBtn {
      position: absolute;
      bottom: -40px;
      width: 100%;
      color: #00a0e9;
      font-size: 12px;
    }
  }
}
:deep(.import-data-status-dialog .el-dialog__header) {
  display: none;
}
:deep(.upload-dialog .el-dialog__body) {
  padding-top: 0 !important;
}

:deep(.el-upload-list__item) {
  height: 34px;
  line-height: 34px;
  background: #f8f8f8;
  padding-left: 20px;
}
.import-data-status-dialog {
  .img-con div {
    display: flex;
    justify-content: center;
  }
}

:deep(.el-table) {
  height: calc(100% - 50px);
}
</style>
