<template>
  <div>
    <div class="h-96px w-128px">
      <el-upload
        ref="uploadRef"
        :headers="{ Authorization: getToken() }"
        :before-upload="handleBeforeUpload"
        :on-error="handleUploadError"
        :on-success="handleUploadSuccess"
        :file-list="fileList"
        :show-file-list="false"
        :action="uploadFileUrl"
      >
        <template #trigger>
          <div
            v-if="imageUrl === '' || imageUrl === null"
            class="h-96px w-128px bg-[#F8F8F8] rounded-2px p-9px pt-17px text-center leading-13px cursor-pointer"
          >
            <img
              class="h-18px w-18px inline-block"
              src="../../../../assets/icons/add-fill.png"
            />
            <div
              class="mt-5px font-400 text-[#999] text-9px text-center scale-85 leading-13px"
            >
              支持jpg/png格式,不超过20M,建议图片比例为16:9
            </div>
          </div>
          <img
            @mouseenter="maskVisible = true"
            @mouseleave="maskVisible = false"
            v-else
            class="h-96px w-128px"
            :src="imageUrl"
          />
        </template>
      </el-upload>
      <div
        @click="handleMaskClick"
        class="absolute cursor-default left-0 top-0 h-full w-128px bg-[rgba(0,0,0,.5)] z-30 flex justify-center items-center"
        v-show="maskVisible"
      >
        <span>
          <el-icon
            size="18"
            color="#fff"
            class="mr-10px cursor-pointer"
            @click="dialogVisible = true"
          >
            <ZoomIn />
          </el-icon>
          <el-icon
            @click="handleDelete"
            size="18"
            color="#fff"
            class="ml-10px cursor-pointer"
          >
            <Delete />
          </el-icon>
        </span>
      </div>
    </div>
    <el-dialog width="80%" title="图片查看" v-model="dialogVisible">
      <img class="w-full" :src="imageUrl" />
    </el-dialog>
  </div>
</template>

<script setup>
import { computed, getCurrentInstance, ref } from 'vue'
import { ZoomIn, Delete } from '@element-plus/icons-vue'
import { getToken } from '@/utils/auth'
const uploadFileUrl = ref(
  import.meta.env.VITE_APP_BASE_API + '/system/file/uploadFile'
)

const props = defineProps({
  fileType: {
    type: Array,
    default: () => ['png', 'jpg'],
  },
  size: {
    type: Number,
    default: 20,
  },
  coverImg: {
    type: String,
    default: '',
  },
})

const emit = defineEmits(['update:coverImg'])

const imageUrl = computed({
  get() {
    return props.coverImg
  },
  set(val) {
    return emit('update:coverImg', val)
  },
})

const uploadRef = ref()
const fileList = ref([])
const dialogVisible = ref(false)
const maskVisible = ref(false)

const { proxy } = getCurrentInstance()

function handleBeforeUpload(file) {
  // 校检文件类型
  if (props.fileType.length) {
    const fileName = file.name.split('.')
    const fileExt = fileName[fileName.length - 1]
    const isTypeOk = props.fileType.indexOf(fileExt) >= 0
    if (!isTypeOk) {
      proxy.$modal.msgError(
        `文件格式不正确, 请上传${props.fileType.join('/')}格式文件!`
      )
      return false
    }
  }
  // 校检文件大小
  if (props.size) {
    const isLt = file.size / 1024 / 1024 < props.size
    if (!isLt) {
      proxy.$modal.msgError(`上传文件大小不能超过 ${props.size} MB!`)
      return false
    }
  }
  return true
}

function handleUploadError() {
  proxy.$modal.msgError('上传文件失败')
}

function handleUploadSuccess(e) {
  imageUrl.value = e.data
}

function handleMaskClick(e) {
  e.stopPropagation()
}

function handleDelete() {
  uploadRef.value.clearFiles()
  imageUrl.value = ''
}
</script>
<style scoped></style>
