<template>
  <div class="content">
    <div class="desc" v-if="desc">
      <div class="left">{{desc}}</div>
      <div class="right">{{ text }}</div>
    </div>
    <div class="wrapper">
      <div>
        <span
          class="inner"
          :style="{ width: width, backgroundColor: color }"
        ></span>
      </div>
    </div>
  </div>
</template>
<script setup>
const props = defineProps(['rate', 'color','desc'])
const text=computed(()=>{
  return isNaN(props.rate * 100)?'':parseFloat((props.rate * 100).toFixed(1))+'%'
})
const width=computed(()=>{
  return isNaN(props.rate * 100)?'':parseFloat((Math.min((props.rate * 100).toFixed(1),100)).toFixed(1))+'%'
})
</script>
<style lang="scss" scoped>
.wrapper {
  position: relative;
  height: 10px;
  background: rgba(0, 0, 0, 0.06);
  .inner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00a0e9;
    transition: all 0.5s;
  }

}
.desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .right {
      font-weight: bold;
      font-size: 20px;
    }
  }
</style>
