<template>
  <div class="panel normal">
    <div class="head">智能开关</div>
    <div class="body">
      <div class="tree-wrap">
        <el-tree
          :data="dataSource"
          node-key="deviceId"
          default-expand-all
          :expand-on-click-node="false"
        >
          <template #default="{ node, data }">
            <span class="custom-tree-node">
              <span>{{ node.label }}</span>
              <span v-if="data.type === 1" class="text-primary">
                <a
                  @click="onAdd(false, node.data)"
                  v-hasPermi="['green:switch:edit']"
                  >新增
                </a>
              </span>
              <span v-else>
                <a
                  class="ml10 text-primary"
                  @click="onAdd(true, node.data)"
                  v-hasPermi="['green:switch:edit']"
                >
                  编辑
                </a>
                <el-popconfirm
                  title="确认删除吗?"
                  @confirm="onDelete(node.data.id)"
                >
                  <template #reference>
                    <a
                      class="text-danger ml10"
                      v-hasPermi="['green:switch:edit']"
                    >
                      删除
                    </a>
                  </template>
                </el-popconfirm>
              </span>
            </span>
          </template>
        </el-tree>
      </div>
      <div class="warn-wrap">
        <img class="warning" src="@/assets/images/green/warning.png" alt="" />
        <div class="box">
          <div>使用前按现场接线情况将对应用电设备与智能开关关联</div>
          <div class="danger">请勿连接危险用电设备！</div>
        </div>
      </div>
    </div>
    <el-dialog
      :title="`${isEdit ? '编辑' : '添加'}终端设备`"
      v-model="visible"
      width="660"
      @close="onClose"
    >
      <el-form
        :model="form"
        ref="formRef"
        :rules="rules"
        label-width="150px"
        label-position="right"
        :show-message="false"
      >
        <el-form-item label="智能开关：">
          {{ dialogData.switchName }}
        </el-form-item>
        <el-form-item label="终端设备名称：" prop="switchgearName" required>
          <el-input
            v-model="form.switchgearName"
            minlength="2"
            maxlength="10"
          ></el-input>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button type="info" @click="visible = false">取消</el-button>
        <el-button
          type="primary"
          @click="save"
          v-hasPermi="['green:switch:edit']"
          >确认</el-button
        >
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import {
  getDeviceList,
  addDevice,
  editDevice,
  delDevice,
} from '@/api/green/switch'
import { ElMessage } from 'element-plus'
const projectId = inject('projectId')
const dataSource = ref([])
const visible = ref(false)
const formRef = ref()
const form = reactive({
  switchgearName: undefined,
})
const dialogData = ref({})
const isEdit = ref(false)

onMounted(() => {
  fetchData()
})

function fetchData() {
  return getDeviceList(projectId).then((res) => {
    if (res.code !== 200) return
    let data = res.data
    data.forEach((item) => {
      item.label = item.deviceName
      item.type = 1
      item.children = item.deviceInfoList
      item.switchName = item.deviceName
      if (item.children && item.children.length) {
        item.children.forEach((device) => {
          device.label = device.switchgearName
          device.type = 2
          device.switchName = item.deviceName
        })
      }
    })
    dataSource.value = data
  })
}

function onAdd(flag, data) {
  formRef.value && formRef.value.resetFields()
  isEdit.value = flag
  visible.value = true
  dialogData.value = data
  if (flag) {
    form.switchgearName = data.switchgearName
  }
}
function onDelete(id) {
  delDevice(id).then((res) => {
    visible.value = false
    fetchData()
    ElMessage.success(`删除设备成功`)
  })
}
function onClose() {}
async function save() {
  const valid = await formRef.value.validate()
  if (!valid) return
  let promise, params
  if (isEdit.value) {
    params = {
      id: dialogData.value.id,
      switchgearName: form.switchgearName,
      projectId,
    }
    promise = editDevice(params)
  } else {
    params = {
      switchId: dialogData.value.deviceId,
      switchgearName: form.switchgearName,
      projectId,
    }
    promise = addDevice(params)
  }
  promise.then((res) => {
    if (res.code !== 200) return
    visible.value = false
    fetchData()
    ElMessage.success(`${isEdit.value ? '修改' : '添加'}设备成功`)
  })
}
</script>
<style lang="scss" scoped>
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  height: 40px;
}
.panel {
  .body {
    display: flex;
    .tree-wrap {
      flex: 1;
    }
    .warn-wrap {
      flex: 1;
      font-size: 18px;
      color: var(--el-color-primary);
      text-align: center;
      .box {
        width: 300px;
        padding: 13px;
        background: rgba(0, 160, 233, 0.1);
        margin: -40px auto 0;
      }
      .warning {
        width: 230px;
        height: 230px;
      }
      .danger {
        font-size: 20px;
        color: var(--el-color-danger);
      }
    }
  }
}
.tree-wrap {
  width: 50%;
  margin-top: 16px;
}
:deep(.el-tree-node__content) {
  height: 38px;
  line-height: 38px;
}
</style>
