<template>
  <div class="row mt20">
    <div class="col-auto" style="width: 820px">
      <div class="whiteboard">
        <div class="wrap" ref="wrap">
          <TowerCollision
            :tower-status-list="towerStatusList"
            :zoomOut="zoomOut"
          >
          </TowerCollision>
        </div>
      </div>
    </div>
    <div class="col-auto ml20" style="width: 360px">
      <div class="panel custom">
        <table>
          <thead>
            <tr>
              <th>设备名称</th>
              <th>报警类型</th>
              <th>设备状态</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in towerStatusList" :key="index">
              <td>{{item.deviceName}}</td>
              <td><div :class="['tag','status'+item.towerGroupCollisionAlarm ]">{{typeMap[item.towerGroupCollisionAlarm]}}</div></td>
              <td><div :class="['tag','status'+item.moduleStatus ]">{{statusMap[item.moduleStatus]}}</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script setup>
import TowerCollision from './TowerCollision.vue'
import {getAntiCollision} from '@/api/safe/tower';

const projectId=inject('projectId')
const wrap = ref()
const zoomOut = ref()
const typeMap=['正常','预警','报警']
const statusMap=['正常','故障']
const towerStatusList = ref([])
let timer=null
onMounted(()=>{
  const run=()=> getAntiCollision(projectId).then(res=>{
    if(res.code!==200)return
    resetOrigin(res.data)
    timer=setTimeout(run, 5000);
  })
  run()
})
function resetOrigin(list) {
  const xList = list.map((item) => item.x)
  const yList = list.map((item) => item.y)
  const offsetLeft = Math.min(
    ...list.map((item) => item.x - item.forearmLength)
  )
  const offsetRight = Math.max(
    ...list.map((item) => item.x + item.forearmLength)
  )
  const offsetBottom=Math.min(...list.map(item=>item.y-item.forearmLength))
  const offsetTop=Math.max(...list.map(item=>item.y+item.forearmLength))
  const wrapWidth = offsetRight - offsetLeft
  const wrapHeight=offsetTop-offsetBottom
  zoomOut.value = parseInt(Math.min(wrap.value?.offsetWidth/ wrapWidth,wrap.value?.offsetHeight/wrapHeight) )
  const origin = {
    x: parseInt((Math.min(...xList) + Math.max(...xList)) / 2),
    y: parseInt((Math.min(...yList) + Math.max(...yList)) / 2),
  }
  list.forEach((item) => {
    item.x = item.x - origin.x
    item.y = item.y - origin.y
  })
  console.log(list);
  towerStatusList.value=list
}
onUnmounted(()=>{
  clearTimeout(timer)
  timer=null
})
</script>
<style lang="scss" scoped>
.whiteboard {
  height: calc(100vh - 204px);
  padding: 100px;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  thead {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.02);
    color: #666666;
    line-height: 50px;
  }
  tbody {
    tr {
      height: 48px;
      vertical-align: middle;
      td:first-child {
        color: #333333;
      }
    }
  }
}
.tag {
  display: inline-block;
  font-size: 12px;
  padding: 3px 17px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  &.status1 {
    color: var(--el-color-warning);
    background: rgba(255, 172, 107, 0.04);
  }
  &.status2 {
    color: var(--el-color-danger);
    background: rgba(250, 85, 85, 0.04);
  }
  &.status0 {
    color: var(--el-color-primary);
    background: rgba(0, 160, 233, 0.04);
  }
}
.wrap {
  height: 100%;
  width: 100%;
}
</style>
