<template>
  <div class="tower-collision">
    <div class="coordinate-plane">
      <div
        v-for="(item, index) in towerStatusList"
        :key="item.id"
        :ref="item.id"
        class="tower"
        :class="`color${index}`"
        :style="calculatePosition(item, index)"
      >
        <div class="circle-center">
          <div class="legend" :style="rotateLegend(index)">{{ item.name }}</div>
        </div>
        <div class="boom">
          <div class="legend" :style="rotateLegend(index)">
            {{ item.rotation }}°
          </div>
        </div>
        <div class="tail-boom" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TowerCollision',
  props: {
    towerStatusList: {
      type: Array,
      default: () => {
        return []
      },
    },
    zoomOut:1
  },
  mounted() {
    // this.rotateTower()
  },
  methods: {
    rotateLegend(index) {
      if (this.towerStatusList[index].rotation > 0) {
        return {
          transform:
            'rotate(-' + this.towerStatusList[index].rotation + 'deg)',
        }
      } else {
        return {
          transform:
            'rotate(' + (0 - this.towerStatusList[index].rotation) + 'deg)',
        }
      }
    },
    calculatePosition(item, index) {
      const currStatus = this.towerStatusList[index]
      const ret = {
        width: parseFloat(item.forearmLength*2) * this.zoomOut + 'px',
        height: parseFloat(item.forearmLength*2) * this.zoomOut + 'px',
        transform:`translate(${item.x *this.zoomOut}px,${item.y *this.zoomOut}px) rotate(${currStatus.rotation}deg)`,

      }
      return ret
    },
    rotateTower() {
      this.towerStatusList.forEach(towerStatus => {
        towerStatus.rotation += 5
      })
      this.$forceUpdate()
      setTimeout(this.rotateTower, 1000)
    },
  },
}
</script>

<style lang="scss" scoped>
.tower-collision {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .coordinate-plane {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .tower {
    border-radius: 50% 50%;
    position: absolute;
    font-size: 19px;
    font-weight: 400;
    color: rgba(192, 192, 192, 0.8);
    border: #cccccc solid 1px;
    line-height: 12px;
    transform: rotate(0);
    transition: transform 1000ms linear 0s;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
    .legend {
      position: absolute;
      width: 50px;
      left: 100%;
      top: 40%;
      transition: transform 1000ms linear 0s;
    }

    .circle-center {
      width: 3%;
      height: 3%;
      border-radius: 50% 50%;
      position: relative;
      background: #cccccc;
      left: 50%;
    top: 50%;
    translate: -50% -50%;
      .legend {
        position: absolute;
        width: 120px;
        left: 0;
        top: 100%;
        transition: transform 1000ms linear 0s;
      }
    }
    .boom {
      position: absolute;
      width: 50%;
      height: 50%;
      left: 0;
      top: 0;
      border-right: solid 1px #cccccc;
    }
    .tail-boom {
      position: absolute;
      width: 50%;
      height: 10%;
      left: 0;
      top: 50%;
      border-right: solid 1px;
    }

    &.color0 {
      color: var(--el-color-primary);
      border: var(--el-color-primary) solid 1px;
      .circle-center {
        background: var(--el-color-primary);
      }
      .boom,
      .tail-boom {
        border-color: var(--el-color-primary);
      }
    }
    &.color1 {
      color: var(--el-color-success);
      border: var(--el-color-success) solid 1px;
      .circle-center {
        background: var(--el-color-success);
      }
      .boom,
      .tail-boom {
        border-color: var(--el-color-success);
      }
    }
    &.color2 {
      color: var(--el-color-warning);
      border: var(--el-color-warning) solid 1px;
      .circle-center {
        background: var(--el-color-warning);
      }
      .boom,
      .tail-boom {
        border-color: var(--el-color-warning);
      }
    }
  }
}
</style>
