<template>
  <div class="button_box">
    <span>{{ props.btnName }}</span
    ><el-icon
      ><svg
        t="1678844449096"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="3615"
        width="48"
        height="48"
      >
        <path
          d="M612.37248 411.62752V30.208h-200.74496v381.41952H30.208v200.74496h381.41952v381.41952h200.74496V612.37248h381.41952v-200.74496z"
          p-id="3616"
          fill="#ffffff"
        ></path></svg
    ></el-icon>
  </div>
</template>

<script setup>
const props = defineProps({
  btnName: {
    type: String,
    default: '新增类别',
  },
})
</script>

<style lang="scss" scoped>
.button_box {
  width: 96px;
  height: 32px;
  line-height: 32px;
  background-color: #f5f6fb;
  margin-left: -5px;
  span {
    display: block;
    width: 65%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    float: left;
  }
  .el-icon {
    background-color: #00a0e9;
    float: right;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-top: 6px;
    margin-right: 12px;
    border-radius: 20px;
  }
}
</style>
