<template>
  <div class="panel custom">
    <div class="head">
      <div class="left"><div class="title">昨日各时段用水量</div></div>
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import { GridComponent } from 'echarts/components'
import { BarChart } from 'echarts/charts'
import { CanvasRenderer } from 'echarts/renderers'
import { getHoursUsed } from '@/api/green/water'

echarts.use([GridComponent, BarChart, CanvasRenderer])
const props = defineProps(['zoneId', 'projectId'])
const container = ref(null)
let myChart
onMounted(() => {
  fetchData(props.projectId, props.zoneId).then(initChart)
})
watch(props, (newProps) => {
  fetchData(newProps.projectId, newProps.zoneId).then((res) => {
    const option = myChart.getOption()
    option.series[0].data = res
    myChart.setOption(option)
  })
})
function fetchData(projectId, zoneId) {
  return getHoursUsed({ projectId, zoneId }).then((res) => {
    if (res.code !== 200) return
    const data = res.data.map((item) => item.total)
    return data
  })
}
function initChart(data) {
  myChart = echarts.init(container.value)
  var option

  option = {
    grid: {
      left: '3%',
      right: '0',
      bottom: '20%',
    },
    tooltip: {
      trigger: 'item',
      axisPointer: {
        type: 'shadow',
      },
      formatter: '{b}<br/><br/>{a}  {c} 吨',
    },
    xAxis: {
      type: 'category',
      data: [
        '00:00~2:00',
        '2:00~4:00',
        '4:00~6:00',
        '6:00~8:00',
        '8:00~10:00',
        '10:00~12:00',
        '12:00~14:00',
        '14:00~16:00',
        '16:00~18:00',
        '18:00~20:00',
        '20:00~22:00',
        '22:00~24:00',
      ],
      axisTick: {
        alignWithLabel: true,
      },
    },
    yAxis: {
      type: 'value',
    },
    series: [
      {
        data,
        type: 'bar',
        name:'用水量',
        barWidth: 10,
        itemStyle: {
          borderRadius: [5, 5, 0, 0],
          color: '#00A0E9',
        },
      },
    ],
  }
  option && myChart.setOption(option)
}
</script>
<style lang="scss" scoped>
.panel {
  height: 320px;
}
.container {
  height: 280px;
}
</style>
