<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">数据详情</div>
      </div>
    </div>
    <div class="body">
      <el-table :data="dataSource" :flexible="true">
        <el-table-column label="时间" prop="time" />
        <el-table-column
          v-for="(item, index) in rawData"
          :key="index"
          :label="item.zoneName"
          :prop="item.zoneName"
        />
        <el-table-column label="合计用水量（吨）" prop="rowTotal">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script setup>
import { getTableData } from '@/api/green/water'
const props = defineProps(['projectId', 'periodType', 'dataRange'])
const rawData = ref([])
const dataSource = ref([])

onMounted(() => {
  fetchData({
    periodType: props.periodType,
    ...props.dataRange,
    projectId: props.projectId,
  })
})
watch(
  () => props.periodType,
  (newValue) => {
    fetchData({
      periodType: newValue,
      ...props.dataRange,
      projectId: props.projectId,
    })
  }
)
watch(props.dataRange, (newValue) => {
  if (!newValue.startTime || !newValue.endTime) return
  fetchData({
    periodType: props.periodType,
    projectId: props.projectId,
    ...newValue,
  })
})
function fetchData(params) {
  getTableData(params).then((res) => {
    if (res.code !== 200 && res?.data[0]) return
    const group = res.data
    rawData.value = group
    const arr = res.data[0].dtoList
    const newData = []
    for (const index in arr) {
      const row = {}
      let rowTotal = 0
      if(group.length>1){
        for (const col of group) {
          row.time = col.dtoList[index].timeStr
          row[col.zoneName] = col.dtoList[index].total
          rowTotal += col.dtoList[index].total
        }
        row.rowTotal = rowTotal.toFixed(2)
      }else{
        row.time = group[0].dtoList[index].timeStr
        row.rowTotal=group[0].dtoList[index].total
      }
      newData.push(row)
    }
    dataSource.value = newData
  })
}
</script>
<style lang="scss" scoped>
.panel {
  height: auto !important;
  .body {
    margin-top: 26px;
  }
}
</style>
