<template>
  <el-dialog>
    <div
      class="filled-btn block add"
      @click="addGroup(false)"
      v-hasPermi="['green:water:edit']"
    >
      <img class="mr16" src="@/assets/icons/add.png" alt="" />
      <span>新增分组</span>
    </div>
    <div class="mt16">
      <el-tree
        :data="dataSource"
        node-key="id"
        default-expand-all
        :expand-on-click-node="false"
      >
        <template #default="{ node, data }">
          <span class="custom-tree-node">
            <span>{{ node.label }}</span>
            <span v-if="data.type === 1" class="text-primary">
              <a
                v-if="!data.isDefault"
                @click="showDeviceDialog(data)"
                v-hasPermi="['green:water:edit']"
                >添加</a
              >
              <a
                v-if="!data.isDefault"
                class="ml10"
                @click="addGroup(true, data)"
                v-hasPermi="['green:water:edit']"
              >
                编辑
              </a>
            </span>
            <span v-else class="text-danger">
              <el-popconfirm title="确认删除吗?" @confirm="onDelDevice(data)">
                <template #reference>
                  <a
                    class="red"
                    v-if="!data.isParentDefault"
                    v-hasPermi="['green:water:edit']"
                  >
                    删除
                  </a>
                </template>
              </el-popconfirm>
            </span>
          </span>
        </template>
      </el-tree>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">返回</el-button>
      </span>
    </template>
    <el-dialog
      :title="groupDialog.isEdit ? '编辑分组' : '新增分组'"
      v-model="groupDialog.visible"
      width="400"
    >
      <div>
        <el-form :model="formGroup" ref="formGroupRef" :show-message="false">
          <el-form-item label="区域管理：" prop="zoneName" required>
            <el-input v-model="formGroup.zoneName" maxlength="10"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="groupDialog.visible = false">取消</el-button>
          <el-button type="primary" @click="save">确认</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog title="添加水表" v-model="deviceDialogVisible" width="400">
      <div>
        <el-form :model="formDevice" ref="formDeviceRef" :show-message="false">
          <el-form-item
            label="选择水表："
            prop="deviceCode"
            required
            :show-message="false"
          >
            <!-- <el-input v-model="formDevice.deviceName"></el-input> -->
            <el-select
              class="w100"
              v-model="formDevice.deviceCode"
              value-key=""
              placeholder="请选择"
            >
              <el-option
                v-for="item in deviceList"
                :key="item.deviceCode"
                :label="item.label"
                :value="item.deviceCode"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="deviceDialogVisible = false">取消</el-button>
          <el-button type="primary" @click="onAddDevice">确认</el-button>
        </span>
      </template>
    </el-dialog>
  </el-dialog>
</template>
<script setup>
import {
  getZoneList,
  addZone,
  editZone,
  delDevice,
  addDevice,
} from '@/api/green/water'
import useUserStore from '@/store/modules/user'
import { ElMessage } from 'element-plus'

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
defineProps(['closeFn'])
const dataSource = ref([])
const groupDialog = ref({
  visible: false,
  isEdit: false,
  editData: {},
})
const deviceDialogVisible = ref(false)
const formGroupRef = ref()
const formDeviceRef = ref()
const deviceList = ref([])
const formGroup = ref({
  zoneName: '',
})
const formDevice = ref({
  deviceCode: '',
})

onMounted(() => {
  fetchZoneList()
})
const fetchZoneList = () => {
  return getZoneList({ projectId }).then((res) => {
    let data = res.data
    data.forEach((item) => {
      item.label = item.zoneName
      item.type = 1
      item.children = item.deviceInfoList
      if (item.children && item.children.length) {
        item.children.forEach((device) => {
          device.label = device.deviceName
          device.type = 2
          device.isParentDefault = item.isDefault
        })
      }
    })
    dataSource.value = data
    deviceList.value = data.find((item) => item.id === 1).children
  })
}
const addGroup = (isEdit, editData) => {
  groupDialog.value = { visible: true, isEdit, editData }
  if (isEdit) {
    formGroup.value = editData
  }
}
const showDeviceDialog = ({ id }) => {
  deviceDialogVisible.value = true
  formDevice.value.zoneId = id
}
const onAddDevice = () => {
  addDevice({ ...formDevice.value }).then((res) => {
    if (res.code !== 200) return
    deviceDialogVisible.value = false
    ElMessage.success('添加水表成功')
    fetchZoneList()
  })
}
const onDelDevice = ({ deviceCode: deviceCodes }) => {
  delDevice(deviceCodes).then((res) => {
    if (res.code !== 200) return
    ElMessage.success('删除设备成功')
    fetchZoneList()
  })
}
const save = async () => {
  const valid = formGroupRef.value.validate().catch(console.log)
  if (!valid) return
  let res
  if (groupDialog.value.isEdit) {
    res = await editZone({ projectId, ...formGroup.value })
  } else {
    res = await addZone({ projectId, ...formGroup.value })
  }
  if (res.code !== 200) return
  groupDialog.value.visible = false
  fetchZoneList()
}
</script>
<style lang="scss" scoped>
.add {
  color: #00a0e9;
  img {
    width: 16px;
    height: 16px;
  }
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>
