<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else>
    <div class="row">
      <div class="col">
        <DeviceStatus :projectId="projectId" :showEmpty="showEmpty"></DeviceStatus>
      </div>
      <div class="col ml20">
        <Statistics :projectId="projectId"></Statistics>
      </div>
    </div>

    <div class="panel custom mt20">
      <div class="head">
        <div class="left">
          <!-- <div class="title">趋势分析</div> -->
          <div class="">
            <span>选择区域：</span>
            <el-select
              v-model="params.zoneId"
              placeholder="请选择"
              style="width: 200px"
              clearable
            >
              <el-option label="全部区域" :value="undefined"></el-option>
              <el-option
                v-for="item in zoneList"
                :key="item.id"
                :label="item.zoneName"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
          <div class="gap center-v">
            <span>统计周期：</span>
            <el-radio-group
              :model-value="params.periodType"
              class="right"
              size="small"
              @change="radioChange"
            >
              <el-radio-button label="day">按日</el-radio-button>
              <el-radio-button label="month">按月</el-radio-button>
              <el-radio-button label="year">按年</el-radio-button>
            </el-radio-group>
          </div>
          <div class="gap">
            <span>选择时段：</span>
            <el-date-picker
              v-model="dataRange.startTime"
              :type="dateType"
              value-format="YYYY-MM-DD"
              placeholder="开始日期"
              :disabled-date="disabledStartDate"
            />
            -
            <el-date-picker
              v-model="dataRange.endTime"
              :type="dateType"
              value-format="YYYY-MM-DD"
              placeholder="结束日期"
              :disabled-date="disabledEndDate"
            />
          </div>
        </div>
        <el-button
          link
          type="primary"
          class="right"
          @click="dialogAreaVisible = true"
          >用水区域管理</el-button
        >
      </div>
      <div class="body">
        <Trend :params="params" :dataRange="dataRange"></Trend>
      </div>
      <DialogArea
        v-model="dialogAreaVisible"
        :closeFn="closeDialogFn"
        title="用水区域管理"
        width="720"
      ></DialogArea>
    </div>
    <AverageWater
      class="mt20"
      :zoneId="params.zoneId"
      :projectId="projectId"
    ></AverageWater>
    <DataDetail
      class="mt20"
      :projectId="projectId"
      :periodType="params.periodType"
      :dataRange="dataRange"
    ></DataDetail>
  </div>
</template>
<script setup>
import empty from '@/components/Empty/index.vue'
import DeviceStatus from './DeviceStatus.vue'
import Statistics from './Statistics.vue'
import Trend from './Trend.vue'
import AverageWater from './AverageWater.vue'
import DataDetail from './DataDetail.vue'
import DialogArea from './DialogArea.vue'
import { getZoneList } from '@/api/green/water'
import useUserStore from '@/store/modules/user'
import dayjs from 'dayjs'

const releaseDate=import.meta.env.VITE_APP_RELEASE_DATE
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const isEmpty = ref(false)

const params = reactive({
  projectId,
  zoneId: undefined,
  periodType: 'day',
})
const dataRange = reactive({
  startTime: undefined,
  endTime: undefined,
})
const showEmpty=()=>{
  isEmpty.value=true
}
const dateType = computed(() => {
  if (params.periodType === 'day') {
    return 'date'
  } else {
    return params.periodType
  }
})
const radioChange = (val) => {
  dataRange.startTime = undefined
  dataRange.endTime = undefined
  params.periodType=val
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dataRange.endTime) {
    valid = valid && date <= dayjs(dataRange.endTime)
    if (params.periodType === 'day') {
      valid = valid && date > dayjs(dataRange.endTime).subtract(30, 'day')
    }
    if (params.periodType === 'month') {
      valid = valid && date > dayjs(dataRange.endTime).subtract(12, 'month')
    }
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dataRange.startTime) {
    valid = valid && date >= dayjs(dataRange.startTime)
    if (params.periodType === 'day') {
      valid = valid && date < dayjs(dataRange.startTime).add(30, 'day')
    }
    if (params.periodType === 'month') {
      valid = valid && date < dayjs(dataRange.startTime).add(12, 'month')
    }
  }
  return !valid
}
// const dateEndChange = (val) => {
//   if(!val)return
//   dataRange.endTime = dayjs(val)
//     .endOf(params.periodType === 'day' ? 'date' : params.periodType)
// }
const zoneList = ref([])
const dialogAreaVisible = ref(false)
const closeDialogFn = () => {
  dialogAreaVisible.value = false
}

// const defaultTime = ref(new Date(2023, 12, 31, 23, 59, 59))
onMounted(() => {
  getZoneList({ projectId }).then((res) => {
    if (res.code !== 200) return
    zoneList.value = res.data
  })
})
</script>
<style lang="scss" scoped>
.panel {
  height: 320px;
  .gap {
    margin-left: 30px;
  }
}
</style>
