<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">用水统计</div>
      </div>
      <el-radio-group v-model="params.timeType" class="right">
        <el-radio-button :label="-1">昨日</el-radio-button>
        <el-radio-button :label="-7">近7天</el-radio-button>
        <el-radio-button :label="-30">近30天</el-radio-button>
      </el-radio-group>
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import {
  TooltipComponent,
  LegendComponent,
  TitleComponent,
} from 'echarts/components'
import { PieChart } from 'echarts/charts'
import { LabelLayout } from 'echarts/features'
import { CanvasRenderer } from 'echarts/renderers'
import { getTotalUse } from '@/api/green/water'
echarts.use([
  TooltipComponent,
  TitleComponent,
  LegendComponent,
  PieChart,
  CanvasRenderer,
  LabelLayout,
])

const props = defineProps(['projectId'])
const params = reactive({
  projectId: props.projectId,
  periodType: 'day',
  timeType: -1,
})
const container = ref(null)
const typeMap={'-1':'昨日','-7':'近7天','-30':'近30天'}
let myChart
onMounted(() => {
  myChart = echarts.init(container.value, '')
  fetchData()
})

watch(params, () => {
  fetchData()
})
function fetchData() {
  getTotalUse(params).then((res) => {
    const data = res.data.map((item) => ({
      name: item.zoneName,
      value: item.total||null,
    }))
    const total = data.reduce((pre, cur) => (pre += cur.value), 0)
    if(!total){
      data.push({value:0,itemStyle:{color:'lightgray'}})
    }
    const option=getOption(data,total)
    option.title.text=typeMap[params.timeType]+'用水量'
    option.title.subtext=total.toFixed(2)+'吨'
    myChart.setOption(option)
  })
}
function getOption(data,total) {
  const option = {
    tooltip: {
      trigger: 'item',
    },
    title: {
      x: '14.5%',
      y: '35%',
      textAlign: 'center',
      text: '',
      subtext: '',
      textStyle: {
        fontSize: 12,
        fontWeight: 'normal',
        color: '#4B535E',
      },
      subtextStyle: {
        fontSize: 14,
        fontWeight: 'bold',
        color: '#000000;',
      },
    },
    legend: {
      show: true,
      icon: 'circle',
      top: 'center',
      right: '0',
      itemWith: 8,
      itemHeight: 8,
      width: 400,
      formatter: (name) => {
        const value = data.find((item) => item.name === name).value
        const rate = total ? Number(((value / total) * 100).toFixed(2)) + '%' : '0%'
        return `{a|${name}}{b|${rate}} `
      },
      textStyle: {
        rich: {
          a: {
            color: '#999999',
            fontSize: 14,
            width: 80,
          },
          b: {
            color: '#999999',
            fontSize: 14,
            width: 50,
          },
        },
      },
    },
    series: [
      {
        type: 'pie',
        radius: ['50%', '85%'],
        center: ['15%', '50%'],
        avoidLabelOverlap: false,
        label: {
          show: false,
          position: 'center',
        },
        labelLine: {
          show: false,
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 15,
            fontWeight: 'bold',
            color: '#fff',
            formatter: '{b}\n\n{c}',
          },
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
        data,
      },
    ],
  }
  return option
}
</script>
<style lang="scss" scoped>
.panel {
  height: 204px !important;
}
.container {
  height: 150px;
  width: 100%;
}
</style>
