<template>
<div class="container" ref="container"></div>
</template>
<script setup>
import * as echarts from 'echarts/core';
import { GridComponent } from 'echarts/components';
import { LineChart } from 'echarts/charts';
import { UniversalTransition } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';
import {getFilterUsed} from '@/api/green/water';
echarts.use([GridComponent, LineChart, CanvasRenderer, UniversalTransition]);

const props=defineProps(['params','dataRange'])
const container = ref(null);
let myChart
onMounted(() => {
  fetchData().then(([xData,yData])=>{
    initChart(xData,yData)
  })
});

watch(props.params,()=>{
  fetchData().then(([xData,yData])=>{
    const option = myChart.getOption();
    option.xAxis[0].data = xData;
    option.series[0].data = yData;
    myChart.setOption(option);
  })
})
watch(props.dataRange,(val)=>{
  if(!val.startTime||!val.endTime)return
  fetchData().then(([xData,yData])=>{
    const option = myChart.getOption();
    option.xAxis[0].data = xData;
    option.series[0].data = yData;
    myChart.setOption(option);
  })
})
function fetchData(){
  return getFilterUsed({...props.params,...props.dataRange}).then(res=>{
    const xData=res.data.map(item=>item.timeStr)
    const yData=res.data.map(item=>item.total)
    return [xData,yData]
  })
}
function initChart(xData,yData) {
  myChart = echarts.init(container.value);
  var option;

  option = {
    grid: {
      left: '3%',
      right: '0',
      bottom: '20%',
    },
    tooltip: {
      trigger: 'item',
      axisPointer: {
        type: 'shadow'
      },
      formatter:'{b}<br/><br/>{a}  {c} 吨'
    },
    xAxis: {
      type: 'category',
      data: xData,
      axisTick:{
        alignWithLabel:true
      }
    },
    yAxis: {
      type: 'value',
    },
    series: [
      {
        data: yData,
        name:'用水量',
        type: 'bar',
        barWidth: 10,
        itemStyle: {
          borderRadius: [5, 5, 0, 0],
          color: '#00A0E9',
        },
      },
    ],
  };

  option && myChart.setOption(option);
}
</script>
<style lang="scss" scoped>
.container {
  height: 280px;
}
</style>
