<template>
  <div class="container" ref="container"></div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import { GridComponent } from 'echarts/components'
import { LineChart } from 'echarts/charts'
import { UniversalTransition } from 'echarts/features'
import { CanvasRenderer } from 'echarts/renderers'
import useGreenStore from '@/store/modules/green'

echarts.use([GridComponent, LineChart, CanvasRenderer, UniversalTransition])

const greenStore = useGreenStore()

const props = defineProps(['chartData', 'type'])
const container = ref(null)
let myChart

// onMounted(() => {
//   draw();
// });

watch(props, (newVal) => {
  updateChart(newVal.chartData, props.type || '1')
})

function updateChart(data, type) {
  if (!myChart) {
    myChart = echarts.init(container.value)
  }
  const dataMap = {
    1: {
      title: '电流平衡分析',
      seriesData: [
        {
          name: 'A相电流',
          data: data.iaList,
        },
        {
          name: 'B相电流',
          data: data.ibList,
        },
        {
          name: 'C相电流',
          data: data.icList,
        },
      ],
      unit:'A'
    },
    2: {
      title: '电压平衡分析',
      seriesData: [
        {
          name: 'A相电压',
          data: data.uaList,
        },
        {
          name: 'B相电压',
          data: data.ubList,
        },
        {
          name: 'C相电压',
          data: data.ucList,
        },
      ],
      unit:'V'
    },
    3: {
      title: '功率因数分析',
      seriesData: [
        {
          name: '总功率因数',
          data: data.pfList,
        },
        {
          name: 'A相功率因数',
          data: data.apfList,
        },
        {
          name: 'B相功率因数',
          data: data.bpfList,
        },
        {
          name: 'C相功率因数',
          data: data.cpfList,
        },
      ],
      unit:''
    },
    4: {
      title: '电网频率',
      seriesData: [
        {
          name: '电网频率',
          data: data.frList,
        },
      ],
      unit:'Hz'
    },
  }
  greenStore.electricity.title = dataMap[type].title
  const option = {
    legend: {
      show: true,
      icon: 'rect',
      itemWidth: 10,
      itemHeight: 10,
      itemGap: 20,
      top: '4%',
      left: '2%',
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      },
      valueFormatter:(value)=>value+' '+dataMap[type].unit
    },
    grid: {
      left: '5%',
      bottom: '10%',
      right: '0',
    },
    xAxis: {
      type: 'category',
      data: new Array(24)
        .fill(null)
        .map((_, index) => (index < 10 ? '0' : '') + index + ':00'),
      axisTick: {
        alignWithLabel: true,
      },
    },
    yAxis: {
      type: 'value',
    },
    series: dataMap[type].seriesData.map((item) => {
      item.type = 'line'
      return item
    }),
  }
  myChart.clear()
  myChart.setOption(option)
}
</script>
<style lang="scss" scoped></style>
