<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="title">数据详情</div>
      </div>
    </div>
    <div class="body">
      <Table :data="data">
      <el-table-column label="监测时间" prop="gatherTime"   min-width="90"/>
      <el-table-column label="A相电流（A）" prop="ia"   min-width="110"/>
      <el-table-column label="B相电流（A）" prop="ib"   min-width="110"/>
      <el-table-column label="C相电流（A）" prop="ic"   min-width="110"/>
      <el-table-column label="A相电压（V）" prop="ua"   min-width="110"/>
      <el-table-column label="B相电压（V）" prop="ub"   min-width="110"/>
      <el-table-column label="C相电压（V）" prop="uc"   min-width="110"/>
      <el-table-column label="总功率因数" prop="pf"   min-width="110"/>
      <el-table-column label="A相功率因数" prop="apf"   min-width="110"/>
      <el-table-column label="B相功率因数" prop="bpf"   min-width="110"/>
      <el-table-column label="C相功率因数" prop="cpf"   min-width="110"/>
      <el-table-column label="电网频率（HZ）" prop="fr"   min-width="130"/>
    </Table>
    </div>
  </div>
</template>
<script setup>
const props=defineProps(['data'])

</script>
<style lang="scss" scoped>
.panel{
  .body{
    margin-top: 26px;
  }
}
</style>