<template>
  <div class="page">
    <Section1></Section1>
    <Section2 class="mt20"></Section2>
  </div>
</template>
<script setup>
import Section1 from './Section1.vue';
import Section2 from './Section2.vue';
</script>
<style lang="scss" scoped></style>
