<template>
  <div v-loading="loading">
    <div class="panel custom" id="energy">
      <div class="head">
        <div class="left">
          <div class="title">用电量分析</div>
          <div class="gap mt10">
            <span>选择区域：</span>
            <el-select
              v-model="zoneId"
              placeholder="请选择"
              style="width: 150px"
            >
              <el-option
                v-for="(item, index) in zoneList"
                :key="index"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div class="ml20 mt10">
            <span>选择时段：</span>
            <el-date-picker
              style="width: 150px"
              v-model="dateRange.startTime"
              :type="dateType"
              value-format="YYYY-MM-DD"
              placeholder="开始日期"
              :disabled-date="disabledStartDate"
              @change="dateChange"
            />
            -
            <el-date-picker
              style="width: 150px"
              v-model="dateRange.endTime"
              :type="dateType"
              value-format="YYYY-MM-DD"
              placeholder="结束日期"
              :disabled-date="disabledEndDate"
              @change="dateChange"
            />
          </div>
        </div>
        <el-radio-group
          v-model="params.type"
          class="right mt10"
          size="small"
          @change="radioChange"
        >
          <el-radio-button :label="1">按日</el-radio-button>
          <el-radio-button :label="2">按月</el-radio-button>
          <el-radio-button :label="3">按年</el-radio-button>
        </el-radio-group>
      </div>
      <div class="body">
        <Energy :zoneData="zoneData" :timeList="timeList"></Energy>
      </div>
    </div>
    <DataDetail2
      :chartData="chartData"
      :timeList="timeList"
      class="mt20"
    ></DataDetail2>
  </div>
</template>
<script setup>
import Energy from './Energy.vue'
import DataDetail2 from './DataDetail2.vue'
import { getElectricityUsed } from '@/api/green/electricity'
import useUserStore from '@/store/modules/user'
import dayjs from 'dayjs'
import { nextTick } from 'vue'

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const loading = ref(false)
const zoneList = ref([{ label: '全部', value: -1 }])
const chartData = ref()
const zoneData = ref()
const pieList = ref()
const timeList = ref()
const zoneId = ref(-1)
const params = reactive({
  projectId,
  type: 1,
  zoneId,
})
const dateRange = ref({
  startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})

watch(
  params,
  () => {
    nextTick(fetchData)
  },
  { immediate: true }
)

const dateChange = (val) => {
  if (!val) return
  fetchData()
}
function fetchData() {
  loading.value = true
  getElectricityUsed({ ...params, ...dateRange.value })
    .then((res) => {
      if (res.code !== 200) return
      chartData.value = res.data.chartMap
      zoneData.value = res.data.chartMap[zoneId.value]
      pieList.value = res.data.pieList.map((item) => ({
        name: item.typeString,
        value: item.count || null,
      }))
      timeList.value = res.data.timeList
      zoneList.value = Object.entries(res.data.chartMap).map(
        ([key, value]) => ({ label: value.zoneName, value: parseInt(key) })
      )
    })
    .finally(() => {
      loading.value = false
    })
}

const dateType = computed(() => {
  const typeMap = { 1: 'date', 2: 'month', 3: 'year' }
  return typeMap[params.type]
})
const radioChange = (val) => {
  switch (val) {
    case 1:
      dateRange.value = {
        startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    case 2:
      dateRange.value = {
        startTime: dayjs().subtract(9, 'month').format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    case 3:
      dateRange.value = {
        startTime: dayjs(releaseDate).format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    default:
      break
  }
  params.type = val
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dateRange.value.endTime) {
    valid = valid && date <= dayjs(dateRange.value.endTime)
    if (params.type === 1) {
      valid = valid && date > dayjs().subtract(10, 'day')
    }
    if (params.type === 2) {
      valid = valid && date > dayjs().subtract(10, 'month')
    }
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dateRange.value.startTime) {
    valid = valid && date >= dayjs(dateRange.value.startTime)
    if (params.type === 1) {
      valid = valid && date < dayjs(dateRange.value.startTime).add(10, 'day')
    }
    if (params.type === 2) {
      valid = valid && date < dayjs(dateRange.value.startTime).add(10, 'month')
    }
  }
  return !valid
}
</script>
<style lang="scss" scoped>
#energy {
  min-height: 330px;
  .gap {
    margin-left: 32px;
  }
  .right {
    flex-wrap: nowrap;
  }
}
</style>
