<template>
      <div class="panel custom mt20">
        <div class="head">
          <div class="left">
            <div class="title">{{ electricity.title }}</div>
            <div class="gap">
              <span>选择设备：</span>
              <el-select
                v-model="params.deviceId"
                placeholder="请选择"
                style="width: 160px"
              >
                <el-option
                  v-for="(item, index) in electricity.deviceList"
                  :key="index"
                  :label="item.deviceName"
                  :value="item.id"
                />
              </el-select>
            </div>
            <div class="gap">
              <span>查看内容：</span>
              <el-select
                v-model="params.type"
                placeholder="请选择"
                style="width: 160px"
              >
                <el-option label="电流" :value="1" />
                <el-option label="电压" :value="2" />
                <el-option label="功率因数" :value="3" />
                <el-option label="电网频率" :value="4" />
              </el-select>
            </div>
            <div class="gap">
              <span>选择时间：</span>
              <el-date-picker
                style="width: 200px"
                v-model="params.selectTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="请选择"
                :disabled-date="disabledDate"
                :clearable="false"
              />
            </div>
          </div>
        </div>
        <div class="body">
          <CurrentBalance
            :chartData="chartData"
            :type="params.type"
          ></CurrentBalance>
        </div>
      </div>
  <DataDetail class="mt20" :data="chartData.list"></DataDetail>
</template>
<script setup>
import dayjs from 'dayjs'
import CurrentBalance from './CurrentBalance.vue'
import DataDetail from './DataDetail.vue'
import useGreenStore from '@/store/modules/green'
import { getPerformance } from '@/api/green/electricity'
const greenStore = useGreenStore()
const { electricity } = storeToRefs(greenStore)

const params = reactive({
  deviceId: undefined,
  type: 1,
  selectTime:dayjs().format('YYYY-MM-DD')
})
const chartData = ref({})

onMounted(() => {
  params.deviceId = electricity.value?.deviceList[0]?.id
  // fetchPerformance()
})
watch(params, (newVal) => {
  fetchPerformance()
})
function fetchPerformance() {
  params.selectTime||(params.selectTime=undefined)
  getPerformance(params).then((res) => {
    if (res.code !== 200) return
    chartData.value = res.data
  })
}
const disabledDate = (date) => {
  return date > dayjs() || date < dayjs().subtract(30, 'day')
}
</script>
<style lang="scss" scoped>
.panel {
  min-height: 330px;
  padding-right: 20px;
  .gap {
    margin-left: 20px;
  }
  .container {
    height: 280px;
  }
}
.max-electricity {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #00a0e9;
    .electricity {
      width: 40px;
      height: 40px;
      margin-top: 24px;
    }
    .desc {
      margin-top: 16px;
      color: #00a0e9;
      line-height: 24px;
    }
  }
  .time {
    color: #333333;
    line-height: 30px;
    margin-top: 24px;
    font-size: 20px;
  }
}
</style>
