<template>
  <div class="hw-full">
    <div class="h-full grid grid-cols-12 grid-rows-11 gap-15px p-15px">
      <Card
        v-for="item in peopleListInfo"
        :key="item.key"
        class="col-span-3 row-span-2"
        :value="item.value"
        :unit="item.unit"
        :desc="item.desc"
        :icon="item.icon"
        :img-url="item.rightImgUrl"
        @visible-change="handleVisibleChange"
      />
      <ChartCard class="col-span-12 row-span-5" title="逐时段项目人数分析">
        <div class="w-full h-[calc(100%-16px)]" ref="chart1"></div>
      </ChartCard>
      <ChartCard
        v-for="(item, i) in chartDataList"
        :key="i"
        class="col-span-4 row-span-4"
        :title="item"
      >
        <template>
          <div :ref="`chart${i + 2}`"></div>
        </template>
      </ChartCard>
    </div>
    <el-dialog title="人员明细" v-model="dialogVisible" width="90%">
      <div></div>
      <el-table :data="tableData" class="w-full">
        <el-table-column type="index" label="序号" width="50" align="center" />
        <el-table-column prop="name" label="人员名单" align="center" />
        <el-table-column prop="idNumber" label="身份证号" align="center" />
        <el-table-column prop="workType" label="工种" align="center" />
        <el-table-column prop="subContractor" label="分包单位" align="center" />
        <el-table-column prop="teamGroup" label="班组" align="center" />
        <el-table-column prop="birthday" label="年龄" align="center">
          <template #="{ row }">
            {{ handleDataFormat(row.birthday) }}
          </template>
        </el-table-column>
        <el-table-column prop="phoneNumber" label="联系电话" align="center" />
        <el-table-column prop="status" label="" align="center">
          <template #="{ row }">
            <div class="text-#F28735" v-if="row.status === 0">待审核</div>
            <div class="text-#029B00" v-if="row.status === 1">已通过</div>
            <div class="text-red" v-if="row.status === 2">已驳回</div>
          </template>
        </el-table-column>
        <el-table-column
          prop="phoneNumber"
          width="180"
          label="操作"
          align="center"
        >
          <template #default="{ row }">
            <span v-if="row.status !== 0">
              <el-button
                link
                type="primary"
                size="small"
                @click="handleClickEditBtn(row.id)"
                >编辑</el-button
              >
              <span class="mx-10px">|</span>
              <el-button
                link
                type="primary"
                size="small"
                @click="handleClickDeleteBtn(row.id)"
              >
                删除</el-button
              >
            </span>
            <span v-if="row.status === 0">
              <el-button
                link
                type="primary"
                size="small"
                @click="handleClickPassBtn(row.id)"
                >通过</el-button
              >
              |
              <el-button
                link
                type="primary"
                size="small"
                @click="handleClickRejectBtn(row.id)"
                >驳回</el-button
              >
            </span>
          </template>
        </el-table-column>
      </el-table>
      <div class="mt-30px flex justify-end">
        <el-pagination
          background
          v-model:current-page="page.pageNum"
          layout="prev, pager, next"
          :total="page.total"
          @size-change="getLaborList()"
          @current-change="getLaborList()"
        />
      </div>
    </el-dialog>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from 'vue'
import Card from './components/Card.vue'
import ChartCard from './components/ChartCard.vue'
import {
  fetchGetLaborListPageTime,
  fetchGetAuditLabor,
  fetchDeleteLabor,
  fetchGetDaypartingAnalysis,
  fetchGetWorkTypeAnalysis,
  fetchGetAgeAnalysis,
  fetchGetSubContractorAnalysis,
} from '@/api/personnel/labor'
import { fetchDashboardData } from '@/api/dashboard'
import relativeTime from 'dayjs/plugin/relativeTime'
import { ElMessage, dayjs } from 'element-plus'
import { Line } from '@antv/g2plot'
import 'dayjs/locale/zh-cn'
import {
  task,
  clock,
  lineImg,
  img1,
  four,
  first,
  third,
  second,
} from './components/img'

dayjs.extend(relativeTime)

const dialogVisible = ref(false)
const tableData = ref([])
const page = reactive({
  pageNum: 1,
  pageSize: 10,
  total: 0,
})
const peopleListInfo = ref([
  {
    desc: '今日考勤率',
    value: 0,
    key: 'attendanceRate',
    icon: task,
    rightImgUrl: four,
    unit: '%',
  },
  {
    desc: '项目实时人数',
    value: 0,
    key: 'nowNum',
    icon: clock,
    rightImgUrl: second,
    unit: '人',
  },
  {
    desc: '今日累计人数',
    value: 0,
    key: 'todayNum',
    icon: lineImg,
    rightImgUrl: third,
    unit: '人',
  },
  {
    desc: '项目总人数',
    value: 0,
    key: 'projectSum',
    icon: img1,
    rightImgUrl: first,
    unit: '人',
  },
])
const chart1 = ref()
const chart2 = ref()
const chart3 = ref()
const chart4 = ref()
let line

const chartDataList = ['工种分析', '工人年龄分析', '分包单位分析']

function handleVisibleChange(val) {
  dialogVisible.value = val.visible
}

/**
 * 将出生日期格式化为年龄
 * @param date 出生日期
 * @returns 年龄
 */
function handleDataFormat(date) {
  const res = dayjs().locale('zh-cn').from(date, true)

  const dateFormatted = res.includes('年')
    ? `${res.split('年')[0]}岁`
    : '格式错误'
  return dateFormatted
}

/** 点击删除按钮的执行操作 */
async function handleClickDeleteBtn(id) {
  const { code } = await fetchDeleteLabor(id)
  if (code === 200) {
    getLaborList()
    ElMessage.success('删除成功')
  }
}
/** ~编辑 */
function handleClickEditBtn() {}
/** ~通过 */
async function handleClickPassBtn(id) {
  const { code } = await fetchGetAuditLabor(id, 1)
  if (code === 200) {
    getLaborList()
    ElMessage.success('操作成功')
  }
}
/** ~驳回 */
async function handleClickRejectBtn(id) {
  const { code } = await fetchGetAuditLabor(id, 2)
  if (code === 200) {
    getLaborList()
    ElMessage.success('操作成功')
  }
}

async function getLaborList() {
  // const { data } = await fetchGetLaborList()
  // tableData.value = data

  // fetchGetLaborListTime().then((res) => {
  //   console.log(res, '列表带时间')
  // })

  // fetchGetLaborListPage().then((res) => {
  //   console.log(res, '分页不带时间')
  // })
  const params = {
    pageNum: page.pageNum,
    pageSize: page.pageSize,
  }

  fetchGetLaborListPageTime(params).then(({ data: res }) => {
    tableData.value = res.list
    page.total = res.total
    page.pageNum = res.pageNum
  })
}

function initData() {
  getLaborList()
  fetchDashboardData('labor', true).then(({ data }) => {
    peopleListInfo.value = peopleListInfo.value.map((item) => {
      Reflect.ownKeys(data).forEach((key) => {
        if (item.key === key) {
          item.value = data[key]
        }
      })
      return item
    })
  })
  fetchGetDaypartingAnalysis().then(({ data }) => {
    line.update({
      data,
    })
  })
  fetchGetWorkTypeAnalysis().then(({ data }) => {
    console.log(data, '工种分析')
  })
  fetchGetAgeAnalysis().then(({ data }) => {
    console.log(data, '年龄分析')
  })
  fetchGetSubContractorAnalysis().then(({ data }) => {
    console.log(data, '分包单位')
  })
}

onMounted(() => {
  line = new Line(chart1.value, {
    data: [],
    padding: [40, 8, 30, 40],
    xField: 'name',
    yField: 'count',
    smooth: true,
    tooltip: {
      formatter: (data) => {
        return {
          name: '项目人数',
          value: `${data.count}人`,
        }
      },
    },
  })
  line.render()
})

initData()
</script>
<style scoped>
:deep(.el-card__body) {
  height: 100%;
  padding: 15px 24px;
}

.el-dialog .el-button {
  padding-left: 0;
  padding-right: 0;
}

.el-button + .el-button {
  margin-left: 0 !important;
}
</style>
