<template>
  <div class="h-full w-full bg-white">
    <header
      class="h-41px bg-light-100 text-11px font-600 text-[#333] flex items-center pl-15px"
    >
      巡检记录
    </header>
    <div class="p-15px h-[calc(100%-41px)]">
      <div class="h-27px">
        <el-row justify="space-between">
          <el-col :span="5" class="flex justify-between">
            <el-input
              class="w-70%"
              v-model="searchOptions.data.searchKey"
              placeholder="请输入设备编码或设备名称"
            ></el-input>
            <el-button @click="getDeviceTourList" type="primary"
              >查询</el-button
            >
          </el-col>
          <el-col :span="19">
            <div class="flex gap-6 justify-end">
              <div class="flex items-center">
                <div class="fs">设备类筛选:</div>
                <el-tree-select
                  class="w-150px"
                  v-model="searchOptions.data.catalogId"
                  :props="{ label: 'catalogName', children: 'children' }"
                  check-strictly
                  node-key="id"
                  clearable
                  :data="catalogTreeData"
                  :render-after-expand="false"
                  placeholder="请选择上级设备类"
                  :default-first-option="true"
                  @change="getDeviceTourList"
                />
              </div>
              <div class="flex items-center">
                <div class="fs">巡检时间:</div>
                <div>
                  <el-date-picker
                    v-model="searchOptions.data.startDate"
                    type="datetime"
                    @change="getDeviceTourList"
                  />
                </div>
              </div>
              <div class="flex items-center">
                <div class="fs">巡检人:</div>
                <div>
                  <el-select
                    v-model="searchOptions.data.tourUser"
                    class="w-130px"
                    @change="getDeviceTourList"
                  >
                    <el-option :key="0" label="全部" value=""></el-option>
                    <el-option
                      v-for="item in userList"
                      :key="item.userId"
                      :label="item.remark"
                      :value="item.userId"
                    />
                  </el-select>
                </div>
              </div>
              <div class="flex items-center">
                <div class="fs">巡检状态:</div>
                <div>
                  <el-select
                    v-model="searchOptions.data.normalFlag"
                    @change="getDeviceTourList"
                    class="w-100px"
                  >
                    <el-option :key="1" label="正常" :value="1" />
                    <el-option :key="0" label="异常" :value="0" />
                  </el-select>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="h-[calc(100%-57px)] mt-15px">
        <el-table class="h-[calc(100%-50px)]" :data="tableData">
          <el-table-column
            align="center"
            type="index"
            label="序号"
            width="55"
          />
          <el-table-column
            width="170"
            label="巡检时间"
            align="center"
            prop="tourTime"
          />
          <el-table-column
            label="巡检设备名称"
            align="center"
            prop="deviceName"
          />
          <el-table-column
            label="巡检设备编码"
            align="center"
            prop="deviceCode"
          />
          <el-table-column label="巡检人" align="center" prop="tourUser" />
          <el-table-column label="巡检状态" align="center" prop="normalFlag" />
          <el-table-column
            label="情况说明"
            align="center"
            width="363"
            prop="description"
          >
            <template #default="{ row }">
              <el-tooltip
                effect="light"
                :content="row.description"
                placement="bottom"
              >
                <div
                  class="w-full overflow-hidden whitespace-nowrap overflow-ellipsis cursor-pointer"
                  style="text-overflow: ellipsis"
                >
                  {{ row.description }}
                </div>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template #default="{ row }">
              <el-button
                type="primary"
                link
                @click="
                  router.push({
                    query: { id: row.id },
                    path: `/device/detail`,
                  })
                "
                >查看详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="flex justify-between my-15px">
          <div class="font-500 text-[#999999] text-11px">
            已全部加载,共{{ searchOptions.total }}个
          </div>
          <el-pagination
            background
            layout="prev, pager, next"
            v-model:page-size="searchOptions.pageSize"
            v-model:current-page="searchOptions.pageNum"
            @size-change="getDeviceTourList()"
            @current-change="getDeviceTourList()"
            :total="searchOptions.total"
          />
        </div>
      </div>
      </div>
      </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { fetchGetDeviceCatalogData } from '@/api/device/deviceCatalog'
import { fetchGetTourData } from '@/api/device/tour'
import { handleTree } from '@/utils/ruoyi'
import { listUser } from '@/api/system/user'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()

const router = useRouter()

const searchOptions = reactive({
  data: {
    /** 文字筛选 */
    searchKey: '',
    /** 设备类 */
    catalogId: '',
    /** 开始时间 */
    startDate: '',
    /**结束时间 */
    endDate: '',
    /** 巡视人 */
    tourUser: '',
    /** 巡检状态 */
    normalFlag: 1,
    projectId: userStore.projectIdGetter,
  },
  pageNum: 1,
  pageSize: 10,
  total: 0,
})

const catalogTreeData = ref([])
const userList = ref([])
const tableData = ref([])

async function getDeviceCatalog() {
  const res = await fetchGetDeviceCatalogData()
  if (res.code === 200) {
    catalogTreeData.value = handleTree(res.data)
  }
}

async function getDeviceTourList() {
  const { data, code } = await fetchGetTourData(searchOptions)
  if (code == 200) {
    const { pageNum, pageSize, total, list } = data
    searchOptions.pageNum = pageNum
    searchOptions.pageSize = pageSize
    searchOptions.total = total
    tableData.value = list
  }
}

async function getUserList() {
  const { code, rows } = await listUser()
  if (code === 200) {
    userList.value = rows
  }
}

function initData() {
  getDeviceCatalog()
  getDeviceTourList()
  getUserList()
}

initData()
</script>
<style scoped>
:deep(.el-date-editor) {
  width: 170px;
}

:deep(.el-table) {
  height: calc(100% - 50px);
}

.fs {
  font-size: 11px;
  color: #666;
  margin-right: 12px;
}
:deep(.el-input__inner) {
  color: #999;
  font-size: 11px;
}
</style>
