<template>
  <div ref="chart"></div>
</template>

<script setup>
import { Column } from '@antv/g2plot'
import { nextTick, onMounted, watch } from 'vue'
import { useDashboardTheme } from '@/store/modules/dashboardTheme'

const chart = ref()
const theme = useDashboardTheme()

const props = defineProps(['cloumnData'])

let plot

watch(
  () => theme.isTech,
  () => {
    plot.update({
      yAxis: {
        grid: {
          line: {
            style: {
              stroke: theme.themeActive.chartLineGrid,
              lineWidth: 1,
            },
          },
        },
      },
      legend: {
        itemName: {
          style: {
            fill: theme.themeActive.chartXYTextColor,
          },
        },
      },
    })
  }
)

watch(
  () => props.cloumnData,
  (data) => {
    nextTick(() => {
      plot.update({ data })
    })
  }
)

onMounted(() => {
  plot = new Column(chart.value, {
    data: props.cloumnData,
    isStack: true,
    autoFit: true,
    xField: 'year',
    yField: 'value',
    seriesField: 'type',
    color: ['#007BB3', '#00A0E9', '#4EC8FF', '#7CDAFF'],
    maxColumnWidth: 15,
    legend: {
      position: 'top-left',
      itemStates: {
        active: {
          nameStyle: {
            opacity: 0.6,
          },
        },
        unchecked: {
          nameStyle: {
            fill: theme.themeActive.chartXYTextColor,
          },
        },
        inactive: {
          markerStyle: {
            opacity: 0.2,
          },
        },
      },
      itemName: {
        style: {
          fill: theme.themeActive.chartXYTextColor,
        },
      },
    },
    yAxis: {
      grid: {
        line: {
          style: {
            stroke: theme.themeActive.chartLineGrid,
            lineWidth: 1,
          },
        },
      },
    },
    tooltip: {
      formatter: (data) => {
        return { name: data.type, value: `${data.value}kwh` }
      },
    },
  })
  plot.render()
})
</script>
<style scoped></style>
