<template>
  <div class="relative z-8">
    <div class="relative z-10" ref="chart"></div>
    <div class="h-90px w-90px absolute z-9 left-0 top-0"></div>
    <div
      class="absolute -bottom-20% left-50% text-12px scale-90 w-full text-center"
      style="transform: translateX(-50%)"
      :style="{
        color: theme.themeActive.chartXYTextColor,
      }"
    >
      {{ props.title }}
    </div>
  </div>
</template>

<script setup>
import { Liquid } from '@antv/g2plot'
import { onMounted, ref, watch } from 'vue'
import { useDashboardTheme } from '@/store/modules/dashboardTheme'

const props = defineProps([
  'percent',
  'title',
  'fillColor',
  'shapeColor',
  'unit',
])

let liquidPlot

const theme = useDashboardTheme()
const chart = ref()

watch(
  () => theme.isTech,
  () => {
    setTimeout(() => {
      liquidPlot.update({
        statistic: {
          content: {
            style: {
              color: theme.themeActive.chartXYTextColor,
            },
          },
        },
      })
    })
  }
)

// 监听数据变化重新渲染
watch(
  () => props.percent,
  (val) => {
    liquidPlot.update({
      statistic: {
        content: {
          customHtml: () => {
            return `<div>${val}${props.unit}</div>`
          },
        },
      },
    })
  }
)

onMounted(() => {
  liquidPlot = new Liquid(chart.value, {
    height: 81,
    width: 81,
    percent: 0.35,
    outline: {
      distance: 0,
      border: 0,
      style: {
        stroke: '#54CD94',
      },
    },
    shapeStyle: {
      fill: props.fillColor,
    },
    liquidStyle: {
      fill: props.shapeColor,
      shadowBlur: 0,
      shadowOffsetX: 0,
      shadowOffsetY: 0,
    },
    wave: {
      length: 50,
    },
    statistic: {
      content: {
        style: {
          color: theme.themeActive.chartXYTextColor,
          fontSize: 15,
        },
        customHtml: () => {
          return `<div>${props.percent}${props.unit}</div>`
        },
      },
    },
  })
  liquidPlot.render()
})
</script>
<style scoped></style>
