<template>
  <div class="inline-block">
    <img
      @click="router.push(props.routePath)"
      v-show="!theme.checkIfTech"
      class="h-24px w-24px cursor-pointer"
      src="@/assets/images/dashboard/goto.svg"
    />
    <img
      @click="router.push(props.routePath)"
      v-show="theme.checkIfTech"
      class="h-24px w-24px cursor-pointer"
      src="@/assets/images/dashboard/gotoTech.svg"
    />
  </div>
</template>
<script setup>
import { useDashboardTheme } from '@/store/modules/dashboardTheme'
import { useRouter } from 'vue-router'
const theme = useDashboardTheme()

const props = defineProps(['routePath'])

const router = useRouter()
</script>
