<template>
  <div ref="chart"></div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { Pie, measureTextWidth } from '@antv/g2plot'
import { useDashboardTheme } from '@/store/modules/dashboardTheme'

const props = defineProps(['data'])

const theme = useDashboardTheme()
const chart = ref()
let plot

watch(
  () => theme.isTech,
  () => {
    plot.update({
      legend: {
        itemName: {
          style: {
            fill: theme.themeActive.chartXYTextColor,
          },
        },
      },
      statistic: {
        title: {
          customHtml: (container, _view, datum) => {
            const { width, height } = container.getBoundingClientRect()
            const d = Math.sqrt(
              Math.pow(width / 2, 2) + Math.pow(height / 2, 2)
            )
            const text = datum ? datum.type : '课程总数'
            return renderStatistic(d, text, { fontSize: 17 })
          },
        },
      },
    })
  }
)

function renderStatistic(containerWidth, text, style) {
  const textWidth = measureTextWidth(text, style)
  const textHeight = style.lineHeight || style.fontSize
  const R = containerWidth / 2
  let scale = 1
  if (containerWidth < textWidth) {
    scale = Math.min(
      Math.sqrt(
        Math.abs(
          Math.pow(R, 2) /
            (Math.pow(textWidth / 2, 2) + Math.pow(textHeight, 2))
        )
      ),
      1
    )
  }
  const textStyleStr = `width:${containerWidth}px;`
  return `<div style="${textStyleStr};font-size:${scale}em;line-height:${
    scale < 1 ? 1 : 'inherit'
  }; color: ${theme.themeActive.chartXYTextColor};">${text}</div>`
}

onMounted(() => {
  plot = new Pie(chart.value, {
    appendPadding: 10,
    data: props.data,
    angleField: 'value',
    colorField: 'type',
    radius: 1,
    innerRadius: 0.64,
    meta: {
      value: {
        formatter: (v) => `${v}节`,
      },
    },
    label: {
      type: 'inner',
      offset: '-50%',
      style: {
        textAlign: 'center',
      },
      autoRotate: false,
      content: '{value}',
    },
    pieStyle: {
      lineWidth: 0,
    },
    statistic: {
      title: {
        offsetY: -4,
        customHtml: (container, _view, datum) => {
          const { width, height } = container.getBoundingClientRect()
          const d = Math.sqrt(Math.pow(width / 2, 2) + Math.pow(height / 2, 2))
          const text = datum ? datum.type : '课程总数'
          return renderStatistic(d, text, { fontSize: 17 })
        },
        style: {
          fontSize: '12px',
          fill: 'red',
        },
      },
      content: {
        offsetY: 4,
        style: {
          fontSize: '18px',
          fontWeight: 400,
          fill: 'red',
        },
        customHtml: (container, _view, datum, data) => {
          const { width } = container.getBoundingClientRect()

          const text = datum
            ? `${datum.value}`
            : `${data.reduce((r, d) => r + d.value, 0)}`
          return renderStatistic(width, text, { fontSize: 18, color: 'red' })
        },
      },
    },
    legend: {
      itemName: {
        style: {
          fill: theme.themeActive.chartXYTextColor,
        },
      },
    },
  })
  plot.render()
})
</script>
<style scoped></style>
