<template>
  <div class="relative h-20px text-12px font-normal">
    <div
      @click="handleClickIpt"
      ref="labelRef"
      class="flex items-center h-20px cursor-pointer min-w-70px"
    >
      <span class="inline-block mr-10px opacity-70">
        {{
          options.find((item) => item.value === value)
            ? options.find((item) => item.value === value).label
            : ''
        }}
      </span>
      <el-icon><ArrowDown /></el-icon>
    </div>
    <div
      class="absolute z-10 top-100% left-0 rounded-3px shadow-md"
      :style="{
        display: isFocus ? 'block' : 'none',
        backgroundColor: theme.themeActive.selectBg,
      }"
    >
      <div
        :style="{ width: `${width}px` }"
        class="h-20px p-5px flex rounded-3px items-center cursor-pointer overflow-hidden"
        hover="bg-light-700 text-#333"
        v-for="item in options"
        :key="item.value"
        @click="handleChange(item.value)"
      >
        <span>{{ item.label }}</span>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from 'vue'
import { ArrowDown } from '@element-plus/icons-vue'
import { useElementBounding } from '@vueuse/core'
import { useDashboardTheme } from '@/store/modules/dashboardTheme'

const theme = useDashboardTheme()
const props = defineProps(['data'])

const options = reactive(props.data)

const labelRef = ref()
const { width } = useElementBounding(labelRef)
const isFocus = ref(false)
const value = ref(options[0].label)

function handleClickIpt() {
  isFocus.value = !isFocus.value
}

function handleChange(e) {
  value.value = e
  isFocus.value = false
}

onMounted(() => {
  if (props.data.length > 0) {
    value.value = options[0].value
  } else {
    value.value = '暂无数据'
  }
})
</script>
<style lang="scss" scoped></style>
