<template>
  <el-scrollbar :class="props.vertical ? 'w-37%' : 'h-22px'">
    <div
      class="inline-block h-22px p-2px rounded-3px"
      :class="!props.vertical ? 'h-22px flex gap-2px' : 'h-full w-full'"
      :style="{
        backgroundColor: theme.themeActive.tabBg,
        border: theme.checkIfTech ? '1px solid #337BD2' : '',
      }"
    >
      <div
        v-for="(item, i) in props.data"
        :key="item.value"
        class="flex items-center rounded-3px cursor-pointer px-5px"
        :hover="isActive !== item.value ? 'bg-[#E6E6E6] text-#333' : ''"
        @click="handleClickActive(item.value, i)"
        :style="{
          height: props.vertical ? '38px' : '18px',
          width: props.vertical ? '100%' : '38px',
          backgroundColor:
            isActive === item.value ? theme.themeActive.tabActiveBg : '',
          justifyContent: props.vertical ? 'start' : 'center',
        }"
        :class="isActive === item.value ? 'text-#fff' : ''"
      >
        <img
          v-show="
            props.vertical && isActive === item.value && !theme.checkIfTech
          "
          src="@/assets/images/dashboard/vedioActive.svg"
        />
        <img
          v-show="
            props.vertical && isActive === item.value && theme.checkIfTech
          "
          src="@/assets/images/dashboard/vedioActTech.svg"
        />
        <img
          v-show="props.vertical && isActive !== item.value"
          src="@/assets/images/dashboard/vedio.svg"
        />
        <span class="text-12px scale-75 inline-block">{{ item.label }}</span>
      </div>
    </div>
  </el-scrollbar>
</template>

<script setup>
import { useDashboardTheme } from '@/store/modules/dashboardTheme'
import { watch } from 'vue'

const theme = useDashboardTheme()

const props = defineProps(['data', 'vertical', 'value'])
const emits = defineEmits(['change'])

const isActive = ref('')

watch(
  () => props.data,
  (val) => {
    if (val.length > 0) {
      isActive.value = props.data[0].value
    }
  }
)

watch(
  () => props.value,
  (val) => {
    isActive.value = props.data[val].value
  }
)

function handleClickActive(value, index) {
  isActive.value = value
  emits('change', index)
}
</script>
<style scoped>
.el-scrollbar {
  height: auto;
}
</style>
