<template>
  <div class="hw-full">
    <video
      ref="video"
      controls
      @click="playing = !playing"
      class="w-full block"
    >
      <!-- <source v-if="show" :src="videoUrl" type="application/x-mpegURL" /> -->
      <source
        src="../../../assets/mp4/2023-05-1312-39-12.mp4"
        type="video/mp4"
      />
      抱歉,您的浏览器不支持播放此视频.
    </video>
  </div>
</template>

<script setup>
import { useMediaControls } from '@vueuse/core'
// import { getHlsPath } from '@/api/system/video'

const props = defineProps(['urlCheck'])

const video = ref()
// const videoUrl = ref('')
// const show = ref(true)

// async function handleGetHlsPath() {
//   const { msg } = await getHlsPath(props.urlCheck)
//   videoUrl.value = msg
//   await nextTick()
//   show.value = false
//   show.value = true
// }
// handleGetHlsPath()
const { playing } = useMediaControls(video)
</script>
<style scoped></style>
