<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else class="page">
    <div class="row">
      <div class="col-auto status" style="width: 740px">
        <div class="panel custom">
          <div class="head">
            <div class="left center-v">
              <div class="item">
                <span class="label">设备名称：</span>
                <el-select
                  v-model="deviceId"
                  value-key="index"
                  placeholder="请选择"
                  clearable
                >
                  <el-option
                    v-for="item in deviceList"
                    :key="item.id"
                    :label="item.deviceName"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </div>
              <div class="item">
                <span class="label">监控设备状态：</span>
                <span
                  :class="deviceInfo.status ? 'text-success' : 'text-danger'"
                  >{{ deviceInfo.statusName }}</span
                >
              </div>
              <div class="item">
                <span class="label">卸料平台状态：</span>
                <span :class="true ? 'text-success' : 'text-danger'">{{
                  alarmMap[deviceInfo.alarm]
                }}</span>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-auto">
                <div class="title">载重(kg)</div>
                <div class="count">{{ deviceInfo.loadCapacity }}</div>
              </div>
              <div class="col-auto">
                <div class="title">左右倾斜度</div>
                <div class="count">{{ deviceInfo.abscissaInclination }}</div>
              </div>
              <div class="col-auto">
                <div class="title">前后倾斜度</div>
                <div class="count">{{ deviceInfo.ordinateInclination }}</div>
              </div>
              <div class="col-auto">
                <Process
                  desc="载重百分比"
                  :rate="deviceInfo.loadPercentage / 100"
                ></Process>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto ml20 warning-info" style="width: 440px">
        <div class="panel custom">
          <div class="head">
            <div class="left"><div class="title">报警信息</div></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="count">{{ warnInfo.todayAlarmCnt }}</div>
              <div class="desc">今日报警数</div>
            </div>
            <div class="col">
              <div class="count">{{ warnInfo.yesterdayAlarmCnt }}</div>
              <div class="desc">昨日报警数</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="count">{{ warnInfo.currentAlarmCnt }}</div>
              <div class="desc">当前报警数</div>
            </div>
            <div class="col">
              <div class="count">{{ warnInfo.currentWarnCnt }}</div>
              <div class="desc">当前预警数</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel custom mt20 warning-record">
      <div class="head">
        <div class="left">
          <div class="title">报警记录</div>
          <el-form
            :model="params"
            ref="formRef"
            :rules="rules"
            :inline="true"
            class="form ml20"
            label-width="110"
          >
            <el-form-item label="报警类型：">
              <el-radio-group v-model="params.alarm">
                <el-radio :label="0">全部</el-radio>
                <el-radio :label="1">预警事件</el-radio>
                <el-radio :label="2">报警事件</el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item label="选择事件类型：">
              <el-select v-model="params.alarmType">
                <el-option
                  v-for="(item, index) in alarmTypeMap"
                  :key="index"
                  :label="item"
                  :value="index"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="选择日期：" size="normal">
              <el-date-picker
                v-model="params.startTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="开始日期"
                :disabled-date="disabledStartDate"
                style="width: 147px"
              />
              <span class="ml10 mr10">-</span>
              <el-date-picker
                v-model="params.endTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="结束日期"
                :disabled-date="disabledEndDate"
                style="width: 147px"
              />
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="body mt20">
        <Table
          :data="recordList"
          :pagination="pagination"
          @page-change="pageChange"
          style="width: 100%"
        >
          <el-table-column label="报警时间" prop="date" />
          <el-table-column label="设备名称" prop="deviceName" />
          <el-table-column label="警报类型" prop="alarmName" />
          <el-table-column label="警报事件类型" prop="alarmTypeName" />
          <el-table-column label="载重(kg)" prop="loadCapacity" />
          <el-table-column label="左右倾斜度（°）" prop="abscissaInclination" />
          <el-table-column label="载重百分比" prop="loadPercentage" />
        </Table>
      </div>
    </div>
  </div>
</template>
<script setup>
import Process from '@/components/Process/index'
import empty from '@/components/Empty/index.vue'
import {
  getDeviceList,
  getDeviceInfo,
  getWarnInfo,
  getWarnRecord,
} from '@/api/safe/unload'
import useUserStore from '@/store/modules/user'
import dayjs from 'dayjs'

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const alarmMap = ['正常', '预警', '报警']
const alarmTypeMap = [
  '全部事件类型',
  '重量警报',
  '左右倾斜警报',
  '前后倾斜警报',
]
const isEmpty = ref(false)
const deviceList = ref([])
const deviceInfo = ref({})
const warnInfo = ref({})
const recordList = ref([])
const deviceId = ref(undefined)
const params = reactive({
  projectId,
  alarm: 0,
  alarmType: 0,
  startTime: dayjs().subtract(29, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})
const pagination = reactive({
  showTotal: true,
  total: 0,
})
onMounted(() => {
  fetchDeviceList()
  fetchWarnInfo()
  fetchWarnRecord()
})
watch(deviceId, () => {
  fetchDeviceInfo()
})
watch(params, (val) => {
  if (!val.startTime || !val.endTime) return
  fetchWarnRecord()
})
function fetchDeviceList() {
  return getDeviceList({ projectId }).then((res) => {
    if (res.code !== 200) return
    deviceList.value = res.data
    isEmpty.value = !res.data?.length
    deviceId.value = res.data[0].id
  })
}
function fetchDeviceInfo() {
  getDeviceInfo({ projectId, deviceId: deviceId.value }).then((res) => {
    // if (res.code !== 200) return
    deviceInfo.value = res.data || {}
  })
}
function fetchWarnInfo() {
  getWarnInfo({ projectId }).then((res) => {
    if (res.code !== 200) return
    warnInfo.value = res.data
  })
}
function fetchWarnRecord(pageNum = 1) {
  getWarnRecord({ data: params, pageNum, pageSize: 10 }).then((res) => {
    recordList.value = res.data.list
    pagination.total = res.data.total
    pagination['current-page']=pageNum = pageNum
  })
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(30, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(30, 'day')
  }
  return !valid
}
const pageChange = (val) => {
  fetchWarnRecord(val)
}
</script>
<style lang="scss" scoped>
.head {
  .item {
    font-size: 16px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.form {
  margin-bottom: -20px;
}
.status {
  .body {
    margin-top: 50px;
    .title {
      font-size: 14px;
      color: #666;
    }
    .count {
      font-size: 24px;
      color: #333;
      font-weight: bold;
      margin-top: 8px;
    }
    .desc {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .right {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
.warning-info {
  .row {
    margin-top: 40px;
    .col {
      text-align: center;
    }
    .count {
      font-size: 32px;
      font-weight: bold;
      color: #333;
      &.red {
        color: var(--el-color-danger);
      }
    }
    .desc {
      color: #666;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
</style>
