<template>
  <div>
    <img src="@/assets/images/green/empty.png" alt="" />
    <p>暂无设备</p>
  </div>
</template>
<style lang="scss" scoped>
img {
  width: 380px;
  height: 380px;
}
p {
  text-align: center;
  font-weight: bold;
  color: #999999;
  line-height: 30px;
  font-size: 20px;
}
</style>
