<template>
  <div
    class="h-full w-full dashboard"
    :style="{ color: dashTheme.themeActive.primaryText }"
  >
    <div class="h-full grid grid-cols-6 grid-rows-3 gap-15px">
      <el-card :class="dashTheme.themeActive.cardClass" class="col-span-3">
        <template #header>
          <div class="card-header">
            <span>项目信息</span>
          </div>
        </template>
        <div class="flex h-full gap-15px">
          <img class="h-full w-33.88%" :src="projectInfo.photo" />
          <div class="h-full w-full">
            <div class="flex gap-30px">
              <div
                class="bg-[#4FD0BC] rounded-3px h-56px w-103px pt-5px pl-14px"
              >
                <div class="text-12px text-[#fff]">
                  <img class="align-bottom mr-2px" :src="area" />
                  <span>建筑面积</span>
                </div>
                <div class="text-21px text-white h-[calc(100%-21px)]">
                  {{ projectInfo.floorSpace }}
                  <span>m</span>
                  <span class="text-12px align-top">2</span>
                </div>
              </div>
              <div
                class="bg-[#48BEFF] rounded-3px h-56px w-103px pt-5px pl-14px"
              >
                <div class="text-12px text-[#fff]">
                  <img class="align-bottom mr-2px" :src="area" />
                  <span>项目工期</span>
                </div>
                <div class="text-21px text-white h-[calc(100%-21px)]">
                  {{ warkDay }}
                </div>
              </div>
            </div>
            <div class="h-[calc(100%-73px)] mt-17px">
              <div
                class="grid grid-cols-2 grid-rows-3 h-full border-t-6 border-[#F0F0F0]"
              >
                <div
                  class="text-12px flex items-center"
                  v-for="item in projectRenderLabels"
                  :key="item.value"
                >
                  <span>{{ `${item.label}:` }}</span>
                  <span class="text[#333333] font-600">{{
                    projectInfo[item.value]
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card :class="dashTheme.themeActive.cardClass" class="col-span-3">
        <template #header>
          <div class="card-header flex">
            <span class="inline-block pt-2px mr-10px">能耗管理</span>
            <Select :data="selectData2" />
          </div>
        </template>
        <div class="h-full w-full">
          <CloumnChart :cloumn-data="energyChanrtData" class="h-full w-full" />
        </div>
      </el-card>
      <el-card :class="dashTheme.themeActive.cardClass" class="col-span-2">
        <template #header>
          <div class="card-header">
            <span>安全监测</span>
          </div>
        </template>
        <div class="hw-full relative">
          <div
            class="h-[calc(100%-20px)] w-full mt-20px"
            grid="~ cols-2 rows-2"
          >
            <div class="pl-1/5" v-for="(item, i) in safeMoni" :key="i">
              <div class="text-12px mb-11px">{{ item.label }}</div>
              <div>
                <span class="mr-1/5">
                  <span text="[#FA8080] 21px" font="500"
                    >{{ item.value }}/</span
                  >
                  <span text="[#999] 12px">{{ totalAlarm }}</span>
                </span>
                <img
                  class="align-bottom"
                  :src="item.status === 'alram' ? alarmIcon : preAlarmIcon"
                />
                <span class="ml-2px text-[#E57474] text-12px align-text-bottom"
                  >报警</span
                >
              </div>
            </div>
          </div>
          <div class="hw-full absolute top-0 left-0">
            <img
              class="absolute left-1/2 h-[85%]"
              src="@/assets/images/dashboard/line-col.jpg"
            />
            <img
              class="absolute top-[40%] w-full"
              src="@/assets/images/dashboard/line-row.jpg"
            />
          </div>
        </div>
      </el-card>
      <el-card class="col-span-2" :class="dashTheme.themeActive.cardClass">
        <template #header>
          <div class="card-header flex justify-between">
            <span>设备管理</span>
            <GoToIcon route-path="/device/device" />
          </div>
        </template>
        <div class="hw-full">
          <div
            class="text-12px h-30px w-full flex justify-between items-center"
          >
            <div class="flex items-center h-full">
              <img src="@/assets/images/dashboard/dev.svg" />
              <span class="inline-block scale-85"
                >设备总数:
                <span class="font-bold"
                  >{{ deviceInfo.deviceSum }}台</span
                ></span
              >
            </div>
            <div class="flex items-center h-full">
              <img src="@/assets/images/dashboard/devOnline.svg" />
              <span class="inline-block scale-85"
                >在线设备:
                <span class="font-bold"
                  >{{ deviceInfo.deviceOnline }}台</span
                ></span
              >
            </div>
            <div class="flex items-center h-full">
              <img src="@/assets/images/dashboard/devOffline.svg" />
              <span class="inline-block scale-85"
                >离线设备:
                <span class="font-bold"
                  >{{ deviceInfo.deviceOffline }}台</span
                ></span
              >
            </div>
          </div>
          <div ref="devManRef" class="h-[calc(100%-30px)] w-full"></div>
        </div>
      </el-card>
      <el-card class="col-span-2" :class="dashTheme.themeActive.cardClass">
        <template #header>
          <div class="card-header flex justify-between">
            <span>安全教育</span>
            <GoToIcon />
          </div>
        </template>
        <div class="hw-full flex">
          <PieChart :data="pieData" class="h-full w-70%" />
          <div class="h-full w-30% text-12px px-10px flex-center leading-25px">
            <div class="inline-block">
              <div v-for="(item, i) in pieData" :key="i">
                <span class="mr-10px">{{ item.value }}节</span>
                <span
                  >{{ ((item.value / pieDataTotal) * 100).toFixed(2) }}%</span
                >
              </div>
            </div>
          </div>
        </div>
      </el-card>
      <el-card class="col-span-2" :class="dashTheme.themeActive.cardClass">
        <template #header>
          <div class="card-header flex justify-between">
            <span>劳务管理</span>
            <GoToIcon />
          </div>
        </template>
        <div grid="~ cols-4" class="h-full">
          <div>
            <EnergyMan
              :percent="laborManag.attendanceRate"
              unit="%"
              title="今日考勤率"
              fill-color="rgba(79,208,188,0.13)"
              shape-color="#4FD0BC"
            />
          </div>
          <div class="h-full flex flex-col justify-end pb-20px">
            <EnergyMan
              :percent="laborManag.nowNum"
              unit="人"
              title="实时人数"
              fill-color="rgba(72, 190, 255, 0.13)"
              shape-color="#48BEFF"
            />
          </div>
          <div>
            <EnergyMan
              :percent="laborManag.todayNum"
              title="今日累计人数"
              unit="人"
              fill-color="rgba(255, 167, 99, 0.13)"
              shape-color="rgba(255, 167, 99, 1)"
            />
          </div>
          <div class="h-full flex flex-col justify-end pb-20px">
            <EnergyMan
              unit="人"
              title="项目总人数"
              :percent="laborManag.projectSum"
              fill-color="rgba(72, 190, 255, 0.13)"
              shape-color="#48BEFF"
            />
          </div>
        </div>
      </el-card>
      <el-card class="col-span-2" :class="dashTheme.themeActive.cardClass">
        <template #header>
          <div class="card-header flex">
            <span class="mr-15px inline-block pt-2px">环境监测</span>
            <Select :data="selectData" />
            <div class="flex flex-1 justify-end">
              <GoToIcon route-path="/green/environment" />
            </div>
          </div>
        </template>
        <div class="h-full w-full">
          <Tab
            :value="activeTabs.enviMoni"
            @change="hanldeTabChange($event, false)"
            :data="lineTopData"
            :vertical="false"
          />
          <div
            class="w-full h-[calc(100%-32px)] mt-10px"
            ref="lingChartRef"
          ></div>
        </div>
      </el-card>
      <el-card class="col-span-2" :class="dashTheme.themeActive.cardClass">
        <template #header>
          <div class="card-header flex justify-between">
            <span>视频监控</span>
            <GoToIcon route-path="/videogroup" />
          </div>
        </template>
        <div class="hw-full gap-17px" flex="~">
          <Tab
            :value="activeTabs.videoMoni"
            :data="videoTabData"
            :vertical="true"
            @change="hanldeTabChange($event, true)"
          />
          <div
            class="h-full w-[calc(63%-6px)] rounded-3px py-8px px-11px"
            :style="{
              border: dashTheme.checkIfTech ? '1px solid #337BD2' : '',
              backgroundColor: dashTheme.themeActive.tabBg,
            }"
          >
            <span class="text-12px scale-80 inline-block font-600"
              >当前视频</span
            >
            <div class="h-[calc(100%-22px)] w-full rounded-3px mt-4px">
              <swiper
                ref="swiperRef"
                class="h-full"
                :modules="modules"
                :slidesPerView="1"
                direction="vertical"
                @slide-change="handleSlideChange"
                :autoplay="{
                  delay: 10000,
                  pauseOnMouseEnter: true,
                  disableOnInteraction: false,
                }"
              >
                <swiper-slide v-for="(item, i) in videoTabData" :key="i">
                  <Video
                    :url-check="{
                      channelNo: item.channelNo,
                      ipAddress: '120.236.105.139:2910',
                    }"
                    class="hw-full"
                  />
                </swiper-slide>
              </swiper>
            </div>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script setup>
import { computed, onMounted, reactive, ref, watch } from 'vue'
import area from '@/assets/images/dashboard/area.svg'
import alarmIcon from '@/assets/images/dashboard/alarm.svg'
import preAlarmIcon from '@/assets/images/dashboard/preAlarm.svg'
import EnergyMan from './components/EnergyMan.vue'
import CloumnChart from './components/CloumnChart.vue'
import Tab from './components/Tab.vue'
import GoToIcon from './components/GoToIcon.vue'
import Select from './components/Select.vue'
import Video from './components/Video.vue'
import { Column, Line } from '@antv/g2plot'
import {
  lineTopData,
  selectData2,
  selectData,
  pieData,
} from './components/mockData'

import { useDashboardTheme } from '@/store/modules/dashboardTheme'
import PieChart from './components/PieChart.vue'
import { Pagination, Autoplay } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import { fetchDashboardData } from '@/api/dashboard'
import { transformArrayToChart } from '@/utils/transformArrayDataToChart'
import relativeTime from 'dayjs/plugin/relativeTime'
import { dayjs } from 'element-plus'
import 'dayjs/locale/zh-cn'

import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import 'swiper/css/scrollbar'

const dashTheme = useDashboardTheme()

const devManRef = ref()
const lingChartRef = ref()
const swiperRef = ref()

const modules = ref([Pagination, Autoplay])

const pieDataTotal = computed(() => {
  return pieData.reduce((pre, next) => pre + next.value, 0)
})

let line
let column

watch(
  () => dashTheme.isTech,
  () => {
    line.update({
      yAxis: {
        grid: {
          line: {
            style: {
              stroke: dashTheme.themeActive.chartLineGrid,
              lineWidth: 1,
            },
          },
        },
      },
    })
    column.update({
      yAxis: {
        grid: {
          line: {
            style: {
              stroke: dashTheme.themeActive.chartLineGrid,
            },
          },
        },
      },
      legend: {
        itemName: {
          style: {
            fill: dashTheme.themeActive.chartXYTextColor,
          },
        },
      },
    })
  }
)

// 项目信息
const projectInfo = reactive({
  /** 项目图片 */
  photo: '',
  /** 项目面积 */
  floorSpace: '',
  /** 项目工期 */
  commencementDate: '',
  /** 项目名称 */
  projectName: 'XXX项目',
  /** 监理单位 */
  supervisorUnit: '单位名称',
  /** 业主单位 */
  ownerUnit: '单位名称',
  /** 建筑单位 */
  constructionUnit: '单位名称',
  /** 设计单位 */
  designUnit: '设计单位名称',
  /** 项目地点 */
  address: 'XX',
})

const warkDay = computed(() => {
  dayjs.extend(relativeTime)
  return dayjs().locale('zh-cn').from(projectInfo.commencementDate, true)
})

const projectRenderLabels = [
  {
    label: '项目名称',
    value: 'projectName',
  },
  {
    label: '监理单位',
    value: 'supervisorUnit',
  },
  {
    label: '业主单位',
    value: 'ownerUnit',
  },
  {
    label: '建筑单位',
    value: 'constructionUnit',
  },
  {
    label: '设计单位',
    value: 'designUnit',
  },
  {
    label: '项目地点',
    value: 'address',
  },
]

const safeMoni = ref([
  {
    label: '今日报警数',
    value: 20,
    /** alram - 报警;pre-alarm - 预警 */
    status: 'alram',
    key: 'todayAlarmCnt',
  },
  {
    label: '昨日报警数',
    value: 24,
    /** alram - 报警;pre-alarm - 预警 */
    status: 'alram',
    key: 'yesterdayAlarmCnt',
  },
  {
    label: '当前报警数',
    value: 13,
    /** alram - 报警;pre-alarm - 预警 */
    status: 'alram',
    key: 'currentAlarmCnt',
  },
  {
    label: '当前预警数',
    value: 16,
    /** alram - 报警;pre-alarm - 预警 */
    status: 'pre-alarm',
    key: 'currentWarnCnt',
  },
])

const totalAlarm = computed(() => {
  return safeMoni.value.reduce((pre, next) => {
    return pre + next.value
  }, 0)
})

const energyChanrtData = ref([])
const columnSingleData = ref([])
const videoTabData = ref([])

/** 劳务管理 */
const laborManag = reactive({
  attendanceRate: 0,
  nowNum: 0,
  projectSum: 0,
  todayNum: 0,
})

const activeTabs = reactive({
  enviMoni: 0,
  videoMoni: 0,
})
const activeTabValue = computed(() => {
  const res = lineTopData.find((_item, index) => index === activeTabs.enviMoni)
  if (res) {
    return res.value
  }
  return ''
})

const deviceInfo = reactive({
  deviceSum: 0,
  deviceOnline: 0,
  deviceOffline: 0,
})

const envirMoni = reactive({
  humidity: [],
  noise: [],
  pm10: [],
  pm25: [],
  temperature: [],
  windSpeed: [],
})

function handleSlideChange(e) {
  activeTabs.videoMoni = e.activeIndex
}

function hanldeTabChange(e, vertical) {
  if (vertical) {
    swiperRef.value.$el.swiper.slideTo(e)
  } else {
    activeTabs.enviMoni = e
    line.update({
      data: envirMoni[activeTabValue.value],
    })
  }
}

/** 初始化页面数据 */
async function initData() {
  // 异步加载全部数据
  // 设备信息数据获取
  fetchDashboardData('project').then(({ data }) => {
    Object.assign(projectInfo, data)
  })
  // 劳务管理数据获取
  fetchDashboardData('labor', true).then(({ data }) => {
    Object.assign(laborManag, data)
  })

  // 设备数量获取
  fetchDashboardData('device').then(({ data: deviceNumData }) => {
    Object.assign(deviceInfo, deviceNumData)
  })

  // 安全监测数据获取
  fetchDashboardData('unload').then(({ data: warnData }) => {
    if (warnData) {
      safeMoni.value = safeMoni.value.map((item) => {
        return {
          ...item,
          value: warnData[item.key],
        }
      })
    }
  })
  // 能耗管理数据集合
  fetchDashboardData('energyConsumption').then(({ data: energyData }) => {
    energyChanrtData.value = transformArrayToChart(energyData)
  })

  // 视频监控
  fetchDashboardData('video', true).then(({ data: videoData }) => {
    if (videoData) {
      videoTabData.value = videoData.map((item) => {
        return {
          ...item,
          label: item.cameraName,
          value: item.id,
        }
      })
    }
  })

  // 初始化tab数据
  fetchDashboardData('pm25').then(({ data }) => {
    if (data && data.length !== 0) {
      data.forEach((item) => {
        lineTopData.forEach((item2) => {
          envirMoni[item2.value].push({
            label: item.gatherTime,
            value: item[item2.value] || 0,
          })
        })
      })
      line.update({
        data: envirMoni[activeTabValue.value],
      })
    }
  })
}

onMounted(async () => {
  /** 初始化折线图 */
  line = new Line(lingChartRef.value, {
    data: envirMoni[activeTabValue.value],
    xField: 'label',
    yField: 'value',
    autoFit: true,
    smooth: true,
    color: '#FFA763',
    tooltip: { showMarkers: false },
    meta: {
      alias: '单位',
    },
    state: {
      active: {
        style: {
          shadowBlur: 4,
          stroke: '#000',
          fill: 'red',
        },
      },
    },
    interactions: [{ type: 'marker-active' }],
    yAxis: {
      grid: {
        line: {
          style: {
            stroke: dashTheme.themeActive.chartLineGrid,
            lineWidth: 1,
          },
        },
      },
    },
  })
  /** 初始化柱状图 */
  column = new Column(devManRef.value, {
    data: columnSingleData.value,
    xField: 'cata',
    yField: 'num',
    maxColumnWidth: 15,
    color: '#41D5C4',
    legend: {
      itemName: {
        style: {
          fill: dashTheme.themeActive.chartXYTextColor,
        },
      },
    },
    columnStyle: {
      radius: [20, 20, 0, 0],
    },
    yAxis: {
      grid: {
        line: {
          style: {
            stroke: dashTheme.themeActive.chartLineGrid,
            lineWidth: 1,
          },
        },
      },
    },

    tooltip: {
      formatter: (data) => {
        return {
          name: '数量',
          value: `${data.num}台`,
        }
      },
    },
  })

  column.render()
  line.render()
})

initData()
</script>
<style lang="scss" scoped>
.card-header {
  font-size: 12px;
  font-weight: 600;
}

.el-card {
  --el-text-color-primary: '';
}

:deep(.el-card__body) {
  height: calc(100% - 44px);
  padding-top: 0px;
}

:deep(.el-card__header) {
  border: 0;
}

.card-tech {
  background: linear-gradient(
      136deg,
      rgba(56, 64, 81, 0.73) 0%,
      rgba(0, 0, 0, 0.11) 34%,
      rgba(44, 45, 53, 0.79) 100%
    )
    rgba(15, 23, 50, 0.17);
  box-shadow: inset 0px 1px 14px 2px rgba(111, 148, 255, 0.32);
  border-radius: 3px;
  border-image: linear-gradient(
      230deg,
      rgba(176, 230, 255, 0),
      rgba(0, 130, 255, 1),
      rgba(122, 200, 255, 0.82),
      rgba(158, 221, 255, 0),
      rgba(143, 213, 255, 0)
    )
    2 2;
}

.card-normal {
  background: #fff;
}
</style>
