<template>
  <el-dialog :title="isEdit ? '编辑用户' : '新建用户'">
    <el-form
      ref="formEl"
      :model="form"
      :rules="rules"
      :show-message="false"
      label-width="120"
    >
      <div class="row form-row">
        <el-form-item label="姓名" required prop="xm">
          <el-input type="text" v-model="form.xm" />
        </el-form-item>
        <el-form-item label="性别">
          <el-select v-model="form.sex" placeholder="请选择" class="block">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="工号" prop="jobNumber" required>
          <el-input v-model="form.jobNumber"></el-input>
        </el-form-item>
        <el-form-item label="账号(手机号)" prop="userName" required>
          <el-input
            v-model.number="form.userName"
            type="text"
            placeholder="请输入11位数字"
          ></el-input>
        </el-form-item>
        <el-form-item label="职务">
          <el-input v-model="form.job"></el-input>
        </el-form-item>
        <!-- <el-form-item label="密码">
          <el-input v-model="form.password"></el-input>
        </el-form-item> -->
      </div>
      <el-table
        ref="tableRef"
        :data="tableData"
        style="width: 100%; margin-bottom: 20px"
        row-key="enterpriseId"
        default-expand-all
        @selection-change="selectionChange"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column
          label="项目结构"
          :formatter="
            (r, c, cell) => {
              return r.enterpriseName || r.projectName
            }
          "
        >
          <template #default="scope">
            <template v-if="scope.row.type === 1">
              <el-icon><ArrowDown /></el-icon>
              {{ scope.row.enterpriseName }}
            </template>
            <template v-else
              ><span style="margin-left: 20px">{{
                scope.row.projectName
              }}</span></template
            >
          </template>
        </el-table-column>
        <el-table-column label="所属部门">
          <template #default="{ row }">
            <el-form-item
              style="margin-bottom: 0"
              :validate-status="row.required && !row.deptId && 'error'"
              label-width="0"
              v-if="row.type === 1"
            >
              <el-tree-select
                v-model="row.deptId"
                :data="deptList"
                :props="{
                  label: 'deptName',
                  children: 'children',
                }"
                node-key="deptId"
                :render-after-expand="false"
              />
            </el-form-item>
          </template>
        </el-table-column>
        <el-table-column
          prop=""
          label="角色类型"
          :formatter="
            (r) => {
              return r.type === 1 ? '企业级' : '项目级'
            }
          "
        />
        <el-table-column label="角色">
          <template #default="{ row }">
            <el-form-item
              style="margin-bottom: 0"
              :validate-status="row.required && !row.roleId && 'error'"
              label-width="0"
            >
              <el-select
                v-model="row.roleId"
                placeholder="请选择"
                v-if="row.type === 1"
              >
                <el-option
                  v-for="item in enterpriseRoleList"
                  :key="item.roleId"
                  :label="item.roleName"
                  :value="item.roleId"
                />
              </el-select>
              <el-select v-model="row.roleId" placeholder="请选择" v-else>
                <el-option
                  v-for="item in projectRoleList"
                  :key="item.roleId"
                  :label="item.roleName"
                  :value="item.roleId"
                />
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>
      </el-table>
    </el-form>

    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save">保存</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import {
  editUser,
  getRoleInfoTree,
  addUser,
  getEditRoleInfoTree,
} from '@/api/setting/user'
import useUserStore from '@/store/modules/user'
import { nextTick } from 'vue'
import { ElMessage } from 'element-plus'
const userStore = useUserStore()
const { currentRole } = userStore
const props = defineProps(['closeFn', 'isEdit', 'editData', 'saveCallback'])
const form = ref({
  xm: '',
  sex: '',
  jobNumber: '',
  userName: '',
  job: '',
  password: '',
})
const deptList = ref()
const enterpriseRoleList = ref()
const projectRoleList = ref()
const formEl = ref()
const tableRef = ref(null)
const rules = reactive({
  userName: [{ pattern: /^\d{11}$/, trigger: 'blur', message: '11位' }],
})
const tableData = ref([])
const options = [
  {
    label: '男',
    value: '0',
  },
  {
    label: '女',
    value: '1',
  },
]
const flag=ref(false)
onMounted(async () => {
  if (props.isEdit) {
    const { xm, userName, job, sex, jobNumber, password, userId } =
      props.editData
    form.value = { xm, userName, job, sex, jobNumber, password }
    const res = await getEditRoleInfoTree({
      enterpriseId: currentRole.enterpriseId,
      userId: userId,
    })
    console.log(res);
    const data = res.data
    deptList.value = data.deptList
    enterpriseRoleList.value = data.enterpriseRoleList
    projectRoleList.value = data.projectRoleList
    tableData.value = data.list
    flag.value=true
    nextTick(() => {
      data.list.forEach((item) => {
        if (item.id) {
          tableRef.value.toggleRowSelection(item, true)
        }
      })
      flag.value=false
    })
  } else {
    fetchRoleInfoTree()
  }
})

function fetchRoleInfoTree() {
  return getRoleInfoTree(currentRole.enterpriseId).then((res) => {
    const data = res.data
    deptList.value = data.deptList
    enterpriseRoleList.value = data.enterpriseRoleList
    projectRoleList.value = data.projectRoleList
    tableData.value = data.list
  })
}
function selectionChange(sel) {
  if(flag.value)return
  sel.forEach((item) => {
    item.required = true
  })
  const unSelected = tableData.value.filter((item) => {
    return !sel.includes(item)
  })
  unSelected.forEach((item) => {
    item.deptId = ''
    item.roleId = ''
    item.required = false
  })
}
const save = async () => {
  const userRoles = tableRef.value.getSelectionRows()
  const valid = await formEl.value.validate().catch((err) => {
    if (err.userName && form.value.userName) {
      ElMessage.error('手机号为11位数字')
      return 'error'
    }
  })
  if(valid==='error')return
  if (
    !valid ||
    !userRoles.every((item) => item.roleId && (item.type !== 1 || item.deptId))
  ) {
    ElMessage.error('请按规则填写表单')
    return
  }
  if(!userRoles.length){
    ElMessage.error('请勾选角色')
    return
  }

  const params = {
    ...form.value,
    userRoles,
    enterpriseId: currentRole.enterpriseId,
  }
  if(props.isEdit){
    params.userId=props.editData.userId
    editUser(params).then((res) => {
      if (res.code !== 200) return
      props.closeFn()
      props.saveCallback()
    })
  }else{
    addUser(params).then((res) => {
      if (res.code !== 200) return
      props.closeFn()
      props.saveCallback()
    })
  }
}
</script>
<style lang="scss" scoped>
.form-row {
  flex-wrap: wrap;
  .el-form-item {
    flex-basis: 33.33%;
  }
}
:deep(.vxe-select--panel) {
  z-index: 3000 !important;
}
</style>
