<template>
  <div class="panel normal">
    <div class="head">用户管理</div>
    <div class="body">
      <div class="operate">
        <div class="search-field">
          <el-form :modal="query" :inline="true" class="demo-form-inline">
            <el-form-item label="姓名：">
              <el-input
                style="width: 200px"
                v-model="query.xm"
                placeholder="请输入姓名"
                clearable
              />
            </el-form-item>
            <el-form-item label="手机号：">
              <el-input
                style="width: 200px"
                v-model="query.phonenumber"
                placeholder="请输入手机号"
                clearable
              />
            </el-form-item>
            <el-form-item label="角色：">
              <el-input
                style="width: 200px"
                v-model="query.roleName"
                placeholder="请输入角色"
                clearable
              />
            </el-form-item>
            <el-form-item label="项目：">
              <el-input
                style="width: 200px"
                v-model="query.projectName"
                placeholder="请输入项目"
                clearable
              />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSearch">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="action-field">
          <div
            class="filled-btn"
            @click="handleAdd(false)"
            v-hasPermi="['setting:user:edit']"
          >
            <span>新增用户</span>
            <img class="icon" src="@/assets/icons/add-fill.png" alt="" />
          </div>
        </div>
      </div>
      <div>
        <Table
          :data="tableData"
          :pagination="pagination"
          @page-change="pageChange"
          style="width: 100%"
        >
          <el-table-column label="姓名" prop="xm" />
          <el-table-column label="职务" prop="job" />
          <el-table-column
            label="性别"
            prop="sex"
            :formatter="
              (c, r, cell) => {
                return cell === '0' ? '男' : '女'
              }
            "
          />
          <el-table-column label="工号" prop="jobNumber" />
          <el-table-column label="联系电话/账号" prop="phonenumber" />
          <el-table-column label="操作">
            <template #default="scope">
              <el-button
                link
                type="primary"
                @click="handleAdd(true, scope.row)"
                v-hasPermi="['setting:user:edit']"
                >编辑</el-button
              >
              <el-button
                link
                type="danger"
                @click="handleDelete(scope.row)"
                v-hasPermi="['setting:user:edit']"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </Table>
      </div>
    </div>
    <DialogAdd
      v-if="dialogAddVisible"
      v-model="dialogAddVisible"
      width="960"
      :isEdit="isEdit"
      :editData="editData"
      :closeFn="closeAddFn"
      :saveCallback="saveCallback"
    ></DialogAdd>
  </div>
</template>
<script setup>
import 'vxe-table/lib/style.css'
import Table from '@/components/Table'
import DialogAdd from './DialogAdd.vue'
import { getUserList, delUser } from '@/api/setting/user'
import useUserStore from '@/store/modules/user'
import { ElMessage } from 'element-plus'

const userStore = useUserStore()
const { currentRole } = userStore
const keyword = ref('')
const tableData = ref([])
const editData = ref({})
const dialogAddVisible = ref(false)
const isEdit = ref(false)
const query = ref({})
const pagination = reactive({
  showTotal: true,
  total: 0,
})

onMounted(() => {
  fetchUserList()
})

function fetchUserList(data = {}) {
  data.pageSize = 10
  data.pageNum = data.pageNum || 1
  data.enterpriseId = currentRole.enterpriseId
  getUserList(data).then((res) => {
    if (res.code != 200) return
    tableData.value = res.rows
    pagination.total = res.total
  })
}
function saveCallback() {
  fetchUserList()
}
const pageChange = (val) => {
  pagination['current-page']=pageNum = pageNum
  fetchUserList({ pageNum: val })
}
function onSearch() {
  fetchUserList(query.value)
}
const handleAdd = (flag, data) => {
  dialogAddVisible.value = true
  isEdit.value = flag
  editData.value = data
}
const handleDelete = async ({ userId }) => {
  await delUser({ enterpriseId: currentRole.enterpriseId, userIds: [userId] })
  ElMessage.success('删除成功')
  saveCallback()
}

const closeAddFn = () => {
  dialogAddVisible.value = false
}
</script>
<style lang="scss" scoped>
.head {
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  color: #333333;
  background: rgba(0, 0, 0, 0.02);
}
.body {
  padding: 0 20px 20px;
}
.operate {
  display: flex;
  justify-content: space-between;
  .action-field {
    width: 160px;
  }
}
.offline {
  color: #fa5555;
}
.online {
  color: #029b00;
}
</style>
