<template >
  <video
    :id="`video_container_${tcPlayerType}_${index}`"
    class="video_container"
  ></video>
</template>
<script>
import TCPlayer from 'tcplayer.js'
export default {
  name: 'Cviewplayer',
  props: {
    //默认监控图片
    Defaultimage: { type: String, default: '' },
    //视频的url
    videoUrl: { type: String, default: '' },
    //视频的坐标，用于判断div的id赋值到对应的容器
    index: { type: Number, default: 0 },
    //是否播放
    isPlay: { type: Boolean, default: false },
    data: {
      type: [Object, String, Array],
    },
    //是否自动播放
    autoplay: {
      type: Boolean,
      required: false,
    },
    //是否静音
    volume: {
      type: Number,
      default: 0.6,
    },
    //循环播放
    isCirculation: {
      type: Boolean,
      required: false,
    },
    //循环进度
    process: {
      type: Number,
      default: 0,
      required: false,
    },
    //唯一标识
    tcPlayerType: { default: 'monitor' },
  },
  data() {
    return {
      player: [],
      poster: '' /* 视频封面 */,
    }
  },
  destroyed() {
    // 页面销毁，同时也销毁 TcPlayer
    this.player.forEach((item) => {
      item.dispose()
    })
    this.player = []
  },
  created() {
    this.$nextTick(() => {
      this.initPlayer()
    })
    // console.log('@@@@@',this.data)
  },
  watch: {
    isPlay() {
      this.$nextTick(() => {
        if (this.isPlay) {
          this.play()
          this.$emit('PlayClose', false)
        }
      })
    },
  },
  methods: {
    initPlayer() {
      // if (this.videoUrl == '') return
      if (this.player.length) {
        this.player.forEach((item) => {
          item.destroy()
        })
        this.player = []
      }
      var options = {
        m3u8: this.videoUrl,
        flv: this.videoUrl,
        autoplay: this.autoplay,
        preload: true,
        poster: { style: 'cover', src: this.Defaultimage },
        coverpic: this.Defaultimage,
        // "continuePlay":true,  //是否连续播放
        // live: true,
        width: '100%',
        height: '100%',
        x5_player: true,
        x5_type: 'h5-page',
        x5_fullscreen: true,
        wording: {
          1: '网络错误，请检查网络配置或者播放连接是否正确',
          12: '请在左侧选择视频监控点',
          1002: '即将开始，请稍等',
          2032: '请求视频失败，请检查网络',
          2048: '请求m3u8文件失败,多是网络错误或者跨域问题',
        },
        flash: false, //是否优先使用 flash 播放视频
        h5_flv: true,
        pausePosterEnabled: true /* 暂停时显示封面 默认为true */,
        volume: this.volume, //测试初始音量[0-1] 设置为0 静音 大多浏览器会恢复自动播放功能
        listener: (msg) => {
          if (msg.type == 'load') {
            //加载完事件
          }
          if (msg.type == 'playing') {
          }
          if (msg.type == 'ended') {
            //播放完成事件
            // this.player[this.index].close()
            if (this.isCirculation) {
              this.player[this.index]?.play()
            }
          }
          // 播放失败，重新连接
          if (msg.type == 'error') {
            //修改播放状态
            if (
              this.data.length > this.index &&
              this.data[this.index] !== undefined
            ) {
              this.data[this.index].status = 2
            }

            // setTimeout(() => {
            //   if (this.player[this.index]?.options.src == undefined) return false
            //   this.player[this.index]?.load() // 重连
            // }, 4000)
          }
        },
      }
      //增加flv
      // if (this.videoUrl.toLowerCase().substring(0, 3) == 'flv') {
      //   options.flv = this.videoUrl
      // }
      // 初始化

      this.player.push(
        TCPlayer(
          'video_container_' + this.tcPlayerType + '_' + this.index,
          options
        )
      )
      if (this.autoplay) {
        this.player[0].volume(0)
      }
    },
    // 播放或暂停
    play(bool) {
      if (this.player.length) {
        this.player.forEach((item) => {
          //如果没有地址则跳过
          if (item.options.src == undefined) return false
          if (bool) {
            item?.togglePlay()
          } else {
            item?.play()
          }
        })
      } else {
        this.$message({
          type: 'warning',
          message: '暂无视频播放源，请检查设置',
        })
      }
    },
    //播放进度
    playProcess(time) {
      if (this.player.length) {
        this.player.forEach((item) => {
          //如果没有地址则跳过
          if (item.options.src == undefined) return false
          item?.currentTime(time(item?.currentTime()))
        })
      } else {
        this.$message({
          type: 'warning',
          message: '暂无视频播放源，请检查设置',
        })
      }
    },
    playBackRate(rate) {
      if (this.player.length) {
        this.player.forEach((item) => {
          //如果没有地址则跳过
          if (item.options.src == undefined) return false
          console.log(rate, '---rate', item)
          item?.playbackRate(rate)
        })
      } else {
        this.$message({
          type: 'warning',
          message: '暂无视频播放源，请检查设置',
        })
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.video_container {
  width: 100%;
  height: 100%;
}
:deep(.vcp-player) {
  background-color: #4d5053;
  // 修改视频提示语位置
  // /deep/
  .vcp-error-tips {
    padding-top: 66px;
    color: #fff;
  }
}
</style>
