<template >
  <video
    :id="`video_container_${tcPlayerType}_${index}`"
    class="video_container"
  ></video>
</template>
<script setup>
import { ElMessage } from 'element-plus'
// import TcPlayer from 'tcplayer.js'
import { reactive, computed, onMounted, onUnmounted, watch } from 'vue'

const props = defineProps({
  //默认监控图片
  Defaultimage: { type: String, default: '' },
  //视频的url
  videoUrl: { type: String, default: '' },
  //视频的坐标，用于判断div的id赋值到对应的容器
  index: { type: Number, default: 0 },
  //是否播放
  isPlay: { type: Boolean, default: false },
  data: {
    type: [Object, String, Array],
  },
  //是否自动播放
  autoplay: {
    type: Boolean,
    required: false,
  },
  //是否静音
  volume: {
    type: Number,
    default: 0.6,
  },
  //循环播放
  isCirculation: {
    type: Boolean,
    required: false,
  },
  //循环进度
  process: {
    type: Number,
    default: 0,
    required: false,
  },
  //唯一标识
  tcPlayerType: { default: 'monitor' },
})
const data = reactive({
  player: [],
  poster: '' /* 视频封面 */,
})
const emits = defineEmits(['PlayClose'])
const initPlayer = function () {
  if (data.player.length) {
    data.player.forEach((item) => {
      item.dispose()
    })
    data.player = []
  }
  var options = {
    sources: props.videoUrl,
    preload: true,
    poster: { style: 'cover', src: props.Defaultimage },
    coverpic: props.Defaultimage,
    // "continuePlay":true,  //是否连续播放
    // bigPlayButton:false,
    playbackRates: [0.5, 1.0, 2.0, 3.0],
    width: '100%',
    height: '100%',
    languages: {
      'zh-cn': {
        1: '网络错误，请检查网络配置或者播放连接是否正确',
        12: '请在左侧选择视频监控点',
        1002: '即将开始，请稍等',
        2032: '请求视频失败，请检查网络',
        2048: '请求m3u8文件失败,多是网络错误或者跨域问题',
      },
    },
  }
  let videoplayer = TCPlayer(
    'video_container_' + props.tcPlayerType + '_' + props.index,
    options
  )
  videoplayer.on('ended', (event) => {
    if (props.isCirculation) {
      data.player[props.index]?.play()
    }
  })
  videoplayer.on('error', (event) => {
    if (
      props.data.length > props.index &&
      props.data[props.index] !== undefined
    ) {
      props.data[props.index].status = 2
    }
  })
  data.player.push(videoplayer)
  if (data.autoplay) {
    data.player[0].volume(0)
  }
}
// 播放或暂停
const play = function (bool = false) {
  if (data.player.length) {
    data.player.forEach((item) => {
      //如果没有地址则跳过
      if (item.options_.sources == undefined) return false
      if (bool) {
        item?.pause()
      } else {
        item?.play()
      }
    })
  } else {
    ElMessage({
      type: 'warning',
      message: '暂无视频播放源，请检查设置',
    })
  }
}
//播放进度
const playProcess = function (time) {
  if (data.player.length) {
    data.player.forEach((item) => {
      //如果没有地址则跳过
      if (item.options_.sources == undefined) return false
      console.log(1111111111111111)
      item?.currentTime(time(item?.currentTime()))
    })
  } else {
    ElMessage({
      type: 'warning',
      message: '暂无视频播放源，请检查设置',
    })
  }
}
const playBackRate = function (rate) {
  if (data.player.length) {
    data.player.forEach((item) => {
      //如果没有地址则跳过
      if (item.options_.sources == undefined) return false
      item?.playbackRate(rate)
    })
  } else {
    ElMessage({
      type: 'warning',
      message: '暂无视频播放源，请检查设置',
    })
  }
}
onMounted(() => {
  initPlayer()
})
onUnmounted(() => {
  data.player.forEach((item) => {
    item.dispose()
  })
  data.player = []
})
watch(
  // pointer函数，监听的是什么
  () => props.isPlay,
  // change函数，监听值的变化
  (newValue) => {
    nextTick(() => {
      if (newValue) {
        play()
        emits('PlayClose', false)
      }
    })
  }
)
//暴露state和play方法
defineExpose({
  play,
  playProcess,
  playBackRate,
})
</script>
<style lang="scss" scoped>
.video_container {
  width: 100%;
  height: 100%;
}
:deep(.vcp-player) {
  background-color: #4d5053;
  // 修改视频提示语位置
  // /deep/
  .vcp-error-tips {
    padding-top: 66px;
    color: #fff;
  }
}
</style>

