<template>
  <div>
    <div class="row">
      <div class="col-auto" style="width: 740px">
        <div class="panel custom panel1">
          <div class="head">
            <div class="left">
              <div class="title">设备状态</div>
            </div>
          </div>
          <el-row class="body">
            <el-col :span="8">
              <div class="count">{{ state.installCnt }}</div>
              <div class="desc">
                <img src="@/assets/images/green/device1.png" alt="" />
                <span>已安装开关</span>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="count">{{ state.onlineCnt }}</div>
              <div class="desc">
                <img src="@/assets/images/green/device2.png" alt="" />
                <span>在线开关</span>
              </div>
            </el-col>
            <el-col :span="8">
              <el-popover placement="right-start" :width="200" trigger="hover">
                <template #default>
                  <p class="mb10">
                    离线开关数：<span class="text-danger">{{
                      state.offlineCnt
                    }}</span>
                  </p>
                  <p
                    v-for="(item, index) in state.offlineDeviceList"
                    :key="index"
                  >
                    {{ item.deviceName }}
                  </p>
                </template>
                <template #reference>
                  <div class="count red">{{ state.offlineCnt }}</div>
                </template>
              </el-popover>
              <div class="desc">
                <img src="@/assets/images/green/device3.png" alt="" />
                <span>离线开关</span>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="col-auto ml20" style="width: 440px">
        <div class="panel custom panel1">
          <div class="head">
            <div class="left">
              <div class="title">照明统计</div>
            </div>
            <div class="right">
              <el-radio-group
                v-model="timeType"
                class="right"
                size="small"
                @change="radioChange"
              >
                <el-radio-button :label="-1">昨日</el-radio-button>
                <el-radio-button :label="-7">近7天</el-radio-button>
                <el-radio-button :label="-30">近30天</el-radio-button>
              </el-radio-group>
            </div>
          </div>
          <div class="body statistics center-h">
            <div>
              <div>
                <span class="count">{{ duration }}</span
                ><span class="fz24">h</span>
              </div>
              <div class="desc">
                <img src="@/assets/images/green/clock.png" alt="" />
                <span>照明累计时长</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-auto" style="width: 740px">
        <LineChart :switchgearList="switchgearList"></LineChart>
      </div>
      <div class="col-auto ml20" style="width: 440px">
        <div class="panel custom">
          <div class="head">
            <div class="left"><div class="title">远程控制</div></div>
          </div>
          <div class="body">
            <div class="group" v-for="item in switchgearTree" :key="index">
              <div class="title"><span>{{item.deviceName}}</span><span :class="item.status?'text-success':'text-danger'">{{item.status?'在线':'离线'}}</span></div>
              <div class="content">
                <div class="item-list">
                  <div class="item" v-for="gear in item.deviceInfoList" :key="index">
                    <div class="name">{{gear.switchgearName}}</div>
                  </div>
                </div>
                <el-switch v-model="item.switchStatus" v-if="item.deviceInfoList?.length&&item.status"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import LineChart from './LineChart.vue'
import {getDeviceStatus,getDuration} from '@/api/green/switch';
const projectId=inject('projectId')
const state = ref({
  installCount: undefined,
  onlineCount: undefined,
  offlineCount: undefined,
})
const switchgearTree=inject('switchgearTree')
const duration=ref()
const timeType=ref(-1)
onMounted(()=>{
  fetchDeviceStatus()
  fetchDuration()
})
watch(timeType,()=>{
  fetchDuration()
})
function fetchDeviceStatus(){
  getDeviceStatus(projectId).then(res=>{
    if(res.code!==200)return
    state.value=res.data
  })
}
function fetchDuration(){
  getDuration({projectId,timeType:timeType.value}).then(res=>{
    if(res.code!==200)return
    duration.value=res.data
  })
}

</script>
<style lang="scss" scoped>
.panel1 {
  height: 204px;
  .body {
    margin-top: 20px;
    &.statistics {
      justify-content: center;
    }
  }
  .count {
    color: #333333;
    line-height: 64px;
    font-size: 55px;
    margin-right: 5px;
    &.red {
      color: var(--el-color-danger);
      display: inline-block;
    }
  }
  .desc {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
    span {
      color: #999999;
      line-height: 19px;
      font-size: 16px;
      margin-left: 12px;
    }
  }
}
.fz24 {
  font-size: 24px;
}
.group {
  margin-top: 10px;
  color: #666666;
  font-size: 14px;
  .title {
    display: flex;
    justify-content: space-between;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    background: #fafafa;
    font-weight: bold;
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item {
    margin-top: 8px;
    padding: 0 30px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
