<template>
  <div class="panel custom" id="energy">
    <div class="head">
      <div class="left">
        <div class="title">照明时长（h）</div>
        <div class="gap mt10">
          <span>选择照明设备：</span>
          <el-select v-model="params.deviceId" placeholder="请选择" style="width: 150px">
            <el-option label="全部设备" :value="undefined"></el-option>
            <el-option
              v-for="(item, index) in switchgearList"
              :key="index"
              :label="item.switchgearName"
              :value="item.id"
            />
          </el-select>
        </div>
        <div class="ml20 mt10">
          <span>选择时段：</span>
          <el-date-picker
            style="width: 150px"
            v-model="dateRange.startTime"
            :type="dateType"
            value-format="YYYY-MM-DD"
            placeholder="开始日期"
            :disabled-date="disabledStartDate"
            @change="dateChange"
          />
          -
          <el-date-picker
            style="width: 150px"
            v-model="dateRange.endTime"
            :type="dateType"
            value-format="YYYY-MM-DD"
            placeholder="结束日期"
            :disabled-date="disabledEndDate"
            @change="dateChange"
          />
        </div>
      </div>
      <el-radio-group
        v-model="params.periodType"
        class="right mt10"
        size="small"
        @change="radioChange"
      >
        <el-radio-button label="day">按日</el-radio-button>
        <el-radio-button label="month">按月</el-radio-button>
        <el-radio-button label="year">按年</el-radio-button>
      </el-radio-group>
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
</template>
<script setup>
import * as echarts from 'echarts/core';
import { GridComponent } from 'echarts/components';
import { LineChart } from 'echarts/charts';
import { UniversalTransition } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';
import dayjs from 'dayjs';
import {getChartData} from '@/api/green/switch';
echarts.use([GridComponent, LineChart, CanvasRenderer, UniversalTransition]);

const switchgearList=inject('switchgearList')
const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const projectId=inject('projectId')
const container = ref(null)
const chartData=ref()
var myChart

const params = reactive({
  projectId,
  deviceId:undefined,
  periodType: 'day',
})
const dateRange = ref({
  startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})
onMounted(() => {
  fetchData()
})
watch(params, () => {
  nextTick(fetchData)
})

const dateChange=(val) => {
  if (!val) return
  fetchData()
}
function fetchData() {
  getChartData({ ...params, ...dateRange.value })
    .then((res) => {
      if (res.code !== 200) return
      updateChart(res.data)
    })

}

const dateType = computed(() => {
  const typeMap = { 1: 'date', 2: 'month', 3: 'year' }
  return typeMap[params.type]
})
const radioChange = (val) => {
  switch (val) {
    case 1:
      dateRange.value = {
        startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    case 2:
      dateRange.value = {
        startTime: dayjs().subtract(9, 'month').format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    case 3:
      dateRange.value = {
        startTime: dayjs(releaseDate).format('YYYY-MM-DD'),
        endTime: dayjs().format('YYYY-MM-DD'),
      }
      break
    default:
      break
  }
  params.type = val
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dateRange.value.endTime) {
    valid = valid && date <= dayjs(dateRange.value.endTime)
    if (params.type === 1) {
      valid = valid && date > dayjs().subtract(10, 'day')
    }
    if (params.type === 2) {
      valid = valid && date > dayjs().subtract(10, 'month')
    }
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (dateRange.value.startTime) {
    valid = valid && date >= dayjs(dateRange.value.startTime)
    if (params.type === 1) {
      valid = valid && date < dayjs(dateRange.value.startTime).add(10, 'day')
    }
    if (params.type === 2) {
      valid = valid && date < dayjs(dateRange.value.startTime).add(10, 'month')
    }
  }
  return !valid
}
function updateChart(data) {
  if (!myChart) {
    myChart = echarts.init(container.value)
  }
  var option = {
  xAxis: {
    type: 'category',
    data: data.map(item=>item.timeStr)
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: data.map(item=>item.total),
      type: 'line',
      smooth: true
    }
  ]
};
  myChart.setOption(option)
}
</script>
<style lang="scss" scoped>
.left{
  flex: 1;
}
.right{
  width: 142px;
}
.container{
  height: 250px;
}
</style>
