<template>
  <el-card class="hw-full text-12px font-500">
    <div class="flex justify-between">
      <div></div>
      <div
        @click="handleChackDetail"
        class="scale-80 cursor-pointer text-[#00A0E9]"
      >
        查看详情
      </div>
    </div>
    <div class="h-[calc(100%-16px)] flex">
      <div class="h-full w-45%">
        <div class="text-#333 font-500 text-41px mr-12px">
          {{ props.value }}
          <span class="text-#999999 text-12px">{{ props.unit }}</span>
        </div>
        <div class="flex items-center">
          <img class="h-14px mr-10px" :src="`../${props.icon}`" />
          <div class="text-#999999 flex items-center">{{ props.desc }}</div>
        </div>
      </div>
      <div class="flex-col flex justify-end h-full w-45%">
        <img class="w-full h-80%" :src="`../${props.imgUrl}`" />
      </div>
    </div>
  </el-card>
</template>

<script setup>
const props = defineProps([
  'visible',
  'unit',
  'title',
  'icon',
  'desc',
  'type',
  'value',
  'imgUrl',
])

const emits = defineEmits(['visibleChange', 'activeTitle'])

function handleChackDetail() {
  emits('visibleChange', { visible: true, title: props.title })
}
</script>
<style scoped>
:deep(.el-card__body) {
  padding: 2% 5%;
}
</style>
