<template>
  <el-card class="hw-full text-12px font-600 text-#333">
    <div class="flex justify-between">
      <div>
        {{ props.title }}
      </div>
    </div>
    <slot></slot>
  </el-card>
</template>

<script setup>
const props = defineProps(['title'])
</script>
<style scoped>
:deep(.el-card__body) {
  padding: 15px 24px;
}
</style>
