<template>
  <div class="videoGroup">
    <div class="left">
      <div>
        <p
          style="
            font-size: 14px;
            margin-bottom: 15px;
            font-weight: bold;
            height: 54px;
            line-height: 54px;
          "
        >
          监控点选择
        </p>
        <el-input
          v-model="searchText"
          placeholder="请输入关键词"
          :suffix-icon="Search"
        >
        </el-input>
        <!-- <el-button @click="expandAll" style="float: right">{{
          isExpandAll ? '关闭全部' : '展开全部'
        }}</el-button> -->
      </div>

      <el-tree
        v-if="refreshTable"
        ref="treeRef"
        :data="treeData"
        :expand-icon="'el-icon-plus'"
        :collapse-icon="'el-icon-minus'"
        :props="defaultProps"
        :filter-node-method="filterNode"
        :default-expand-all="isExpandAll"
        @node-click="handleNodeClick"
      >
        <template #default="{ node, data }">
          <span class="custom-tree-node">
            <span
              :class="[
                'icon',
                data.children ? 'el-icon-folder' : 'el-icon-document',
              ]"
            >
              <img
                :src="data.children ? '/src/assets/video/地图类_楼梯.png' : ''"
                alt=""
            /></span>
            <span
              class="text"
              :style="
                !data.children && data.status == 0
                  ? 'text-decoration: line-through'
                  : ''
              "
            >
              {{ node.label }}
              <span
                :class="[
                  'status',
                  !data.children && data.status == 0
                    ? 'fail'
                    : data.status == 1
                    ? 'success'
                    : '',
                ]"
                >{{
                  !data.children && data.status == 0
                    ? '离线'
                    : data.status == 1
                    ? '在线'
                    : ''
                }}</span
              >
            </span>
          </span>
        </template>
      </el-tree>
    </div>
    <div class="right">
      <div class="top">
        <span>监控画面</span>
        <div style="width: 15%; display: flex; justify-content: space-evenly">
          <span @click="proportionSumbit('1')">
            <img src="/src/assets/video/编组6.png" alt="" />
          </span>
          <span @click="proportionSumbit('2')">
            <img src="/src/assets/video/编组3.png" alt="" />
          </span>
          <span @click="proportionSumbit('6')">
            <img src="/src/assets/video/编组2备份.png" alt="" />
          </span>
          <span @click="proportionSumbit('3')">
            <img src="/src/assets/video/编组2.png" alt="" />
          </span>
        </div>
      </div>
      <!-- 视频组 -->
      <div
        class="VideoGirus"
        :style="`grid-template-columns:${videoProps.autoNumber};`"
      >
        <div
          v-for="(item, index) in videoProps.Proportion"
          :key="index + new Date()"
          :class="item.classname"
        >
          <div class="colvideo">
            <div class="bgvideo">
              <div class="titlevideo">
                <span>
                  <img src="/src/assets/video/监控.png" alt="" />
                  {{ item.title }}
                </span>
                <div style="width: 60px">
                  <span
                    style="margin-right: 15px"
                    @click="seeVideo(item, index)"
                  >
                    <img src="/src/assets/video/全屏.png" alt="" />
                  </span>
                  <span @click="closeVideo(item)">
                    <img
                      src="/src/assets/video/304错误、关闭、取消-圆框.png"
                      alt=""
                  /></span>
                </div>
              </div>
              <cviewplayer
                ref="player"
                class="cviewplayer"
                :key="videoProps.freshDom"
                :videoUrl="item.videoUrl"
                :index="item.index"
                :tcPlayerType="item.id"
                :isPlay="videoProps.isPlay"
                :data="videodata"
                :process="videoProps.process"
                @PlayClose="PlayClose"
              ></cviewplayer>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom">
        <el-date-picker
          style="height: 40px; width: 20%; border-radius: 8px"
          v-model="date"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :default-value="[new Date(2010, 9, 1), new Date(2010, 10, 1)]"
        />
        <videback width="60%" @onSliderChange="sliderChange"></videback>
        <div
          style="
            width: 18%;
            padding: 0 16px;
            background: #fff;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
          "
        >
          <el-select
            v-model="selectvalue"
            placeholder="1X"
            style="width: 65px"
            @change="selectChange"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
          <span style="vertical-align: middle">
            <span style="margin: 0 10px" @click="backword">
              <img src="/src/assets/video/speed-快进备份.png" alt="" />
            </span>
            <span style="margin: 0 10px 0 0" @click="play">
              <img
                :src="
                  videoIsPlayer
                    ? '/src/assets/video/视频播放时播放.png'
                    : '/src/assets/video/视频播放时播放.png'
                "
                alt=""
              />
            </span>
            <span @click="speed">
              <img src="/src/assets/video/speed-快进.png" alt="" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import {
  getVideoList,
  getRegionList,
  getPreviewUrl,
  getHlsPath,
  rtmpTaskHeartbeat,
} from '@/api/system/video'
import { ref, onMounted, reactive, computed } from 'vue'
import { Search } from '@element-plus/icons-vue'
import cviewplayer from './components/cviewplayer'
import videback from './components/videback'
//搜索框数据
const searchText = ref('')
//tree dom
const treeRef = ref()
//tree是否展开
const isExpandAll = ref(false)
//tree更新
const refreshTable = ref(true)
//视频播放
const videoIsPlayer = ref(true)
//videoplayer
const player = ref()
//tree数据
const treeData = ref([])
//tree配置节
const defaultProps = {
  children: 'children',
  label: 'cameraName',
}
//video
const videoProps = reactive({
  //赋值时间戳达到刷新的效果
  freshDom: '',
  //数据的数组
  Proportion: [],
  //判断比例
  autoNumber: 'auto auto',
  //是否播放
  isPlay: false,
  //播放进度
  process: 0,
})
//videdata
const videodata = reactive([])
//日期
const date = ref('')
//videodisplayScale
const displayScale = ref('2')
//是否查看视频showVideo
const showVideo = ref('')
//下拉框
const selectvalue = ref('')
const options = [
  {
    value: '0.5',
    label: '0.5X',
  },
  {
    value: '1.0',
    label: '1.0X',
  },
  {
    value: '2.0',
    label: '2.0X',
  },
  {
    value: '3.0',
    label: '3.0X',
  },
]
//点击节点
const handleNodeClick = async (data) => {
  if (data.children) {
    return
  }
  // 检查数组长度是否超过设定值
  if (videodata.length + 1 > displayScale.value * displayScale.value) {
    // 如果超过,将多余的元素从数组头部删除
    const data = videodata.splice(0, videodata.length - 1 - displayScale.value)
    const { channelNo, ipAddress } = data[0]
    //停止推流
    const rtmp = rtmpTaskHeartbeat({
      channelNo,
      ipAddress,
    })
    console.log(rtmp, '------rtmp')
  }
  const { channelNo, ipAddress } = data
  const { data: hlsVideoUrl } = await getHlsPath({
    channelNo,
    ipAddress,
  })
  videodata.push({
    id: data.id,
    status: data.status,
    title: data.cameraName,
    videoUrl: hlsVideoUrl,
    index: data.id,
    channelNo: data.channelNo,
    ipAddress: data.ipAddress,
  })
  proportionSumbit(displayScale.value)
}
//自定义图标
// const renderContent = (h, { node, data }) => {
//   console.log(node, data, '--node, data')
//   return h('span', { class: 'node-content' }, [
//     h(
//       'i',
//       { class: data.children ? 'el-icon-folder' : 'el-icon-document' },
//       data.children ? '+' : '-'
//     ),
//     h('span', { class: 'node-label' }, data.cameraName),
//   ])
// }
//搜索
const filterNode = (value, data) => {
  if (!value) return true
  return data.cameraName.includes(value)
}

//展开全部
const expandAll = () => {
  refreshTable.value = false
  isExpandAll.value = !isExpandAll.value
  nextTick(() => {
    refreshTable.value = true
  })
}
//获取监控列表
const videoList = async () => {
  const data = await getVideoList()
  const area = await getRegionList()
  // const res2 = await getPreviewUrl()
  console.log(data.data, '---')
  console.log(area.data, '11---')
  let newData = []
  for (let i = 0; i < area.data.length; i++) {
    let node = area.data[i]
    node.children = []
    node.cameraName = node.name
    for (let j = 0; j < data.data.length; j++) {
      let childNode = data.data[j]

      if (childNode.regionIndexCode === node.indexCode) {
        node.children.push(childNode)
      }
    }
    newData.push(node)
  }
  console.log(newData, '--newData')
  treeData.value = newData
}
//接收子级传来的是否播放状态
const PlayClose = () => {
  videoProps.isPlay = false
}
//初始化
const fun_into = () => {
  proportionSumbit('2')
}
//播放事件
const VideoPlay = () => {
  videoProps.isPlay = true
}
//视频比例
const proportionSumbit = (val) => {
  //grid赋值比例的
  displayScale.value = val
  proportion(val)
  videoProps.Proportion = []
  videoProps.freshDom = +new Date()
  if (val == 6) {
    val = 6
  } else {
    val = val * val
  }
  for (var i = 0; i < val; i++) {
    videoProps.Proportion.push({
      id: videodata[i]?.id,
      status: videodata[i]?.status,
      title: videodata[i]?.title,
      videoUrl: videodata[i]?.videoUrl,
      index: i,
      classname: val == 6 && i == 0 ? 'video1' : '',
    })
  }
}
//查看视频
const seeVideo = (item, index) => {
  showVideo.value = index
  console.log(showVideo.value, '--showVideo.value')
  if (displayScale.value == 1) {
    return
  }
  proportion('1')
  videoProps.Proportion = []
  videoProps.freshDom = +new Date()
  videoProps.Proportion = [
    {
      id: item?.id,
      status: item?.status,
      title: item?.title,
      videoUrl: item?.videoUrl,
      index: 1,
      classname: '',
    },
  ]
}
//关闭视频
const closeVideo = (item) => {
  showVideo.value = ''
  if (displayScale.value == 1) {
    return
  }

  proportionSumbit(displayScale.value)
  proportion(displayScale.value)
}
//grid赋值比例的
const proportion = (val) => {
  switch (val) {
    case '1':
      videoProps.autoNumber = 'auto'
      break
    case '2':
      videoProps.autoNumber = 'auto auto'
      break
    case '3':
      videoProps.autoNumber = 'auto auto auto'
      break
    case '4':
      videoProps.autoNumber = 'auto auto auto auto'
      break
    default:
      videoProps.autoNumber = 'auto auto auto'
      break
  }
}
//slider
const sliderChange = (item) => {
  player.value[0].playProcess(() => item * 0.6)
}
//快进
const speed = () => {
  player.value[0].playProcess((pross) => pross + 0.5)
}
//后退
const backword = () => {
  player.value[0].playProcess((pross) => pross - 0.5)
}
//播放暂停
const play = () => {
  videoIsPlayer.value = !videoIsPlayer.value
  player.value[0].play(videoIsPlayer.value)
}
//播放速率
const selectChange = (value) => {
  player.value[0].playBackRate(value)
}
onMounted(() => {
  videoList()
  fun_into()
})

watch(searchText, (val) => {
  treeRef.value.filter(val)
})
</script>
<style lang="scss" scoped>
.videoGroup {
  display: flex;
  height: 100%;
  .left {
    padding: 0 16px;
    width: 201px;
    background: #fff;
    .el-input {
      width: 168px;
      height: 36px;
    }
    .el-tree {
      background: unset;
      margin-top: 20px;
      .custom-tree-node {
        .text {
          font-size: 14px;
          margin-left: 5px;
          vertical-align: text-bottom;
          .status {
            width: 33px;
            display: inline-block;
            height: 16px;
            border-radius: 9px;
            opacity: 0.2;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            position: absolute;
            right: 40px;
            display: none;
          }
          .fail {
            color: red;

            background: #f97979;
          }
          .success {
            background: #41d5c4;
            color: green;
          }
        }
      }
      .el-tree-node__content:hover .status {
        display: inline-block;
      }
    }
    :deep(.el-tree-node__content) {
      padding: 0 !important;
    }
  }
  .right {
    margin-left: 20px;
    width: 100%;
    background: #fff;

    .top {
      height: 54px;
      line-height: 54px;
      font-size: 16px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      .el-button {
        margin-right: 10px;
      }
    }
    .VideoGirus {
      width: 100%;
      overflow: hidden;
      height: calc(100% - 140px);
      display: grid;
      grid-gap: 10px;
      box-sizing: border-box;
      padding-top: 10px;
      div {
        width: 100%;
        height: 100%;
        .colvideo {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          position: relative;
          .bgvideo {
            padding: 20px;
            padding-top: 0;
            background: rgba(0, 160, 233, 0.1);
          }
          .titlevideo {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            justify-content: space-between;
            display: flex;
          }
          .cviewplayer {
            position: absolute;
            width: calc(100% - 40px);
            height: calc(99% - 50px);
          }
        }
      }
      .video1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
      }
    }
    .bottom {
      height: 86px;
      padding: 0 20px;
      line-height: 86px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(217, 234, 248);
      :deep(.el-input__wrapper) {
        flex-grow: unset;
      }
    }
  }
}
</style>
