<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div class="">
          <span>选择照明设备：</span>
          <el-select
            v-model="params.deviceId"
            placeholder="请选择"
            style="width: 150px"
          >
            <el-option label="全部设备" :value="undefined"></el-option>
            <el-option
              v-for="(item, index) in switchgearList"
              :key="index"
              :label="item.switchgearName"
              :value="item.id"
            />
          </el-select>
        </div>
        <div class="gap">
          <span>选择时段：</span>
          <el-date-picker
            v-model="params.startTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="开始日期"
            :disabled-date="disabledStartDate"
            style="width: 147px"
          />
          <span class="ml10 mr10">-</span>
          <el-date-picker
            v-model="params.endTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="结束日期"
            :disabled-date="disabledEndDate"
            style="width: 147px"
          />
        </div>
      </div>
    </div>
    <div class="body">
      <Table
        :data="recordData"
        :pagination="pagination"
        @page-change="pageChange"
      >
        <el-table-column label="设备名称" prop="deviceName" />
        <el-table-column label="开关时间" prop="updateTime" />
        <el-table-column
          label="操作方式"
          prop="status"
          :formatter="(r,c,cell)=>['定时开启', '定时关闭', '手动开启', '手动关闭'][cell - 1]"
        />
        <el-table-column
          label="操作结果"
          prop="operate_info"
        />
        <el-table-column label="操作人" prop="updateBy" />
      </Table>
    </div>
  </div>
</template>
<script setup>
import dayjs from 'dayjs'
import { getRecord } from '@/api/green/switch'
const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const switchgearList = inject('switchgearList')
const projectId = inject('projectId')
const recordData = ref([])
const params = reactive({
  startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
  deviceId: undefined,
  projectId,
  periodType: 'day',
})
const pagination = reactive({
  showTotal: true,
  total: 0,
})
watch(params, (val) =>{
  if(!val.startTime||!val.endTime)return
  fetchData()
} , { immediate: true })
function fetchData(pageNum = 1) {
  pagination['current-page'] = pageNum
  getRecord({ data: params, pageNum, pageSize: 10 }).then((res) => {
    if (res.code !== 200) return
    recordData.value = res.data.list
    pagination.total = res.data.total
  })
}

const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(10, 'day')
  }
  return !valid
}

const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid &&
      date >= dayjs(params.startTime) &&
      date < dayjs(params.startTime).add(10, 'day')
  }
  return !valid
}
const pageChange = (val) => {
  fetchData(val)
}
</script>
<style lang="scss" scoped>
.body {
  margin-top: 14px;
}
</style>
