<template>
  <div class="box">
    <!-- 头部 -->
    <div class="top_box">
      <div class="tab_box">
        <div
          class="tab-class"
          :class="tabIndex == 0 ? 'active' : ''"
          @click="tabIndex = 0"
        >
          基础数据
        </div>
        <div
          class="tab-class"
          :class="tabIndex == 1 ? 'active' : ''"
          @click="tabIndex = 1"
        >
          设备管理
        </div>
      </div>
    </div>
    <!-- 基础数据主体 -->
    <div class="body_box_one" v-show="tabIndex === 0">
      <!-- 添加 -->
      <div class="body_top_box">
        <div class="add_box">
          <div class="button_box" @click="basicAdd">
            <span>新增</span
            ><el-icon
              ><svg
                t="1678844449096"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="3615"
                width="16"
                height="16"
              >
                <path
                  d="M612.37248 411.62752V30.208h-200.74496v381.41952H30.208v200.74496h381.41952v381.41952h200.74496V612.37248h381.41952v-200.74496z"
                  p-id="3616"
                  fill="#ffffff"
                ></path></svg
            ></el-icon>
          </div>
          <div class="button_box" @click="leading">
            <span>导入</span
            ><el-icon>
              <svg
                t="1678772225868"
                class="icon"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="13742"
                width="200"
                height="200"
              >
                <path
                  d="M919.272727 416.581818L607.418182 79.127273c-11.636364-11.636364-32.581818-11.636364-44.218182 0-6.981818 6.981818-9.309091 16.290909-9.309091 25.6v181.527272c-258.327273 0-465.454545 207.127273-465.454545 463.127273 0 62.836364 13.963636 125.672727 39.563636 183.854546 37.236364-193.163636 221.090909-339.781818 425.890909-339.781819v181.527273c-2.327273 9.309091 2.327273 18.618182 9.309091 25.6 4.654545 6.981818 13.963636 9.309091 23.272727 9.309091s18.618182-4.654545 23.272728-11.636364L919.272727 465.454545c6.981818-6.981818 9.309091-13.963636 9.309091-23.272727s-4.654545-18.618182-9.309091-25.6z"
                  p-id="13743"
                  fill="#ffffff"
                ></path></svg
            ></el-icon>
          </div>
        </div>
      </div>
      <!-- 表格 -->
      <div class="body_table px-20px">
        <el-table :data="tableData" style="width: 100%">
          <el-table-column label="序号" width="100" type="index" />
          <el-table-column
            prop="paramCode"
            align="center"
            label="参数编码"
            width="200"
          />
          <el-table-column prop="paramName" align="center" label="参数名称" />
          <el-table-column prop="paramType" align="center" label="数据类型" />
          <el-table-column prop="remark" align="center" label="备注" />
          <el-table-column label="操作" align="center" width="120">
            <template #default="scope">
              <el-button
                link
                type="primary"
                size="small"
                @click="handleClickDeleteBtn(scope.row.id)"
              >
                删除 &nbsp;</el-button
              >
              |<el-button
                link
                type="primary"
                size="small"
                @click="handleClickEditBtn(scope.row.id)"
                >编辑</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <TabTwo v-show="tabIndex === 1" :base-data="deepClone(tableData)"></TabTwo>
    <!-- 基础数据添加弹出框 -->
    <el-dialog
      v-model="dialogVisible"
      :title="baseFormAddOrEditFlag ? '新增基础数据' : '编辑基础数据'"
      width="60%"
      :before-close="handleClose"
    >
      <span>
        <el-form
          ref="ruleFormRef"
          :model="newlyForm"
          :rules="rules"
          class="demo-ruleForm"
          label-position="top"
          label-width="100px"
        >
          <el-row :gutter="35">
            <el-col :span="8">
              <el-form-item label="编码" prop="paramCode">
                <el-input
                  v-model="newlyForm.paramCode"
                  placeholder="请输入编码"
                />
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="参数名称" prop="paramName">
                <el-input
                  v-model="newlyForm.paramName"
                  placeholder="请输入参数名称"
                />
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="数据类型" prop="paramType">
                <el-select
                  v-model="newlyForm.paramType"
                  @change="handleSelectChange"
                  placeholder="请输入数据类型"
                >
                  <el-option
                    v-for="item in paramsTypeList"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item
            v-if="newlyForm.paramType === 'bool'"
            label="布尔含义"
            prop="paramTypeExtra"
          >
            <el-row :gutter="35">
              <el-col :span="8">
                <el-input
                  v-model="newlyForm.paramTypeExtra[0]"
                  placeholder="0 - 含义"
                >
                  <template #prepend>0 - 含义</template>
                </el-input>
              </el-col>
              <el-col :span="8">
                <el-input
                  v-model="newlyForm.paramTypeExtra[1]"
                  placeholder="1 - 含义"
                >
                  <template #prepend>1 - 含义</template>
                </el-input>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item
            v-if="newlyForm.paramType === 'enums'"
            label="枚举值(英文,逗号隔开)"
            prop="paramTypeExtra"
          >
            <el-input
              v-model="newlyForm.paramTypeExtra"
              placeholder="请输入枚举值"
            />
          </el-form-item>
          <el-form-item label="备注">
            <el-input
              v-model="newlyForm.remark"
              type="textarea"
              placeholder="输入内容..."
            />
          </el-form-item>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="hanldeClickBaseDeviceAdd">
            {{ baseFormAddOrEditFlag ? '添加' : '编辑' }}
          </el-button>
        </span>
      </template>
    </el-dialog>

    <!-- 基础数据导入模态框 -->
    <el-dialog
      class="upload-dialog"
      v-model="twodialogVisible"
      title="批量导入"
      width="707px"
      :before-close="handleClose"
    >
      <span>
        <el-upload
          ref="uploadRef"
          :headers="{
            Authorization: getToken(),
          }"
          accept=".xlsx"
          :data="{ projectId: userStore.projectIdGetter }"
          :auto-upload="false"
          :on-success="handleUploadSuccess"
          :multiple="true"
          class="upload-demo"
          action="/prod-api/system/deviceParams/importData"
        >
          <template #default>
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col style="padding-left: 20px" :span="12">文件名</el-col>
              <el-col :span="6">大小</el-col>
              <el-col :span="6" style="text-align: right; padding-right: 22px"
                >操作</el-col
              >
            </el-row>
          </template>
          <template #trigger>
            <el-button class="uploadBtn">
              <img
                src="../../../assets/images/out.png"
                style="
                  width: 15px;
                  height: 16px;
                  transform: rotate(180deg);
                  margin-right: 12px;
                "
              />
              请选择你需要导入的表格
            </el-button>
          </template>
          <template #file="file">
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col :span="12">{{ file.file.name }}</el-col>
              <el-col :span="6">{{ file.file.size }}</el-col>
              <el-col
                style="text-align: right; padding-right: 22px; padding-top: 5px"
                :span="6"
              >
                <img
                  @click="handleClickRemoveDoc(file)"
                  style="height: 16px; width: 16px; cursor: pointer"
                  src="../../../assets/images/error.png"
                />
              </el-col>
            </el-row>
            <div></div>
          </template>
        </el-upload>
      </span>

      <template #footer>
        <span class="dialog-footer download-input-class">
          <span>
            <el-button
              style="background-color: #f5f6fb; font-weight: 500; font-size: 12px; color=#333333"
              @click="downloadTemplate"
              >下载模板
              <img :src="download" style="height: 35px; width: 35px" />
            </el-button>
          </span>
          <span>
            <el-button @click="twodialogVisible = false">取消</el-button>
            <el-button type="primary" @click="uploadRef.submit()">
              导入
            </el-button>
          </span>
        </span>
      </template>
    </el-dialog>

    <!-- 导入成功的展示弹出昂 -->
    <el-dialog
      class="import-data-status-dialog"
      v-model="importDataDialogRstVisible"
      width="512px"
    >
      <span>
        <div class="img-con">
          <div>
            <img
              v-show="isImportDataSuccess"
              style="height: 62px; width: 62px"
              src="../../../assets/images/success.png"
            />
            <img
              v-show="!isImportDataSuccess"
              style="height: 62px; width: 62px"
              src="../../../assets/images/danger.png"
            />
          </div>
          <div
            style="
              margin-top: 12px;
              margin-bottom: 8px;
              color: #333333;
              font-weight: 500;
              font-size: 18px;
            "
          >
            {{ isImportDataSuccess ? '导入成功' : '导入失败' }}
          </div>
          <div style="font-size: 14px; color: #666666">
            {{
              isImportDataSuccess
                ? '你的数据已经成功导入'
                : '导入失败,请稍候重新尝试'
            }}
          </div>
        </div>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="importDataDialogRstVisible = false">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>

    <el-dialog
      class="import-data-status-dialog"
      v-model="isDeleteDataBaseSuccessVisible"
      width="512px"
    >
      <span>
        <div class="img-con">
          <div>
            <img
              v-show="isDeleteDataBaseSuccess"
              style="height: 62px; width: 62px"
              src="../../../assets/images/success.png"
            />
            <img
              v-show="!isDeleteDataBaseSuccess"
              style="height: 62px; width: 62px"
              src="../../../assets/images/danger.png"
            />
          </div>
          <div
            style="
              margin-top: 12px;
              margin-bottom: 8px;
              color: #333333;
              font-weight: 500;
              font-size: 18px;
            "
          >
            {{ isDeleteDataBaseSuccess ? '删除成功' : '删除失败' }}
          </div>
          <div style="font-size: 14px; color: #666666">
            {{
              isDeleteDataBaseSuccess
                ? '你的数据已经成功删除'
                : '导入失败,请稍候重新尝试'
            }}
          </div>
        </div>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button
            type="primary"
            @click="isDeleteDataBaseSuccessVisible = false"
          >
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup name="definition">
import { nextTick, ref } from 'vue'
import { ElMessageBox, ElMessage } from 'element-plus'
import download from '../../../assets/svgs/download.svg'
import {
  fetchGetDeviceBaseData,
  fetchAddDeviceBase,
  fetchGetDeviceBaseOneData,
  fetchChangeDeviceBase,
  fetchDeleteDeviceBase,
  fetchGetParamTypeList,
  fetchDownLoadTemplate,
} from '@/api/device/baseData'
import { getToken } from '@/utils/auth'
import TabTwo from './TabTwo.vue'
import { deepClone } from '@/utils/index'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()

const ruleFormRef = ref()
const uploadRef = ref()

//基础添加表单
const newlyForm = ref({
  paramName: '',
  paramCode: '',
  paramType: '',
  remark: '',
  paramTypeExtra: [],
})

// 当前是添加还是编辑
const baseFormAddOrEditFlag = ref(true)
// 数据是否导入成功
const isImportDataSuccess = ref(false)
// 导入数据弹出框是否显示
const importDataDialogRstVisible = ref(false)
// 删除数据是否成功
const isDeleteDataBaseSuccess = ref(false)
const isDeleteDataBaseSuccessVisible = ref(false)

// 表格数据
const tableData = ref([])
//基础表单编辑状态
const editVisible = ref(false)
// 基础信息添加模态框状态
const dialogVisible = ref(false)
// 基础信息导入模态框状态
const twodialogVisible = ref(false)
// 类型集合
const paramsTypeList = ref([])

//表单验证
const rules = {
  paramCode: [{ required: true, message: '请输入编码', trigger: 'blur' }],
  paramName: [{ required: true, message: '请输入参数名', trigger: 'blur' }],
  paramType: [{ required: true, message: '请选择数据类型', trigger: 'change' }],
  paramTypeExtra: [
    { required: true, message: '请输入对应的数据类型值', trigger: 'blur' },
  ],
}

const tabIndex = ref(0)

// 打开基本添加模态框
const basicAdd = async () => {
  dialogVisible.value = true
  baseFormAddOrEditFlag.value = true
  await nextTick()
  ruleFormRef.value.resetFields()
  newlyForm.value.remark = ''
}
//打开基本导入模态框
const leading = () => {
  twodialogVisible.value = true
}
// 基本信息添加模态框
const handleClose = () => {
  ElMessageBox.confirm('确定关闭?')
    .then(() => {
      // 基础信息添加模态框状态
      dialogVisible.value = false
      // 基础信息导入
      twodialogVisible.value = false
      //基础信息编辑
      editVisible.value = false
      // 新增类别
      classDialogVisible.value = false
      // 新增台账
      StandingDialogVisible.value = false
      //
    })
    .catch(() => {
      // catch error
    })
}

async function getDeviceBaseData() {
  const params = {
    projectId: userStore.projectIdGetter,
  }
  const res = await fetchGetDeviceBaseData(params)
  if (res.code === 200 && res.data) {
    tableData.value = res.data
  }
}

async function getParamsTypeList() {
  const { code, data } = await fetchGetParamTypeList()
  if (code === 200) {
    paramsTypeList.value = []
    Reflect.ownKeys(data).forEach((key) => {
      paramsTypeList.value.push({
        label: data[key],
        value: key,
      })
    })
  }
}

function handleSelectChange(e) {
  if (e === 'bool') {
    newlyForm.value.paramTypeExtra = ['', '']
  } else {
    newlyForm.value.paramTypeExtra = ''
  }
}

/** 点击确认添加按钮执行的操作,添加和编辑逻辑相似共用了一个处理函数和模板dom */
async function hanldeClickBaseDeviceAdd() {
  const params = {
    ...newlyForm.value,
    paramTypeExtra:
      newlyForm.value.paramType === 'bool'
        ? `0-${newlyForm.value.paramTypeExtra[0]},1-${newlyForm.value.paramTypeExtra[1]}`
        : newlyForm.value.paramTypeExtra,
    projectId: userStore.projectIdGetter,
  }
  const isValid = await ruleFormRef.value.validate()
  if (isValid === false) return
  if (baseFormAddOrEditFlag.value) {
    const res = await fetchAddDeviceBase(params)
    if (res.code === 200) {
      ElMessage.success('添加成功')
      dialogVisible.value = false
      getDeviceBaseData()
    }
  } else {
    const res = await fetchChangeDeviceBase(params)
    if (res.code === 200) {
      ElMessage.success('编辑成功')
      dialogVisible.value = false
      getDeviceBaseData()
    }
  }
  ruleFormRef.value.resetFields()
  newlyForm.value.remark = ''
}

async function handleClickEditBtn(id) {
  baseFormAddOrEditFlag.value = false
  const res = await fetchGetDeviceBaseOneData(id)
  if (res.code === 200) {
    dialogVisible.value = true
    await nextTick()
    ruleFormRef.value.resetFields()
    newlyForm.value.remark = ''
    newlyForm.value = deepClone(res.data)
    if (res.data.paramType === 'bool') {
      const splited = res.data.paramTypeExtra.split(',')
      newlyForm.value.paramTypeExtra = [
        splited[0].split('-')[1],
        splited[1].split('-')[1],
      ]
    }
  }
}

async function handleClickDeleteBtn(id) {
  const rst = await ElMessageBox.confirm('是否确认删除?', '提示', {
    confirmButtonText: '确认',
    cancelButtonText: '取消',
    type: 'warning',
  })
  if (rst === 'confirm') {
    const res = await fetchDeleteDeviceBase(id)
    if (res.code === 200) {
      isDeleteDataBaseSuccessVisible.value = true
      isDeleteDataBaseSuccess.value = true
      getDeviceBaseData()
    }
  }
}

function downloadTemplate() {
  fetchDownLoadTemplate().then((res) => {
    var blob = new Blob([res], {
      type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    })
    var objectUrl = URL.createObjectURL(blob)
    var a = document.createElement('a')
    document.body.appendChild(a)
    a.style = 'display: none'
    a.href = objectUrl
    a.download = '批量导入模板'
    a.click()
    document.body.removeChild(a)
  })
}

function handleClickRemoveDoc(file) {
  uploadRef.value.handleRemove(file)
}

function handleUploadSuccess() {
  uploadRef.value.clearFiles()
  twodialogVisible.value = false
  isImportDataSuccess.value = true
  importDataDialogRstVisible.value = true
  getDeviceBaseData()
}

// 初始化数据
getDeviceBaseData()
getParamsTypeList()
</script>
// 样式穿透
<style>
.button_box {
  width: 96px;
  height: 32px;
  line-height: 32px;
  background-color: #f5f6fb;
  margin-left: 20px;
}

.button_box span {
  display: block;
  width: 65%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  float: left;
}
.button_box .el-icon {
  background-color: #00a0e9;
  float: right;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-top: 6px;
  margin-right: 12px;
  border-radius: 20px;
}
.left_pad {
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.el-dialog:not(.is-fullscreen) {
  margin-top: 25vh !important;
}
.el-dialog__header {
  position: relative;
  text-align: center;
  background-color: #00a0e9;
  margin-right: 0;
}
.el-dialog__title {
  color: #ffffff;
}

.el-table__inner-wrapper {
  font-size: 14px;
}

.el-form-item__label {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}
</style>
<style lang="scss" scoped>
.box {
  width: 100%;
  height: calc(100vh - 220px);
  .form-item-class {
    display: flex;
    justify-content: space-around;
  }
  .tab-class {
    cursor: pointer;
  }
  .download-input-class {
    display: flex;
    justify-content: space-between;
  }
  .top_box {
    margin: 20px 0;
    background-color: #ffffff;
    line-height: 60px;
    width: 100%;
    height: 52px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    .tab_box {
      width: 200px;
      height: 32px;
      line-height: 32px;
      display: flex;
      color: #00a0e9;
      div {
        flex: 1;
        text-align: center;
        border: 2px solid #00a0e9;
      }
      .active {
        background-color: #00a0e9;
        color: #ffffff;
      }
    }
  }
  .body_box_one {
    width: 100%;
    // height: 100%;
    background-color: #ffffff;
    .body_top_box {
      display: flex;
      padding: 10px 20px;
      align-items: center;
      .add_box {
        margin-left: auto;
        display: flex;
        .button_box {
          width: 96px;
          height: 32px;
          line-height: 32px;
          background-color: #f5f6fb;
          margin-left: 20px;
          cursor: pointer;
          span {
            display: block;
            width: 65%;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            float: left;
          }
          .el-icon {
            background-color: #00a0e9;
            float: right;
            width: 20px;
            height: 20px;
            padding: 5px;
            margin-top: 6px;
            margin-right: 12px;
            border-radius: 20px;
          }
        }
      }
    }
    .body_tablt {
      width: 100%;
      :deep(.el-table .el-table__cell) {
        padding: 8px 0;
      }
    }
  }
}
.upload-dialog {
  .upload-demo {
    position: relative;
    :deep(.el-upload) {
      width: 100%;
      display: inline-block !important;
    }
    .uploadBtn {
      position: absolute;
      bottom: -40px;
      width: 100%;
      color: #00a0e9;
      font-size: 12px;
    }
  }
}

.import-data-status-dialog {
  .img-con div {
    display: flex;
    justify-content: center;
  }
}

:deep(.import-data-status-dialog .el-dialog__header) {
  display: none;
}
:deep(.upload-dialog .el-dialog__body) {
  padding-top: 0 !important;
}

:deep(.el-upload-list__item) {
  height: 34px;
  line-height: 34px;
  background: #f8f8f8;
  padding-left: 20px;
}
</style>
