<template>
  <div>
    <!-- 设备管理主体 -->
    <div class="body_box_two">
      <div class="body_box_two_left">
        <iconBotton
          class="cursor-pointer"
          @click="addClass"
          style="margin-bottom: 18px"
        ></iconBotton>
        <el-tree-v2
          class="h-[calc(100%-50px)]"
          :data="dataTree"
          :props="defaultProps"
          :highlight-current="true"
          @node-click="handleNodeClick"
        >
          <template #default="{ node, data }">
            <span class="prefix">
              <img
                v-show="data.levels === 1"
                :src="folder"
                style="height: 12px; width: 16px; margin-right: 3px"
              />
            </span>
            <div style="display: inline-block; width: calc(100% - 19px)">
              <span>
                {{ node.label }}
              </span>
              <span
                style="float: right; margin-right: 10px"
                v-show="
                  node.key === (activeTreeItem ? activeTreeItem.id : -1) &&
                  node.isLeaf &&
                  activeTreeItem.catalogName !== 'IOT设备'
                "
              >
                <el-icon
                  @click="handleClickTreeEdit(node)"
                  :size="14"
                  style="margin-right: 13px; font-weight: 600; margin-top: 2px"
                  color="#00A0E9"
                >
                  <Edit />
                </el-icon>
                <el-icon
                  @click="handleClickTreeDel(data.id)"
                  style="font-weight: 600; margin-top: 2px"
                  :icon="Delete"
                  :size="14"
                  color="#00A0E9"
                >
                  <Delete />
                </el-icon>
              </span>
            </div>
          </template>
        </el-tree-v2>
      </div>
      <div class="body_box_two_right">
        <div class="body_box_two_right_top">设备台账模版</div>
        <div
          class="button_box left_pad"
          style="cursor: pointer"
          @click="addStanding"
        >
          <span>{{ tableData.length !== 0 ? '编辑' : '添加' }}</span
          ><el-icon
            ><svg
              t="1678844449096"
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              p-id="3615"
              width="16"
              height="16"
            >
              <path
                d="M612.37248 411.62752V30.208h-200.74496v381.41952H30.208v200.74496h381.41952v381.41952h200.74496V612.37248h381.41952v-200.74496z"
                p-id="3616"
                fill="#ffffff"
              ></path></svg
          ></el-icon>
        </div>
        <!-- 表格 -->
        <div class="body_box_two_right_table">
          <el-table :data="tableData" style="width: 100%">
            <el-table-column
              align="center"
              label="序号"
              width="60"
              type="index"
            />
            <el-table-column
              align="center"
              prop="paramCode"
              label="编码"
              width="150"
            />
            <el-table-column
              align="center"
              prop="paramName"
              label="参数名称"
              width="200"
            />
            <el-table-column
              align="center"
              prop="paramType"
              label="数据类型"
              width="200"
            />
            <el-table-column
              align="center"
              prop="paramFlag"
              label="是否必选"
              width="100"
            >
              <template #default="scope">
                <el-tag
                  class="ml-2"
                  :type="scope.row.paramFlag ? 'success' : 'danger'"
                  >{{ scope.row.paramFlag ? '是' : '否' }}</el-tag
                >
              </template>
            </el-table-column>
            <el-table-column align="center" prop="paramRemark" label="备注" />
            <el-table-column align="center" label="操作" width="70">
              <template #default="scope">
                <el-button
                  link
                  type="primary"
                  size="small"
                  @click="handleClickTemplateDel(scope.row.id)"
                >
                  删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <!-- 新增类别模态框 -->
    <el-dialog
      v-model="classDialogVisible"
      :title="addOrEditCatalogFlag ? '新增' : '编辑'"
      width="40%"
      :before-close="handleClose"
    >
      <span>
        <el-form
          :rules="addFormRules"
          ref="catalogFormRef"
          :model="addForm"
          label-width="120px"
        >
          <el-form-item label="设备类名称" prop="catalogName">
            <el-input v-model="addForm.catalogName" />
          </el-form-item>
          <el-form-item label="上级设备类" prop="parentId">
            <el-tree-select
              style="width: 100%"
              v-model="addForm.parentId"
              :props="{ label: 'catalogName', children: 'children' }"
              check-strictly
              node-key="id"
              :data="dataTree"
              :render-after-expand="false"
              placeholder="请选择上级设备类"
              :default-first-option="true"
              @change="handleTreeChange"
            />
          </el-form-item>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="handleClickToAddCatalog">
            保存
          </el-button>
        </span>
      </template>
    </el-dialog>

    <!-- 新增台账模块信息模态框 -->
    <el-dialog
      id="checkbox-special"
      v-model="StandingDialogVisible"
      :title="tableData.length === 0 ? '新增台账模板信息' : '编辑台账模板信息'"
      width="384px"
      :before-close="handleClose"
    >
      <div>
        <div style="display: flex; justify-content: space-between">
          <el-input v-model="searchBindOrgin" placeholder="根据名称搜索">
            <template #prepend>
              <el-button :icon="Search" />
            </template>
          </el-input>
        </div>
        <el-table
          @select="handleSelectCheckBox"
          :default-sort="{ prop: 'createTime', order: 'descending' }"
          ref="addOrEditTemplateRef"
          :data="dialogTableData"
          style="width: 100%; margin-top: 10px"
        >
          <el-table-column type="selection" width="55" />
          <el-table-column
            :filter="{ text: 'paramName' }"
            prop="paramName"
            align="center"
            label="模板信息"
          />
          <el-table-column align="center" label="字段属性">
            <template #default="{ row }">
              <el-switch
                v-model="row.defaultFlag"
                :disabled="
                  row.paramName === '设备编码' || row.paramName === '设备名称'
                "
                inline-prompt
                active-text="ON"
                inactive-text="OFF"
              />
            </template>
          </el-table-column>
        </el-table>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="handleClickToAddOrEdit()">
            确认
          </el-button>
        </span>
      </template>
    </el-dialog>

    <el-dialog
      class="import-data-status-dialog"
      v-model="imageRstDialogVisible"
      width="512px"
    >
      <span>
        <div class="img-con">
          <div>
            <img
              v-show="imageRstDialog.flag"
              style="height: 62px; width: 62px"
              src="../../../assets/images/success.png"
            />
            <img
              v-show="!imageRstDialog.flag"
              style="height: 62px; width: 62px"
              src="../../../assets/images/danger.png"
            />
          </div>
          <div
            style="
              margin-top: 12px;
              margin-bottom: 8px;
              color: #333333;
              font-weight: 500;
              font-size: 18px;
            "
          >
            {{
              imageRstDialog.flag
                ? imageRstDialog[imageRstDialog.target].success
                : imageRstDialog[imageRstDialog.target].fail
            }}
          </div>
          <div style="font-size: 14px; color: #666666">{{}}</div>
        </div>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="primary" @click="imageRstDialogVisible = false">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup>
import { nextTick, reactive, ref, watch } from 'vue'
import { Edit, Delete, Search } from '@element-plus/icons-vue'
import iconBotton from '@/components/addButton/index'
import folder from '../../../assets/images/folder.png'
import { handleTree } from '@/utils/ruoyi'
import { ElMessage } from 'element-plus'
import {
  fetchGetDeviceCatalogData,
  fetchChangeDeviceCatalog,
  fetchAddDeviceCatalog,
  fetchDeleteDeviceCatalog,
} from '@/api/device/deviceCatalog'
import {
  fetchGetDeviceTemplateData,
  fetchChangedeviceTemplate,
  fetchAdddeviceTemplate,
  fetchDeletedeviceTemplate,
} from '@/api/device/deviceTemplate'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()

const props = defineProps({
  baseData: {
    required: true,
  },
})

// 数据源定义
const tableData = ref([])
const dataTree = ref()
const dialogTableData = ref([])
const imageRstDialogVisible = ref(false)

// 台账模板搜索框绑定源
const searchBindOrgin = ref()

const imageRstDialog = reactive({
  delDeviceCate: {
    success: '数据已删除',
    fail: '您所删除的设备类下有其他子集或设备类,暂无法删除,请删除子集或设备类后再进行操作',
  },
  delDeviceTem: {
    success: '数据已删除',
    fail: '您正在执行删除设备台账模板信息操作,改模板下有设备引用该数据,请删除设备后再删除该字段?',
  },
  // 'delDeviceCate' | 'delDeviceTem' |
  target: 'delDeviceCate',
  flag: false,
})

const templateDataReflectToBaseData = () => {
  if (tableData.value.length !== 0) {
    tableData.value.forEach((item) => {
      dialogTableData.value.map(async (item2) => {
        if (item.paramId === item2.id) {
          item2.defaultFlag = item.paramFlag
          await nextTick()
          addOrEditTemplateRef.value.toggleRowSelection(item2, true)
        }
      })
    })
  } else {
    dialogTableData.value.forEach(async (item) => {
      if (item.paramName === '设备编码' || item.paramName === '设备名称') {
        await nextTick()
        addOrEditTemplateRef.value.toggleRowSelection(item, true)
      }
    })
  }
}

watch(searchBindOrgin, (val) => {
  const data = props.baseData.filter(
    (data) => !val || data.paramName.includes(val)
  )
  dialogTableData.value = data
  templateDataReflectToBaseData()
})

// dom元素
const catalogFormRef = ref()
const addOrEditTemplateRef = ref()

// 当前点击的树型节点
const activeTreeItem = ref()
const addOrEditCatalogFlag = ref(false)
// 新增类别模态框状态
const classDialogVisible = ref(false)
// 新增台账模块信息状态
const StandingDialogVisible = ref(false)

// 编辑模板存储的勾选集合
const checkTemplateList = ref([])

const defaultProps = {
  label: 'catalogName',
  children: 'children',
  value: 'id',
}

const addForm = ref({
  parentId: null,
  projectId: userStore.projectIdGetter,
  catalogName: '',
})

const addFormRules = {
  catalogName: [
    { required: true, message: '请输入设备类别名称', trigger: 'blur' },
  ],
}

// 打开新增或编辑台账模块信息模态框
const addStanding = async () => {
  StandingDialogVisible.value = true
  searchBindOrgin.value = ''
  await nextTick()
  addOrEditTemplateRef.value.clearSelection()
  templateDataReflectToBaseData()
}

const resetForm = () => {
  addForm.value = {
    parentId: null,
    projectId: userStore.projectIdGetter,
    catalogName: '',
  }
  catalogFormRef.value.resetFields()
}

// 打开新增类别模态框
const addClass = async () => {
  addOrEditCatalogFlag.value = true
  classDialogVisible.value = true
  await nextTick()
  resetForm()
}

async function getDeviceCatalog() {
  const res = await fetchGetDeviceCatalogData()
  if (res.code === 200) {
    dataTree.value = handleTree(res.data)
    activeTreeItem.value = dataTree.value[0]
  }
}

async function getDeviceTemplate() {
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: userStore.projectIdGetter,
  }
  const { code, data } = await fetchGetDeviceTemplateData(params)
  if (code === 200) {
    tableData.value = data
  }
}

async function handleClickToAddCatalog() {
  await catalogFormRef.value.validate()
  if (addOrEditCatalogFlag.value) {
    const { code } = await fetchAddDeviceCatalog(addForm.value)
    if (code === 200) {
      catalogFormRef.value.resetFields()
      classDialogVisible.value = false
      ElMessage.success('添加成功')
      getDeviceCatalog()
    }
  } else {
    const { code } = await fetchChangeDeviceCatalog(addForm.value)
    if (code === 200) {
      catalogFormRef.value.resetFields()
      classDialogVisible.value = false
      ElMessage.success('修改成功')
      getDeviceCatalog()
    }
  }
}

function handleNodeClick(e) {
  if (e.children) return
  activeTreeItem.value = e
  getDeviceTemplate()
}

function handleClickTreeEdit(node) {
  addForm.value = node.data
  classDialogVisible.value = true
}

async function handleClickTreeDel(id) {
  const { code } = await fetchDeleteDeviceCatalog(id)
  imageRstDialog.target = 'delDeviceCate'
  imageRstDialogVisible.value = true
  if (code === 200) {
    imageRstDialog.flag = true
  } else {
    imageRstDialog.flag = false
  }
  getDeviceCatalog()
}

function handleTreeChange(e) {
  addForm.value.parentId = e
}

function handleSelectCheckBox(selects, row) {
  checkTemplateList.value = selects
  if (row.paramName === '设备编码' || row.paramName === '设备名称') {
    addOrEditTemplateRef.value.toggleRowSelection(row, true)
    ElMessage.warning('不可更改,默认选中!')
  }
}

async function handleClickToAddOrEdit() {
  const data = checkTemplateList.value.map((item) => {
    item.paramId = item.id
    item.paramFlag = item.defaultFlag
    Reflect.deleteProperty(item, 'defaultFlag')
    return item
  })
  const params = {
    catalogId: activeTreeItem.value.id,
    projectId: userStore.projectIdGetter,
    deviceTemplateList: data,
  }
  if (tableData.value.length !== 0) {
    const { code } = await fetchChangedeviceTemplate(params)
    if (code === 200) {
      ElMessage.success('编辑成功')
    }
  } else {
    const { code } = await fetchAdddeviceTemplate(params)
    if (code === 200) {
      ElMessage.success('添加成功')
    }
  }
  getDeviceTemplate()
  addOrEditTemplateRef.value.clearSelection()
  StandingDialogVisible.value = false
}

async function handleClickTemplateDel(id) {
  const { code } = await fetchDeletedeviceTemplate(id)
  imageRstDialog.target = 'delDeviceTem'
  imageRstDialogVisible.value = true
  if (code === 200) {
    imageRstDialog.flag = true
  } else {
    imageRstDialog.flag = false
  }
  getDeviceTemplate()
}

async function initData() {
  await getDeviceCatalog()
  await getDeviceTemplate()
}

initData()
</script>
<style lang="scss" scoped>
.body_box_two {
  width: 100%;
  height: calc(100vh - 220px);
  display: flex;
  .body_box_two_left {
    width: 15%;
    min-width: 201px;
    height: 100%;
    padding: 16px 20px;
    background-color: #ffffff;
  }
  .body_box_two_right {
    margin-left: 20px;
    width: 83.5%;
    height: 100%;
    background-color: #ffffff;
    .body_box_two_right_top {
      width: 100%;
      padding: 15px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      background-color: #f8f8f9;
    }
    .body_box_two_right_table {
      width: 100%;
      padding: 20px;
      padding-top: 0;
      :deep(.el-table .el-table__cell) {
        padding: 5px 0;
      }
    }
  }
}
:deep(.import-data-status-dialog .el-dialog__header) {
  display: none;
}
.import-data-status-dialog {
  .img-con div {
    display: flex;
    justify-content: center;
  }
}
:deep(.el-vl__wrapper),
:deep(.el-tree-virtual-list),
:deep(.el-tree-virtual-list > div) {
  height: 100% !important;
}

:deep(.el-tree-virtual-list > div) {
  overflow-y: auto;
}

:deep(.el-virtual-scrollbar) {
  display: none;
}
</style>
