<template>
  <el-dialog>
    <div class="row">
      <div class="col-item">
        <p>姓名<br/>{{data.xm}}</p>
      </div>
      <div class="col-item">
        <p>职务：<br/>{{data.job}}</p>
      </div>
      <div class="col-item">
        <p>性别：<br/> {{ data.sex === '0' ? '男' : '女' }}</p>
      </div>
      <div class="col-item">
        <p>工号：<br/>{{data.jobNumber}}</p>
      </div>
      <div class="col-item">
        <p>账号（手机号）：<br/>{{data.phonenumber}}</p>
      </div>
      <div class="col-item">
        <p>所属部门：<br/>{{data.parentName}}</p>
      </div>
    </div>
  </el-dialog>
</template>
<script setup>
const props=defineProps(['data'])
</script>
<style lang="scss" scoped>
.row{
  flex-wrap: wrap;
  padding: 6px 78px;
}
.col-item{
  flex: 1;
  flex-basis: 50%;
  margin-bottom: 36px;
  line-height: 36px;
  color: #333333;
}
</style>