<template>
  <el-dialog :title="type == 'add' ? '新建' : '编辑'">
    <el-form ref="formRef" :model="form" :show-message="false">
      <el-form-item>
        <el-radio-group v-model="form.orgType">
          <el-radio :label="1" v-if="!(type == 'edit' && form.orgType !== 1)"
            >企业</el-radio
          >
          <el-radio :label="2" v-if="!(type == 'edit' && form.orgType !== 2)"
            >部门</el-radio
          >
        </el-radio-group>
      </el-form-item>
      <el-form-item label="名称" prop="deptName" required>
        <el-input v-model="form.deptName" />
      </el-form-item>
      <el-form-item label="上级" :prop="['checkedOrganize', 'deptId']" :required="form.orgType !== 1">
        <span v-if="form.orgType === 1">{{ currentRole?.enterpriseName }}</span>
        <el-tree-select
          v-else
          style="width: 100%"
          :model-value="form.checkedOrganize.deptId"
          :data="dataSource"
          :props="{
            label: 'deptName',
            value: 'deptId',
          }"
          :check-strictly="true"
       
          :render-after-expand="false"
          @current-change="currentChange"
        />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save">保存</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { addOrganize, editOrganize } from '@/api/setting/organize'
import useUserStore from '@/store/modules/user'
import { ElMessage } from 'element-plus'
const props = defineProps([
  'closeFn',
  'saveCallback',
  'currentRole',
  'type',
  'dataSource',
  'currentOrganize',
  'visible',
])
let form = reactive({
  orgType: 1,
  deptName: '',
  checkedOrganize: {},
})
const formRef = ref()

onMounted(() => {
  if (props.type === 'add') {
    form.orgType = 1
    form.deptName = ''
    form.checkedOrganize = {}
  } else {
    form.orgType = props.currentOrganize?.type
    form.deptName = props.currentOrganize?.deptName
    form.checkedOrganize.deptId = props.currentOrganize?.parentId
    form.checkedOrganize.deptName = props.currentOrganize?.parentName
  }
})

const save = async () => {
  const valid = await formRef.value.validate().catch(console.log)
  if (!valid) {
    ElMessage.error('必填项不能为空')
    return
  }
  if (props.type === 'add') {
    if (form.orgType === 1) {
      const { enterpriseId:parentId, enterpriseName:parentName } = props.currentRole
      const res=await addOrganize({
        parentId,
        parentName,
        type: form.orgType,
        deptName: form.deptName,
        orderNum: '1',
      })
      if(res.code===200){
        ElMessage.success('新建组织成功')
      }
      useUserStore().getInfo()
    } else {
      const { deptId: parentId, deptName: parentName } = form.checkedOrganize
      const res=await addOrganize({
        parentId,
        parentName,
        type: form.orgType,
        deptName: form.deptName,
      })
      if(res.code===200){
        ElMessage.success('新建组织成功')
      }
    }
  } else {
    if (form.orgType === 1) {
      const { parentId, parentName, deptId } = props.currentOrganize
      await editOrganize({
        parentId,
        parentName,
        deptId,
        deptName: form.deptName,
        orderNum: '1',
      })
    } else {
      const { deptId } = props.currentOrganize
      const { deptId: parentId, deptName: parentName } = form.checkedOrganize
      await editOrganize({
        parentId,
        parentName,
        deptId,
        deptName: form.deptName,
        orderNum: '1',
      })
    }
  }
  props.saveCallback()
  props.closeFn()
}
const currentChange = (nodeData) => {
  form.checkedOrganize = nodeData
}
</script>
<style lang="scss" scoped></style>
