<template>
  <div class="page row">
    <div class="panel normal aside" style="width: 268px">
      <div class="head">组织结构</div>
      <div class="body">
        <div
          class="filled-btn"
          @click="handleAdd('add')"
          v-hasPermi="['setting:organize:edit']"
        >
          <span>新建组织</span>
          <img src="@/assets/icons/add.png" alt="" />
        </div>
        <div class="mt16">
          <el-input v-model="filterText" placeholder="按部门名称搜索" />
          <el-tree
            ref="treeRef"
            class="tree mt10"
            :data="dataSource"
            default-expand-all
            :expand-on-click-node="false"
            node-key="id"
            highlight-current
            :filter-node-method="filterNode"
            @current-change="nodeClick"
            :props="{
              label: 'deptName',
            }"
          >
            <template #default="{ node, data }">
              <span class="custom-tree-node">
                <span>{{ node.label }}</span>
                <span
                  v-if="node.isCurrent"
                  class="center-v"
                  v-hasPermi="['setting:organize:edit']"
                >
                  <img
                    v-if="!(currentRole.roleId !== 1 && data.type === 1)"
                    src="@/assets/icons/del.png"
                    @click="handleDelete(data)"
                  />
                  <img
                    class="ml10"
                    src="@/assets/icons/edit.png"
                    @click="handleAdd('edit', data)"
                  />
                </span>
              </span>
            </template>
          </el-tree>
        </div>
      </div>
    </div>
    <div class="panel normal main col ml20">
      <template v-if="currentOrganize.type == 2">
        <div class="head">{{ currentOrganize.deptName }}</div>
        <div class="body">
          <div class="search-field">
            <el-form :inline="true" class="demo-form-inline">
              <el-form-item
                :label="`部门人数：${pagination.total}人`"
              ></el-form-item>
              <el-form-item label="搜索姓名：">
                <el-input
                  style="width: 200px"
                  v-model="state.xm"
                  placeholder="请输入关键词"
                />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSearch">查询</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div class="content">
            <Table
              :data="state.tableData"
              :pagination="pagination"
              @page-change="pageChange"
              style="width: 100%"
            >
              <el-table-column
                label="姓名"
                prop="xm"
                :formatter="defaultFormatter"
              />
              <el-table-column label="职务" prop="job" />
              <el-table-column label="性别" prop="sex">
                <template #default="scope">
                  <span>{{ scope.row.sex === '0' ? '男' : '女' }}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="工号"
                prop="jobNumber"
                :formatter="defaultFormatter"
              />
              <el-table-column label="联系电话" prop="phonenumber" />
              <el-table-column label="操作">
                <template #default="scope">
                  <el-button link type="primary" @click="viewDetail(scope.row)"
                    >查看详情</el-button
                  >
                </template>
              </el-table-column>
            </Table>
          </div>
        </div>
      </template>
      <DialogDetail
        v-model="dialogDetailVisible"
        :data="state.rowData"
        title="人员信息"
        width="720"
      ></DialogDetail>
      <DialogAdd
        v-model="dialogAddVisible"
        v-if="dialogAddVisible"
        v-bind="dialogAdd"
        width="480"
        destroy-on-close
        :close-on-click-modal="false"
        :closeFn="closeAddFn"
      ></DialogAdd>
      <DialogDelete
        v-model="dialogDelete.visible"
        :success="dialogDelete.success"
        width="480"
      ></DialogDelete>
    </div>
  </div>
</template>
<script setup>
import Table from '@/components/Table'
import { ElMessage, ElMessageBox } from 'element-plus'
import DialogDetail from './DialogDetail.vue'
import DialogAdd from './DialogAdd.vue'
import DialogDelete from './DialogDelete.vue'
import {
  getOrganizeTree,
  deleteOrganize,
  getUserList,
} from '@/api/setting/organize'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()
const { currentRole } = userStore
const dataSource = ref([])
const state = reactive({
  xm: '',
  rowData: {},
  tableData: [],
})
const filterText = ref('')
const treeRef = ref()
const dialogDetailVisible = ref(false)
const dialogAddVisible = ref(false)
const currentOrganize = ref({})
watch(filterText, (val) => {
  treeRef.value.filter(val)
})
const filterNode = (value, data) => {
  if (!value) return true
  return data.deptName.includes(value)
}
const pagination = reactive({
  total: 0,
})
const dialogDelete = ref({
  success: true,
  visible: false,
})
const dialogAdd = reactive({
  saveCallback: saveCallback,
  dataSource: [],
  currentRole: currentRole,
  currentOrganize: currentOrganize,
})
onMounted(() => {
  fetchOrganizeTree()
})

function fetchOrganizeTree() {
  getOrganizeTree({
    deptId: currentRole.enterpriseId,
    showEnterprise: false,
  }).then((res) => {
    dataSource.value = res.data
  })
  getOrganizeTree({ deptId: currentRole.enterpriseId }).then((res) => {
    dialogAdd.dataSource = res.data
  })
}
function fetchUserList(data) {
  data.pageSize = 10
  data.pageNum = data.pageNum || 1
  return getUserList(data).then((res) => {
    state.tableData = res.rows
    pagination.total = res.total
  })
}
const pageChange = (val) => {
  pagination['current-page']=pageNum = pageNum
  fetchUserList({
    deptId: currentOrganize.value.deptId,
    xm: state.xm,
    pageNum: val,
  })
}
const defaultFormatter = (r, c, cell) => {
  return cell || '--'
}
const nodeClick = (data) => {
  currentOrganize.value = data
  if (data.type !== 1) {
    fetchUserList({ deptId: currentOrganize.value.deptId })
  }
}
function saveCallback() {
  fetchOrganizeTree()
}
function onSearch() {
  
  fetchUserList({ deptId: currentOrganize.value.deptId, xm: state.xm })
}

function handleAdd(type, data) {
  dialogAddVisible.value = true
  dialogAdd.type = type
}

const handleDelete = async (data) => {
  if (data.children?.length) {
    dialogDelete.value = { visible: true, success: false }
  } else {
    const res = await deleteOrganize(data.deptId,data.type)
    if (res.code !== 200) return
    if (data.type === 1) {
      ElMessage({
        type: 'success',
        message: '删除成功',
        duration:1500,
        onClose: function () {
          ElMessageBox.alert('登录状态已过期，请重新登录', '系统提示', {
            confirmButtonText: '重新登录',
            type: 'warning',
          }).then(() => {
            useUserStore()
              .logOut()
              .then(() => {
                location.href = '/index'
              })
          })
        },
      })
    } else {
      dialogDelete.value = { visible: true, success: true }
      fetchOrganizeTree()
    }
  }
}

const viewDetail = (row) => {
  dialogDetailVisible.value = true
  state.rowData = row
  state.rowData.parentName = currentOrganize.value.parentName
}
const closeAddFn = () => {
  dialogAddVisible.value = false
}
</script>
<style lang="scss" scoped>
.page {
  height: 100%;
}
.filled-btn {
  img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
}
:deep(.tree.el-tree--highlight-current) {
  .el-tree-node__content {
    height: 38px;
    line-height: 38px;
  }
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: var(--el-color-primary);
    color: white;
  }
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  img {
    width: 16px;
    height: 16px;
    &.ml10 {
      width: 14px;
      height: 14px;
    }
  }
}
</style>
