<template>
  <div class="page">
    <div class="row row1 mt20">
      <div class="col-auto" style="width: 340px">
        <div class="panel custom">
          <Virtual></Virtual>
        </div>
      </div>
      <div class="col-auto ml20" style="width: 840px">
        <div class="panel custom auto-h">
          <span class="gap">
            <span>设备名称：</span>
            <el-select v-model="deviceId" style="width: 180px">
              <el-option
                v-for="item in deviceList"
                :key="item.id"
                :label="item.deviceName"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </span>
          <span class="gap">
            <span
              >监测设备状态：
              <em
                :class="towerLastData.status ? 'text-success' : 'text-danger'"
                >{{ towerLastData.status ? '在线' : '离线' }}</em
              ></span
            >
          </span>
          <span class="gap">
            <span
              >升降机状态：
              <em
                :class="
                  towerLastData.towerStatus ? 'text-danger' : 'text-success'
                "
                >{{ towerStatusMap[towerLastData.towerStatus] }}</em
              ></span
            >
          </span>
          <span class="gap">
            <span
              >防坠器状态：
              <em
                :class="
                  towerLastData.towerStatus ? 'text-danger' : 'text-success'
                "
                >{{ towerStatusMap[towerLastData.towerStatus] }}</em
              ></span
            >
          </span>
        </div>
        <div class="row mt20" style="height: 318px">
          <div class="col-auto" style="width: 600px">
            <div class="panel custom">
              <div class="info row">
                <div class="col">
                  <p>高度(m)</p>
                  <p>{{ towerLastData.load }}</p>
                </div>
                <div class="col">
                  <p>楼层</p>
                  <p>{{ towerLastData.moment }}</p>
                </div>
                <div class="col">
                  <p>重量(kg)</p>
                  <p>{{ towerLastData.range }}</p>
                </div>
                <div class="col">
                  <p>速度(m/s)</p>
                  <p>{{ towerLastData.height }}</p>
                </div>
                <div class="col">
                  <p>运行方向</p>
                  <p>{{ towerLastData.rotation }}</p>
                </div>
                <div class="col">
                  <p>左右倾角</p>
                  <p>{{ towerLastData.dipAngle }}</p>
                </div>
                <div class="col">
                  <p>前后倾角</p>
                  <p>{{ towerLastData.windSpeed }}</p>
                </div>
                <div class="col">
                  <p>风速(m/s)</p>
                  <p>{{ towerLastData.windSpeed }}</p>
                </div>
                <div class="col">
                  <p>风力(级)</p>
                  <p>{{ towerLastData.windSpeed }}</p>
                </div>
                <div class="col">
                  <p>实时人数</p>
                  <p>{{ towerLastData.windSpeed }}</p>
                </div>
                <div class="col">
                  <p>未带安全帽人数</p>
                  <p>{{ towerLastData.windSpeed }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto ml20" style="width: 220px">
            <div class="panel staff custom">
              <div class="wrap">
                <div class="top">
                  <img
                    v-if="towerLastData.driverPhoto"
                    :src="towerLastData.driverPhoto"
                    alt=""
                  />
                </div>
                <div class="bottom">
                  <div>司机姓名：{{ towerLastData.operatorName }}</div>
                  <div style="margin-top: 24px">
                    司机工号：{{ towerLastData.operatorJobNo }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel custom mt20">
      <div class="chart row">
        <div class="col">
          <Process
            desc="重量百分比"
            :rate="towerLastData.weightPercentage / 100"
            color="#00A0E9"
          ></Process>
        </div>
        <div class="col">
          <Process
            desc="速度百分比"
            :rate="towerLastData.inclinationPercentage / 100"
            color="#41D5C4"
          ></Process>
        </div>
        <div class="col">
          <Process
            desc="风速百分比"
            :rate="towerLastData.momentPercentage / 100"
            color="#FDD948"
          ></Process>
        </div>
      </div>
    </div>
    <Trend></Trend>
    <Statistics></Statistics>
  </div>
</template>
<script setup>
import Virtual from './Virtual.vue'
import Trend from './Trend.vue'
import Statistics from './Statistics.vue'
import Process from '@/components/Process'
import { getDeviceInfo } from '@/api/safe/tower'

const deviceInfo = ref({})
const towerAttr = ref({})
const towerLastData = ref({})
const deviceList = inject('deviceList')
const deviceId = ref(deviceList.value[0]?.id)
provide('deviceId', deviceId)
provide('towerLastData', towerLastData)
provide('towerAttr', towerAttr)
const towerStatusMap = ['正常', '预警', '报警']
watch(deviceList, (val) => {
  deviceId.value = val[0]?.id
})
watch(deviceId, (val) => {
  fetchDeviceInfo(val)
})
let timer = null
onMounted(() => {
  deviceId.value && fetchDeviceInfo(deviceId.value)
  const run = () => {
    if (deviceId.value) {
      fetchDeviceInfo(deviceId.value).then(
        () => (timer = setTimeout(run, 5000))
      )
    } else {
      timer = setTimeout(run, 5000)
    }
  }
  run()
})
onUnmounted(() => {
  clearTimeout(timer)
  timer = null
})
function fetchDeviceInfo(deviceId) {
  return getDeviceInfo(deviceId).then((res) => {
    if (res.code !== 200) return
    deviceInfo.value = res.data || {}
    towerAttr.value = res.data?.towerAttr || {}
    towerLastData.value = res.data?.towerLastData || {}
  })
}
</script>
<style lang="scss" scoped>
.row1 {
  .panel {
    // height: 338px;
    position: relative;
  }
}
.staff {
  .wrap {
    color: #333;
    .top {
      width: 148px;
      height: 148px;
      margin: 0 auto;
      border: 1px dashed #999;
      background-color: #f3f5f9;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bottom {
      margin-top: 34px;
    }
  }
}
.chart {
  // margin-top: 27px;
  flex-wrap: wrap;
  justify-content: space-between;
  .col {
    &:not(:first-child) {
      margin-left: 10%;
    }
  }
}
.panel-wrap {
  .panel {
    height: auto;
  }
}
.auto-h {
  height: auto;
}
.info {
  margin-top: 16px;
  p:first-child {
    font-size: 14px;
    color: #666;
  }
  p:last-child {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
  }
  flex-wrap: wrap;
  .col {
    flex-basis: 25%;
    margin-bottom: 40px;
  }
}
</style>
