<template>
  <div class="panel custom mt20">
    <div class="head">
      <div class="left">
        <div class="title">{{ title }}</div>
        <div class="gap">
          <span>选择时段：</span>
          <el-date-picker
            v-model="params.startTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="开始日期"
            :disabled-date="disabledStartDate"
            style="width: 147px"
          />
          <span class="ml10 mr10">-</span>
          <el-date-picker
            v-model="params.endTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="结束日期"
            :disabled-date="disabledEndDate"
            style="width: 147px"
          />
        </div>
        <div class="gap">
          <span>选择查看内容：</span>
          <el-select
            v-model="type"
            placeholder="请选择"
            style="width: 200px"
            :clearable="false"
          >
            <el-option label="运次" value="transportCounList"></el-option>
            <el-option label="运行时长" value="transportTimeList"></el-option>
          </el-select>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="chart" ref="chart"></div>
    </div>
  </div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import { GridComponent } from 'echarts/components'
import { BarChart } from 'echarts/charts'
import { CanvasRenderer } from 'echarts/renderers'
import dayjs from 'dayjs'
import { getTransportTotal } from '@/api/safe/tower'

echarts.use([GridComponent, BarChart, CanvasRenderer])
const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const deviceId = inject('deviceId')
const projectId = inject('projectId')
const chart = ref(null)
const params = reactive({
  projectId,
  deviceId,
  startTime: dayjs().subtract(9, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})
const typeMap = { transportCounList: '运次', transportTimeList: '运行时长' }
const type = ref('transportCounList')
const chartData = ref([])
let myChart

watch(params, (val) => {
  if(!val.startTime||!val.endTime)return
  fetchData(params).then(updateChart)
},{ immediate: true })

watch(type, () => updateChart(chartData.value))

const title = computed(() => {
  return typeMap[type.value]
})

function fetchData() {
  return getTransportTotal(params).then((res) => {
    if (res.code !== 200) return
    chartData.value = res.data
    return res.data
  })
}

function updateChart(data) {
  myChart || (myChart = echarts.init(chart.value))

  var option = {
    grid: {
      left: '3%',
      right: '0%',
      bottom: '20%',
    },
    tooltip: {
      trigger: 'item',
    },
    xAxis: {
      type: 'category',
      data: data.timeList,
      axisTick: {
        alignWithLabel: true,
      },
    },
    yAxis: {
      type: 'value',
    },
    series: [
      {
        data: data[type.value],
        type: 'bar',
        name: '用水量',
        barWidth: 10,
        itemStyle: {
          borderRadius: [5, 5, 0, 0],
          color: '#00A0E9',
        },
      },
    ],
  }
  myChart.setOption(option)
}

const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(10, 'day')
  }
  return !valid
}

const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(10, 'day')
  }
  return !valid
}
</script>
<style lang="scss" scoped>
.chart {
  height: 280px;
}
</style>
