<template>
  <div class="panel custom mt20">
    <div class="head">
      <div class="left">
        <div class="title">{{ title }}</div>
        <div class="gap">
          <span>选择日期：</span>
          <el-date-picker
            v-model="params.selectTime"
            type="date"
            
            placeholder="请选择"
            :disabled-date="disabledStartDate"
            style="width: 147px"
            :clearable="false"
          />
        </div>
        <div class="gap">
          <span>选择查看内容：</span>
          <el-select
            v-model="type"
            placeholder="请选择"
            style="width: 200px"
            :clearable="false"
          >
            <el-option
              v-for="(item, index) in typeMap"
              :key="index"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
</template>
<script setup>
import * as echarts from 'echarts/core'
import {
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent,
  LegendComponent,
} from 'echarts/components'
import { LineChart } from 'echarts/charts'
import { UniversalTransition } from 'echarts/features'
import { CanvasRenderer } from 'echarts/renderers'
import { getTrend } from '@/api/safe/tower'
import dayjs from 'dayjs'

echarts.use([
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent,
  LineChart,
  CanvasRenderer,
  UniversalTransition,
  LegendComponent,
])

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const projectId = inject('projectId')
const deviceId = inject('deviceId')
const type = ref('capacity')
const typeMap = [
  {
    label: '载重',
    value: 'capacity',
  },
  {
    label: '倾角',
    value: 'dipAngle',
  },
  {
    label: '力矩',
    value: 'moment',
  },
  {
    label: '回转',
    value: 'rotation',
  },
  {
    label: '幅度',
    value: 'scope',
  },
  {
    label: '风力',
    value: 'windPower',
  },
  {
    label: '风速',
    value: 'windSpeed',
  },
]
const title = computed(() => {
  return typeMap.find((item) => item.value === type.value).label
})
const container = ref(null)
const params = reactive({
  projectId,
  deviceId,
  selectTime: dayjs().format('YYYY-MM-DD'),
})
const chartData = ref([])
let myChart
onMounted(() => {
  fetchData(params).then(updateChart)
})
watch(params, (newProps) => {
  fetchData(params).then(updateChart)
})
watch(type, () => updateChart(chartData.value))

function fetchData(params) {
  return getTrend(params).then((res) => {
    if (res.code !== 200) return
    chartData.value = res.data
    return res.data
  })
}
function updateChart(data) {
  myChart || (myChart = echarts.init(container.value))
  // console.log(data.map(item=>[item.gatherTime,item[type.value]]));
  var option = {
    tooltip: {
      trigger: 'axis',
    },
    grid: {
      left: '5%',
      // right: '5%',
    },
    legend: {},
    xAxis: {
      type: 'time',
      boundaryGap: false,
    },
    yAxis: {
      type: 'value',
      boundaryGap: [0, '100%'],
    },
    dataZoom: [
      {
        type: 'inside',
        start: 0,
        end: 100,
      },
      {
        start: 0,
        end: 100,
      },
    ],
    series: [
      {
        data: data.map((item) => [item.gatherTime, item[type.value]]),
        type: 'line',
        smooth: true,
        // areaStyle: {},
        name: title.value,
      },
    ],
  }

  myChart.setOption(option)
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date < dayjs() && date > dayjs(releaseDate)
  return !valid
}
</script>
<style lang="scss" scoped>
.container {
  height: 280px;
}
</style>
