<template>
  <div class="wrap">
    <div class="content">
      <div class="left">
        <img class="tower" src="@/assets/images/safe/tower.png" alt="">
        <img class="lift" src="@/assets/images/safe/lift.png" :style="{bottom:'88%'}">
        <img :class="['arrow',{top}]" src="@/assets/images/safe/arrow.png" alt="">
      </div>
      <div class="right">
        <div class="list">
          <div class="item">
            <span>最大楼层</span><span class="count">20</span>
          </div>
          <div class="item">
            <span>最小楼层</span><span class="count">20</span>
          </div>
          <div class="item">
            <span>额定人数</span><span class="count">20</span>
          </div>
          <div class="item">
            <span>额定载重(kg)</span><span class="count">20</span>
          </div>
          <div class="item">
            <span>额定上行速度</span><span class="count">20</span>
          </div>
          <div class="item">
            <span>额定下行速度</span><span class="count">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const top=ref(true)
</script>

<style lang="scss" scoped>
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    height: 100%;
    position: relative;
      width: 32px;
      height: 370px;
      margin: 0 30px;
      position: relative;
    .tower{
      width: 100%;
      height: 100%;
    }
    .lift{
      width: 26px;
      height: 42px;
      position: absolute;
      left: -26px;
      bottom: 0;
      transition: bottom 2s;
    }
    .arrow{
      width: 12px;
      height: 218px;
      position: absolute;
      left: 35px;
      top: 80px;
      &.top{
        transform: rotate(180deg);
      }
    }
  }
  .right {
    width: 185px;
    flex:1;
    // display: flex;
    align-items: center;
    .item {
      &:not(:first-of-type){
        margin-top: 20px;
      }
      background: #fafafa;
      color: #999999;
      font-size: 14px;
      line-height: 40px;
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      .count {
        font-weight: bold;
        color: #333333;
      }
    }
  }
}
</style>
