<template>
  <el-dialog :title="isEdit ? (isView ? '查看角色' : '编辑角色') : '新建角色'">
    <el-form
      :disabled="isView"
      ref="formRef"
      :model="form"
      label-width="100"
      label-position="top"
      :show-message="false"
    >
      <div class="row form-row">
        <div class="col">
          <el-form-item label="角色名称" prop="roleName" required>
            <el-input
              type="text"
              v-model="form.roleName"
              placeholder="请输入"
            />
          </el-form-item>
        </div>
        <div class="col col-center">
          <el-form-item label="角色类型" prop="type">
            <el-radio-group v-model="form.type">
              <el-radio :label="1" v-if="!(isEdit && form.type !== 1)"
                >企业级</el-radio
              >
              <el-radio :label="2" v-if="!(isEdit && form.type !== 2)"
                >项目级</el-radio
              >
            </el-radio-group>
          </el-form-item>
        </div>
        <div class="col">
          <el-form-item label="备注">
            <el-input v-model="form.remark"></el-input>
          </el-form-item>
        </div>
      </div>
    </el-form>
    <div class="tab" v-if="form.type === 1">
      <div class="head">网页端--企业级权限</div>
      <div class="body">
        <el-tree
          ref="treeRef"
          class="tree"
          :data="state.enterprise"
          :props="{
            label: 'menuName',
            children: 'children',
            disabled: isView ? 'menuName' : false,
          }"
          default-expand-all
          node-key="menuId"
          highlight-current
          show-checkbox
          :check-strictly="true"
          @check-change="(a, b) => changeBuild(a, b, treeRef)"
        >
        </el-tree>
      </div>
    </div>
    <div class="tab project" v-else>
      <div class="head">
        <span
          class="menu"
          :class="{ active: subType === 1 }"
          @click="subType = 1"
          >网页端-项目级权限</span
        >
        <span
          class="menu"
          :class="{ active: subType === 2 }"
          @click="subType = 2"
          >小程序-项目级权限</span
        >
      </div>
      <div class="body">
        <el-tree
          v-show="subType === 1"
          ref="treeRef1"
          class="tree"
          :data="state.projectWeb"
          :props="{
            label: 'menuName',
            children: 'children',
            disabled: isView ? 'menuName' : false,
          }"
          default-expand-all
          node-key="menuId"
          highlight-current
          show-checkbox
          :check-strictly="true"
          @check-change="(a, b) => changeBuild(a, b, treeRef1)"
        >
        </el-tree>
        <el-tree
          v-show="subType === 2"
          ref="treeRef2"
          class="tree"
          :data="state.projectApp"
          :props="{
            label: 'menuName',
            children: 'children',
            disabled: isView ? 'menuName' : false,
          }"
          default-expand-all
          node-key="menuId"
          highlight-current
          show-checkbox
          :check-strictly="true"
          @check-change="(a, b) => changeBuild(a, b, treeRef2)"
        >
        </el-tree>
      </div>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { editRole, getPermissionList, addRole } from '@/api/setting/role'
import { ElMessage } from 'element-plus'
const props = defineProps([
  'closeFn',
  'isEdit',
  'editData',
  'saveCallback',
  'isView',
])
const state = ref({
  enterprise: [],
  projectApp: [],
  projectWeb: [],
  checkedKeys: [],
})
const formRef = ref()
const treeRef = ref(null)
const treeRef1 = ref(null)
const treeRef2 = ref(null)
const subType = ref(1)
const form = ref({
  type: 1,
  roleName: '',
  remark: '',
})
const flag=ref(false)
onMounted(() => {
  if (props.isEdit) {
    const { roleId, roleName, type, remark } = props.editData
    form.value = { roleName, type, remark }
    fetchPermissionList({ roleId }).then((res) => {
      if (type === 1) {
        treeRef.value.setCheckedKeys(state.value.checkedKeys)
      } else {
        treeRef1.value.setCheckedKeys(state.value.checkedKeys)
        treeRef2.value.setCheckedKeys(state.value.checkedKeys)
      }
      nextTick(()=>{
        flag.value=true
      })
    })
  } else {
    fetchPermissionList()
  }
})
function fetchPermissionList(data) {
  return getPermissionList(data).then((res) => {
    if (res.code !== 200) return
    const { enterprise, projectApp, projectWeb, checkedKeys } = res
    state.value = { enterprise, projectApp, projectWeb, checkedKeys }
  })
}
const getChildrenKeys = (node, list = []) => {
  if (!node) return
  for (const child of node.children) {
    list.push(child.menuId)
    getChildrenKeys(child, list)
  }
  return list
}

const changeBuild = (node, checked, ref) => {
  if(!flag.value)return
  const childKeys = getChildrenKeys(node)
  const checkedKeys = ref.getCheckedKeys()
  if (checked) {
    ref.setCheckedKeys(
      Array.from(new Set([...checkedKeys, ...childKeys]))
    )
  } else {
    const filterKeys = checkedKeys?.filter((item) => !childKeys?.includes(item))
    console.log(filterKeys);
    ref.setCheckedKeys(filterKeys)
  }
}
const save = async () => {
  const valid = await formRef.value.validate().catch(console.log)
  if (!valid) {
    ElMessage.error('请填写必填项')
    return
  }
  let menuIds = [],
    allowApp = false
  if (form.value.type === 1) {
    menuIds = treeRef.value.getCheckedKeys(false)
  } else {
    menuIds = [
      ...treeRef1.value.getCheckedKeys(false),
      ...treeRef2.value.getCheckedKeys(false),
    ]
    if (treeRef2.value.getCheckedKeys(false).length) {
      allowApp = true
    }
  }
  if (props.isEdit) {
    await editRole({
      ...form.value,
      menuIds,
      roleId: props.editData.roleId,
      allowApp,
    })
  } else {
    await addRole({
      ...form.value,
      menuIds,
      allowApp,
    })
  }
  props.saveCallback()
  props.closeFn()
}
</script>
<style lang="scss" scoped>
.form-row {
  .col-center {
    margin: 0 20px;
  }
}
:deep(.vxe-select--panel) {
  z-index: 3000 !important;
}
.tab {
  .body {
    max-height: 500px;
    overflow-y: auto;
  }
  &.project {
    .head {
      padding-left: 0;
    }
    .menu {
      display: inline-block;
      cursor: pointer;
      height: 100%;
      padding: 0 20px;
      &.active {
        background-color: white;
      }
    }
  }
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  img {
    width: 16px;
    height: 16px;
    &.ml10 {
      width: 14px;
      height: 14px;
    }
  }
}
</style>
