<template>
  <el-dialog :title="success?'删除':'删除失败'">
    <div class="container success center" v-if="success">
      <div class="tac">
        <img src="@/assets/images/success.png" alt="" />
        <p>数据已删除</p>
      </div>
    </div>
    <div class="container fail center" v-else>
      <div class="tac">
        <img src="@/assets/images/danger.png" alt="" />
        <p>
          {{msg}}
        </p>
      </div>
    </div>
  </el-dialog>
</template>
<script setup>
defineProps(['success','msg']);
</script>
<style lang="scss" scoped>
.container {
  height: 272px;
  img {
    width: 58px;
    height: 58px;
  }
  p {
    margin-top: 16px;
    font-size: 18px;
    color: #333333;
  }
  &.fail {
    p {
      color: #666666;
      line-height: 28px;
      font-size: 14px;
    }
  }
}
</style>
