<template>
  <div class="panel normal">
    <div class="head">角色管理</div>
    <div class="body">
      <div class="operate">
        <div class="action-field">
          <div
            class="filled-btn mr16"
            @click="handleAdd(false)"
            v-hasPermi="['setting:role:edit']"
          >
            <span>新建角色</span>
            <img class="icon" src="@/assets/icons/add-fill.png" alt="" />
          </div>
        </div>
      </div>
      <div class="mt16">
        <Table
          :data="tableData"
          :pagination="pagination"
          @page-change="pageChange"
          style="width: 100%"
        >
          <el-table-column type="index" />
          <el-table-column label="角色名称" prop="roleName" />
          <el-table-column
            label="角色类型"
            prop="type"
            :formatter="formatterType"
          />
          <el-table-column
            label="备注"
            prop="remark"
            :formatter="(c, r, cell) => cell || '--'"
          >
          </el-table-column>
          <el-table-column label="操作">
            <template #default="{ row }">
              <el-button link type="primary" @click="handleAdd(true, row, true)"
                >查看</el-button
              >
              <el-button
                v-if="![1, 2].includes(row.roleId)"
                link
                type="primary"
                @click="handleAdd(true, row)"
                v-hasPermi="['setting:role:edit']"
                >编辑</el-button
              >
              <el-button
                v-if="![1, 2].includes(row.roleId)"
                link
                type="danger"
                @click="handleDelete(row)"
                v-hasPermi="['setting:role:edit']"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </Table>
      </div>
    </div>
    <DialogAdd
      v-if="dialogAddVisible"
      v-model="dialogAddVisible"
      width="720"
      :isEdit="isEdit"
      :isView="isView"
      :editData="editData"
      :closeFn="closeAddFn"
      :saveCallback="saveCallback"
    ></DialogAdd>
    <DialogDelete
      v-model="dialogDelete.visible"
      :success="dialogDelete.success"
      :msg="dialogDelete.msg"
      width="480"
    ></DialogDelete>
  </div>
</template>
ƒ
<script setup>
import Table from '@/components/Table'
import DialogAdd from './DialogAdd.vue'
import { getRoleList, delRole } from '@/api/setting/role'
import DialogDelete from './DialogDelete.vue'

const tableData = ref([])
const editData = ref({})
const dialogAddVisible = ref(false)
const isEdit = ref(false)
const isView = ref(false)
const pagination = reactive({
  showTotal: true,
  total: 0,
})
const dialogDelete = ref({
  success: true,
  visible: false,
  msg: '',
})
onMounted(() => {
  fetchRoleList()
})

function fetchRoleList(pageNum = 1) {
  pagination['current-page']=pageNum = pageNum
  getRoleList({ pageNum, pageSize: 10 }).then((res) => {
    if (res.code != 200) return
    tableData.value = res.rows
    pagination.total = res.total
  })
}
function saveCallback() {
  fetchRoleList()
}
const formatterType = (r, c, cell) => {
  return cell === 1 ? '企业级' : '项目级'
}
const pageChange = (val) => {
  console.log(val)
  fetchRoleList(val)
}
const handleAdd = (flag, data, viewFlag) => {
  dialogAddVisible.value = true
  isEdit.value = flag
  isView.value = viewFlag
  editData.value = data
}
const handleDelete = async ({ roleId }) => {
  const res = await delRole([roleId]).catch(console.log)
  if (res.code !== 200) {
    dialogDelete.value = { success: false, visible: true, msg: res.msg }
  } else {
    dialogDelete.value = { success: true, visible: true }
    saveCallback()
  }
}

const closeAddFn = () => {
  dialogAddVisible.value = false
}
</script>
<style lang="scss" scoped>
.head {
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  color: #333333;
  background: rgba(0, 0, 0, 0.02);
}
.body {
  padding: 0 20px 20px;
}
.operate {
  display: flex;
  justify-content: space-between;
}
.offline {
  color: #fa5555;
}
.online {
  color: #029b00;
}
</style>
