<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <el-radio-group v-model="params.timeType" class="right">
        <el-radio-button :label="0">今日</el-radio-button>
        <el-radio-button :label="-1">昨日</el-radio-button>
        <el-radio-button :label="-7">近7天</el-radio-button>
      </el-radio-group>
      </div>
      <el-button link type="primary" class="right" @click="dialogWarningVisible=true">查看报警记录</el-button>
    </div>
    <div class="body">
      <div class="container1" ref="container1"></div>
      <div class="container2" ref="container2"></div>
    </div>
  </div>
  <DialogWarning v-if="dialogWarningVisible" v-model="dialogWarningVisible" title="报警记录" width="960"></DialogWarning>
</template>
<script setup>
import DialogWarning from './DialogWarning';
import {getWarningInfo} from '@/api/green/environment';
import * as echarts from 'echarts/core';
import {
  TooltipComponent,
  LegendComponent,
  TitleComponent,
} from 'echarts/components';
import { PieChart } from 'echarts/charts';
import { LabelLayout } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';

echarts.use([
  TooltipComponent,
  TitleComponent,
  LegendComponent,
  PieChart,
  CanvasRenderer,
  LabelLayout,
]);
var myChart1,myChart2
const props=defineProps(['projectId'])

const container1 = ref(null);
const container2 = ref(null);
const dialogWarningVisible=ref(false)
const params=reactive({
  projectId:props.projectId,
  timeType:0
})
onMounted(() => {
  fetchWarningInfo()
});
watch(params,fetchWarningInfo)

function fetchWarningInfo(){
  return getWarningInfo(params).then(res=>{
    if(res.code!==200)return
    updateChart(res.data.warnList,res.data.alarmList);
  })
}

function updateChart(chart1,chart2) {
  myChart1||(myChart1 = echarts.init(container1.value))
  myChart2||(myChart2 = echarts.init(container2.value))
  const total1 = chart1.reduce((pre, cur) => (pre += cur.count), 0)
  const total2 = chart2.reduce((pre, cur) => (pre += cur.count), 0)
  const data1=chart1.map(item=>({name:item.typeString,value:item.count||null}))
  const data2=chart2.map(item=>({name:item.typeString,value:item.count||null}))

  total1||(data1.push({value:0,itemStyle:{color:'lightgray'}}))
  total2||(data2.push({value:0,itemStyle:{color:'lightgray'}}))

  const option1 = {
    tooltip: {
      trigger: 'item',
    },
    title: {
      x: 'center',
      y: '35%',
      text: '预警次数',
      subtext: `${total1}`,
      textStyle: {
        fontSize: 12,
        fontWeight: 'normal',
        color: '#4B535E',
      },
      subtextStyle: {
        fontSize: 24,
        lineHeight:1.2,
        fontWeight: 'bold',
        color: '#000000',
      },
    },
    legend: {
      show: false,
      icon: 'circle',
      top: 'center',
      right: '5%',
      orient: 'vertical',
      height: 80,
      width: 150,
    },
    series: [
      {
        type: 'pie',
        radius: ['50%', '85%'],
        center: ['50%', '50%'],
        avoidLabelOverlap: false,
        label: {
          show: false,
          position: 'center',
        },
        labelLine: {
          show: false,
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 15,
            fontWeight: 'bold',
            color: '#fff',
            formatter: '{b}\n\n{c}',
          },
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
        data: data1,
      },
    ],
  };
  const option2 = {
    tooltip: {
      trigger: 'item',
    },
    title: {
      x: '25%',
      y: '40%',
      textAlign:'center',
      text: '    报警次数',
      subtext: `  ${total2}`,
      padding:[0,0,0,-8],
      textStyle: {
        fontSize: 12,
        fontWeight: 'normal',
        color: '#4B535E',
        width:50
      },
      subtextStyle: {
        fontSize: 24,
        lineHeight:1.2,
        fontWeight: 'bold',
        color: '#000000',
        width:70
      },
    },
    legend: {
      show: true,
      icon: 'circle',
      top: 'center',
      right: '5%',
      orient: 'vertical',
      height: 80,
      width: 150,
    },
    series: [
      {
        type: 'pie',
        radius: ['50%', '85%'],
        center: ['25%', '50%'],
        avoidLabelOverlap: false,
        label: {
          show: false,
          position: 'center',
        },
        labelLine: {
          show: false,
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 15,
            fontWeight: 'bold',
            color: '#fff',
            formatter: '{b}\n\n{c}',
          },
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
        data: data2,
      },
    ],
  };
  myChart1.setOption(option1);
  myChart2.setOption(option2);
}
</script>
<style lang="scss" scoped>
.panel {
  height: 204px;
}
.container1,.container2{
  display: inline-block;
}
.container1 {
  height: 130px;
  width: 30%;
}
.container2 {
  height: 130px;
  width: 60%;
}
</style>
