<template>
  <div class="panel panel1 custom">
    <div class="head">
      <div class="left">
        <div>
          <span>设备名称：</span>
          <el-select
            v-model="params.deviceId"
            placeholder="请选择"
            style="width: 200px"
          >
            <el-option
              v-for="(item, index) in deviceList"
              :key="index"
              :label="`${item.deviceName}(${item.status ? '在线' : '离线'})`"
              :value="item.deviceId"
            />
          </el-select>
        </div>
        <div class="gap">
          <span>设备状态：</span><span :class="currentDevice.status?'text-success':'text-danger'">{{ currentDevice.status ? '在线' : '离线' }}</span>
        </div>
        <div class="gap">
          <span>安装位置：</span><span>{{ currentDevice.installSeat }}</span>
        </div>
      </div>
      <el-button
        link
        type="primary"
        class="right"
        @click="dialogThresholdVisible = true"
        >监测阈值管理</el-button
      >
    </div>
    <div class="body">
      <div class="item" v-for="(item, index) in indicator" :key="index">
        <img class="icon" :src="item.img" alt="" />
        <div class="cont">
          <div class="desc">{{ item.desc }}</div>
          <div class="count" :class="{warn:item.warn}">{{ currentInfo[item.type] }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel2 custom">
    <div class="head">
      <div class="left">
        <div class="title">趋势分析</div>
        <div class="gap">
          <span>选择日期：</span>
          <el-date-picker v-model="params.selectTime" type="date" placeholder="请选择" :disabled-date="disabledDate" value-format="YYYY-MM-DD" :clearable="false"/>
        </div>
        <div class="gap">
          <span>选择检测项：</span>
          <el-select
            v-model="bizSubType"
            placeholder="请选择"
            style="width: 200px"
          >
              <el-option
                v-for="(item, index) in  bizSubTypeMap"
                :key="index"
                :label="item.label"
                :value="item.value"
              />
          </el-select>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container" ref="container"></div>
    </div>
  </div>
  <div class="panel panel3 custom">
    <div class="head">
      <div class="left"><div class="title">数据详情</div></div>
      <el-button link type="primary" class="right" @click="handleExport">导出数据</el-button>
    </div>
    <div class="body">
      <Table :data="recordData" :pagination="pagination" @page-change="pageChange">
        <el-table-column label="监测时间" prop="gatherTime" />
        <el-table-column label="PM2.5(ug/m3)" prop="pm25" />
        <el-table-column label="PM10(ug/m3)" prop="pm10" />
        <el-table-column label="噪声(dB)" prop="noise" />
        <el-table-column label="温度(℃)" prop="temperature" />
        <el-table-column label="湿度(%)" prop="humidity" />
        <el-table-column label="风速(m/s)" prop="windSpeed" />
      </Table>
    </div>
  </div>
  <DialogThreshold
    v-model="dialogThresholdVisible"
    v-if="dialogThresholdVisible"
    title="监测阈值管理"
    width="960"
    :closeFn="closeFn"
    :deviceId="params.deviceId"
  ></DialogThreshold>
</template>
<script setup>
import * as echarts from 'echarts/core'
import {
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent,
  LegendComponent
} from 'echarts/components'
import { LineChart } from 'echarts/charts'
import { UniversalTransition } from 'echarts/features'
import { CanvasRenderer } from 'echarts/renderers'
import DialogThreshold from './DialogThreshold.vue'
import dayjs from 'dayjs'
import {getTrend,getTableData,getLatest,getConfig} from '@/api/green/environment';

const releaseDate=import.meta.env.VITE_APP_RELEASE_DATE
echarts.use([
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent,
  LineChart,
  CanvasRenderer,
  UniversalTransition,
  LegendComponent
])

const { proxy } = getCurrentInstance();
const bizSubTypeMap = 
[
  {label:'pm2.5',value:'pm25List'},
  {label:'pm10',value:'pm10List'},
  {label:'风速',value:'windSpeedList'},
  {label:'噪音',value:'noiseList'},
  {label:'温度',value:'temperatureList'},
  {label:'湿度',value:'humidityList'},
]
const windDirectMap={1:'东北',2:'东北偏东',3:'东',4:'东南偏东',5:'东南',6:'东南偏南',7:'南',8:'西南偏南',9:'西南',10:'西南偏西',11:'西',12:'西北偏西',13:'西北',14:'西北偏北',15:'北',16:'东北偏北'}
const deviceList = inject('deviceList')
const projectId = inject('projectId')
const currentDevice = ref({})
const currentInfo=ref({})
const params=reactive({
  projectId,
  deviceId:deviceList.value[0]?.deviceId,
  selectTime:dayjs().format('YYYY-MM-DD'),
})
const bizSubType=ref('pm25List')
const pagination = reactive({
  showTotal: true,
  total: 0,
})
const chartData=ref({})
watch(deviceList, (val) => {
  params.deviceId = val[0]?.deviceId
})
watch(
  params,
  (val) => {
    currentDevice.value = deviceList.value.find((item) => item.deviceId === val.deviceId)
    fetchTableData()
    fetchTrend()
  }
)
watch(bizSubType,(val)=>updateChart(val))
watch(()=>params.deviceId,(val)=>{
  getConfig(val).then((res) => {
    if (res.code !== 200 ) return   
    const config=res.data
    fetchLatest(val).then(res=>{
      indicator.forEach(item=>{
        if(config[item.type+'Warn']&&res[item.type]>=config[item.type+'Warn']){
          item.warn=true
        }
      })
    }).catch(console.log)
  })
})
const disabledDate = (date) => {
  let valid = true
  valid = date < dayjs() && date > dayjs(currentDevice.value.installTime||releaseDate)
  return !valid
}
function fetchTrend(){
  getTrend(params).then(res=>{
    if(res.code!==200)return
    chartData.value=res.data
    updateChart(bizSubType.value)
  })
}
function fetchTableData(pageNum=1){
  getTableData({data:params,pageSize:10,pageNum}).then(res=>{
    if(res.code!==200)return
    recordData.value=res.data.list
    pagination.total=res.data.total
  })
}
function fetchLatest(val){
  return getLatest(val).then(res=>{
    if(res.code!==200)return
    const data=res.data||{}
    data.windSpeed=(windDirectMap[data.windDirect]||'')+' '+(data.windSpeed||'')
    currentInfo.value=data
    return res.data
  })
}
const pageChange = (val) => {
  fetchTableData( val )
}

function handleExport() {
  const _params={...params}
  _params.selectTime=_params.selectTime
  proxy.download("device/environment/export",_params, `environment_${new Date().getTime()}.xlsx`);
}
const dialogThresholdVisible = ref(false)
const indicator = reactive([
  {
    img: new URL('@/assets/images/green/indicator1.png', import.meta.url).href,
    desc: 'PM2.5(ug/m3)',
    type: 'pm25',
  },
  {
    img: new URL('@/assets/images/green/indicator1.png', import.meta.url).href,
    desc: 'PM10(ug/m3)',
    type: 'pm10',
  },
  {
    img: new URL('@/assets/images/green/indicator2.png', import.meta.url).href,
    desc: '噪声（dB)',
    type: 'noise',
  },
  {
    img: new URL('@/assets/images/green/indicator3.png', import.meta.url).href,
    desc: '温度(℃）',
    type: 'temperature',
  },
  {
    img: new URL('@/assets/images/green/indicator4.png', import.meta.url).href,
    desc: '湿度(％)',
    type: 'humidity',
  },
  {
    img: new URL('@/assets/images/green/indicator5.png', import.meta.url).href,
    desc: '风速(m/s)',
    type: 'windSpeed',
  },
])
const recordData = ref([])
const container = ref(null)
onMounted(() => {
  // draw()
})
var myChart
function updateChart(type) {
  
  myChart||(myChart= echarts.init(container.value))

  // console.log(chartData.value[type].map((item,index)=>[chartData.value.timeList[index],item]))
  var option = {
    tooltip: {
      trigger: 'axis',
      position: function (pt) {
        return [pt[0], '10%']
      },
    },
    grid: {
      left: '5%',
      // right: '5%',
    },
    legend: {},
    xAxis: {
      type: 'time',
      boundaryGap: false,
    },
    yAxis: {
      type: 'value',
      boundaryGap: [0, '100%'],
    },
    dataZoom: [
      {
        type: 'inside',
        start: 0,
        end: 100,
      },
      {
        start: 0,
        end: 100,
      },
    ],
    series: [
      {
        name: bizSubTypeMap.find(item=>item.value===type).label,
        type: 'line',
        smooth: true,
        symbol: 'none',
        areaStyle: {},
        data:chartData.value[type].map((item,index)=>[chartData.value.timeList[index],item])
      },
    ],
  }

  myChart.setOption(option)
}
const closeFn = () => {
  dialogThresholdVisible.value = false
}
</script>
<style lang="scss" scoped>
.panel {
  margin-top: 20px;
  .head {
    .left {
      display: inline-flex;
      align-items: center;
      .gap {
        margin-left: 70px;
      }
    }
  }
}
.panel1 {
  .body {
    display: flex;
    margin-top: 35px;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      .icon {
        width: 54px;
        height: 54px;
        margin-right: 8px;
      }
      .desc {
        color: #666666;
        line-height: 24px;
        font-size: 14px;
      }
      .count {
        font-weight: bold;
        color: #333333;
        line-height: 24px;
        font-size: 24px;
        margin-top: 15px;
        &.warn{
          color: var(--el-color-warning);
        }
      }
    }
  }
}
.container {
  height: 250px;
}
.panel2 {
  .head {
    font-size: 14px;
  }
}
.panel3 {
  .body {
    margin-top: 20px;
  }
}
</style>
