<template>
  <div class="panel custom">
    <div class="head">
      <div class="left"><span class="title">设备状态</span></div>
      <el-button link type="primary" class="right" @click="dialogListVisible=true">查看设备列表</el-button>
    </div>
    <el-row class="body" v-if="state.installCount > 1">
      <el-col :span="8">
        <div class="count">{{ state.installCount }}</div>
        <div class="desc">
          <img src="@/assets/images/green/device1.png" alt="" />
          <span>已安装设备</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="count">{{ state.onlineCount }}</div>
        <div class="desc">
          <img src="@/assets/images/green/device2.png" alt="" />
          <span>在线设备</span>
        </div>
      </el-col>
      <el-col :span="8">
        <el-popover placement="right-start" :width="200" trigger="hover">
          <template #default>
            <p class="mb10">离线设备数：<span class="text-danger">{{ state.offlineCount }}</span></p>
            <p v-for="(item, index) in state.offlineDeviceList" :key="index">{{ item.deviceName }}</p>
          </template>
          <template #reference>
            <div class="count red">{{ state.offlineCount }}</div>
          </template>
        </el-popover>
        <div class="desc">
          <img src="@/assets/images/green/device3.png" alt="" />
          <span>离线设备</span>
        </div>
      </el-col>
    </el-row>
    <div class="body single row" v-else>
      <img class="device" src="@/assets/images/green/device.png" alt="" />
      <div class="main col-auto" style="width:220px">
        <p>
          <span>{{state.deviceVO?.deviceName}}：</span>
          <span :class="['status',{online:state.deviceVO?.status}]">{{state.deviceVO?.status?'在线':'离线'}}</span>
        </p>
        <p><span>设备编号：</span><span>{{state.deviceVO?.deviceCode}}</span></p>
        <p><span>安装位置：</span><span>{{state.deviceVO?.installSeat}}</span></p>
      </div>
      <!-- <div class="aside center-v col-auto">
        <div>
          <div class="center-v">
            <img src="@/assets/images/green/device1.png" alt="" />
            <span class="ml16">已运行</span>
          </div>
          <div class="days">{{state.deviceVO?.onlineDay}}天</div>
        </div>
      </div> -->
    </div>
  </div>
  <DialogList v-model="dialogListVisible" title="设备列表" width="960" :deviceList="deviceList"></DialogList>
</template>
<script setup>
import DialogList from './DialogList';
import {getDeviceStatus} from '@/api/green/environment';

const props=defineProps(['projectId','showEmpty','deviceList'])

const state = ref({
  deviceVO:{}
});
const dialogListVisible=ref(false)

onMounted(()=>{
  fetchDeviceStatus()
})
function fetchDeviceStatus(){
  getDeviceStatus(props.projectId).then(res=>{
    if(res.code!==200)return
    state.value=res.data
    if(!res.data.installCount){
      props.showEmpty()
    }
  })
}
</script>
<style lang="scss" scoped>
.panel {
  height: 204px;
  .body {
    margin-top: 20px;
  }
  .count {
    color: #333333;
    line-height: 64px;
    font-size: 55px;
    &.red{
      color: var(--el-color-danger);
      display: inline-block;
    }
  }
  .desc {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
    span {
      color: #999999;
      line-height: 19px;
      font-size: 16px;
      margin-left: 12px;
    }
  }
}
.body.single {
  display: flex;
  color: #333333;
  img {
    width: 120px;
    height: 120px;
  }
  .main {
    margin-left: 32px;
    p:not(:first-child) {
      margin-top: 24px;
    }
    .status {
      color: var(--el-color-danger);
      &.online {
        color: var(--el-color-success);
      }
    }
  }
  .aside {
    width: 166px;
    padding-left: 7%;
    border-left: 1px solid #dcdfe6;
    img {
      width: 32px;
      height: 32px;
    }
    .days {
      font-weight: bold;
      color: #333333;
      line-height: 34px;
      font-size: 32px;
      margin-top: 20px;
    }
  }
}
</style>
