<template>
  <el-dialog>
    <template #header>
      <div class="center">
        <span style="color: white">监测阈值管理</span>
        <el-tooltip placement="right" effect="light">
          <template #content>
            监测到对应数据指标达到设定阈值时将进行预警/报警
          </template>
          <img class="help" src="@/assets/icons/help.png" alt="" />
        </el-tooltip>
      </div>
    </template>
    <el-form class="form" label-width="160px"
      label-position="left">
      <el-form-item label="选择监测设备">
        <el-select
          v-model="form.deviceId"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="(item, index) in deviceList"
            :key="index"
            :label="`${item.deviceName}(${item.status ? '在线' : '离线'})`"
            :value="item.deviceId"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form
      :model="form"
      :rules="rules"
      ref="formRef"
      label-width="160px"
      label-position="left"
      class="form"
      :disabled="disabled"
    >
      <el-form-item label="PM2.5(ug/m3)">
        <el-form-item label="预警值" prop="pm25Warn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.pm25Warn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="pm25Alarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.pm25Alarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
      <el-form-item label="PM10(ug/m3)">
        <el-form-item label="预警值" prop="pm10Warn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.pm10Warn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="pm10Alarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.pm10Alarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
      <el-form-item label="温度（℃）">
        <el-form-item label="预警值" prop="temperatureWarn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.temperatureWarn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="temperatureAlarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.temperatureAlarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
      <el-form-item label="湿度（%）">
        <el-form-item label="预警值" prop="humidityWarn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.humidityWarn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="humidityAlarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.humidityAlarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
      <el-form-item label="风速（m/s）">
        <el-form-item label="预警值" prop="speedWarn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.speedWarn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="speedAlarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.speedAlarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
      <el-form-item label="噪声（dB）">
        <el-form-item label="预警值" prop="noiseWarn" required
          ><el-input-number
            :controls="false"
            placeholder="请输入预警阈值"
            class="input"
            v-model="form.noiseWarn"
          ></el-input-number
        ></el-form-item>
        <el-form-item label="报警值" class="ml60" prop="noiseAlarm" required
          ><el-input-number
            :controls="false"
            placeholder="请输入报警阈值"
            class="input"
            v-model="form.noiseAlarm"
          ></el-input-number
        ></el-form-item>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <el-button :disabled="disabled" type="primary" @click="save" v-hasPermi="['green:environment:edit']">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { getConfig, setConfig } from '@/api/green/environment'
import { ElMessage,ElMessageBox } from 'element-plus'
const props = defineProps(['closeFn', 'deviceId'])
const deviceList = inject('deviceList')
const projectId = inject('projectId')
const disabled=computed(()=>{
  return !deviceList.value?.find(item=>item.deviceId===form.value.deviceId)?.status
})
const formRef = ref()
const form = ref({
  projectId,
  deviceId: props.deviceId,
})
onMounted(() => {
  fetchConfig(form.value.deviceId)
})
watch(
  () => form.value?.deviceId,
  (val) => {
    if (val) {
      fetchConfig(val)
    }
  }
)
const rules = {
  pm25Warn: [{ validator: validate('pm25Alarm') }],
  pm10Warn: [{ validator: validate('pm10Alarm') }],
  temperatureWarn: [{ validator: validate('temperatureAlarm') }],
  humidityWarn: [{ validator: validate('humidityAlarm') }],
  speedWarn: [{ validator: validate('speedAlarm') }],
  noiseWarn: [{ validator: validate('Alarm') }],
  pm25Alarm: [{ validator: validate2 }],
  pm10Alarm: [{ validator: validate2 }],
  temperatureAlarm: [{ validator: validate2 }],
  humidityAlarm: [{ validator: validate2 }],
  speedAlarm: [{ validator: validate2 }],
  noiseAlarm: [{ validator: validate2 }],
}
function validate(target) {
  return (rule, value, callback) => {
    if(value===''){
      callback(new Error('不能为空'))
    }
    if(!/^\d{0,2}(\.\d)?$/.test(value)){
      callback(new Error('请输入0~99.9的正数，小数位不超过一位'))
    }
    if (form.value[target] && value >= form.value[target]) {
      callback(new Error('预警值应小于报警值'))
    } else {
      callback()
    }
  }
}
function validate2(rule, value, callback){
  if(value===''){
    callback(new Error('不能为空'))
  }
  if(!/^\d{0,2}(\.\d)?$/.test(value)){
      callback(new Error('请输入0~99.9的正数，小数位不超过一位'))
    }else{
      callback()
    }
}
function fetchConfig(val) {
  getConfig(val).then((res) => {
    if (res.code !== 200 ) return
    form.value = res.data||{deviceId:val}
  })
}
const save = async () => {
  const valid = await formRef.value.validate()
  if (!valid) return
  ElMessageBox.confirm('确认保存吗?', '提示')
    .then(async () => {
      setConfig(form.value).then(res=>{
        if(res.code!==200)return
        props.closeFn()
        ElMessage.success('阈值设置成功')
      })
    }).catch(console.log)
}
</script>
<style lang="scss" scoped>
:deep(.el-form-item__content) {
  .el-form-item__label {
    width: auto !important;
  }
}
.form {
  padding: 0 40px;
}
.input {
  width: 245px;
}
.ml60 {
  margin-left: 60px;
}
.help {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
:deep(.el-form-item__content) {
  // flex-wrap: nowrap;
  .el-input-number .el-input__inner {
    text-align: left;
  }
}
</style>
