<template>
  <el-dialog>
    <el-form :inline="true" :model="params" label-width="130px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="选择日期">
            <div style="width: 320px">
              <el-date-picker
                v-model="params.startTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="开始日期"
                :disabled-date="disabledStartDate"
                style="width: 147px"
              />
              <span class="ml10 mr10">-</span>
              <el-date-picker
                v-model="params.endTime"
                type="date"
                value-format="YYYY-MM-DD"
                placeholder="结束日期"
                :disabled-date="disabledEndDate"
                style="width: 147px"
              />
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="报警类型">
            <el-checkbox-group v-model="params.statusList" :min="1">
              <el-checkbox :label="1" border>预警事件</el-checkbox>
              <el-checkbox :label="2" border>报警事件</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="选择监测设备">
            <el-select
              v-model="params.deviceIdList"
              placeholder="全部设备"
              style="width: 320px"
              multiple
              clearable
              ><el-option
                v-for="(item, index) in deviceList"
                :key="index"
                :label="item.deviceName"
                :value="item.deviceId"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="选择监测内容">
            <el-select
              v-model="params.bizSubTypeList"
              placeholder="全部"
              style="width: 320px"
              multiple
              clearable
            >
              <el-option
                v-for="(item, index) in bizSubTypeMap"
                :key="index"
                :label="item"
                :value="index + 1"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <Table
      :data="recordData"
      :pagination="pagination"
      @page-change="pageChange"
    >
      <el-table-column label="设备名称" prop="deviceName" />
      <el-table-column label="安装位置" prop="installSeat" />
      <el-table-column label="报警时间" prop="alarmTime" />
      <el-table-column
        label="报警类型"
        prop="status"
        :formatter="(r, c, cell) => ['预警', '报警'][cell]"
      />
      <el-table-column label="监测项" prop="monitorItem" />
      <el-table-column label="监测值" prop="monitorValue" />
      <el-table-column label="阈值" prop="thresholdValue" />
    </Table>
  </el-dialog>
</template>
<script setup>
import dayjs from 'dayjs'
import { getWarningRecord } from '@/api/green/environment'

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const deviceList = inject('deviceList')
const projectId = inject('projectId')
const bizSubTypeMap = ['pm25', 'pm10', '风速', '噪音', '温度', '湿度']
const params = reactive({
  projectId,
  startTime: dayjs().subtract(29, 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
  deviceIdList: [],
  statusList: [1],
  bizType: 2, //扬尘监测
  bizSubTypeList: [],
})
const pagination = reactive({
  showTotal: true,
  total: 0,
})
const recordData = ref([])

onMounted(() => {
  fetchWarningRecord()
})
watch(params, (val) => {
  if (!val.startTime || !val.endTime) return
  fetchWarningRecord()
})
function fetchWarningRecord(pageNum = 1) {
  getWarningRecord({ data: params, pageSize: 10, pageNum }).then((res) => {
    if (res.code !== 200) return
    recordData.value = res.data.list
    pagination.total = res.data.total
    pagination['current-page']=pageNum = pageNum
  })
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(30, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(30, 'day')
  }
  return !valid
}
const pageChange = (val) => {
  fetchWarningRecord(val)
}
</script>
<style lang="scss" scoped></style>
