<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else>
    <div class="row">
      <div class="col">
        <DeviceStatus :projectId="projectId" :showEmpty="showEmpty" :deviceList="deviceList"></DeviceStatus>
      </div>
      <div class="col ml20">
        <DeviceWarning :projectId="projectId"></DeviceWarning>
      </div>
    </div>
    <DeviceBoard></DeviceBoard>
  </div>
</template>
<script setup>
import empty from '@/components/Empty/index.vue';
import DeviceStatus from './DeviceStatus.vue';
import DeviceWarning from './DeviceWarning.vue';
import DeviceBoard from './DeviceBoard.vue';
import useUserStore from '@/store/modules/user'
import {getDeviceList} from '@/api/green/environment';
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const isEmpty = ref(false);
const deviceList=ref([])
provide('deviceList',deviceList)
provide('projectId',projectId)
onMounted(() => {
  fetchDeviceList()
})

const showEmpty=()=>{
  isEmpty.value=true
}
function fetchDeviceList(){
  getDeviceList(projectId).then(res=>{
    if(res.code!==200)return
    deviceList.value=res.data?.sort((a,b)=>a.createTime-b.createTime)
  })
}
</script>
<style lang="scss" scoped>
</style>
