<template>
  <div class="header">
    <div class="logo">
      <img src="@/assets/logo/logo.png" alt="" srcset="" />
      <span class="medium">智慧工地数字管理平台</span>
    </div>
    <div class="operate-container">
      <el-dropdown
        @command="handleRoleClick"
        class="right-menu-item hover-effect"
        trigger="click"
      >
        <div class="role-wrapper">
          <span class="name">{{ roleName(currentRole) }}</span>
          <el-icon class="ml10"><caret-bottom color="white" /></el-icon>
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item
              :command="item"
              v-for="(item, index) in extraRoles"
              :key="index"
            >
              <span>{{ roleName(item) }}）</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
      <div
        class="inline-block leading-32px mr-20px cursor-pointer"
        @click="dashboardTheme.changeTheme()"
      >
        <img class="align-middle" src="@/assets/images/dashboard/changeV.svg" />
      </div>
      <el-dropdown
        @command="handleCommand"
        class="right-menu-item hover-effect"
        trigger="click"
      >
        <div class="avatar-wrapper">
          <img :src="userStore.avatar" class="user-avatar" />
          <span class="name">{{ userStore.name }}</span>
          <el-icon class="ml10"><caret-bottom color="white" /></el-icon>
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="logout">
              <span>退出登录</span>
            </el-dropdown-item>
            <router-link to="/user/profile">
              <el-dropdown-item>修改密码</el-dropdown-item>
            </router-link>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>
<script setup>
import useUserStore from '@/store/modules/user'
import { ElMessageBox } from 'element-plus'
import { switchRole } from '@/api/setting/organize'
import usePermissionStore from '@/store/modules/permission'
import router from '@/router'
import { isHttp } from '@/utils/validate'
import { storeToRefs } from 'pinia'
import { useDashboardTheme } from '@/store/modules/dashboardTheme'

const userStore = useUserStore()
const dashboardTheme = useDashboardTheme()

const { currentRole, extraRoles } = storeToRefs(userStore)
function handleCommand(command) {
  switch (command) {
    case 'setLayout':
      setLayout()
      break
    case 'logout':
      logout()
      break
    default:
      break
  }
}
function handleRoleClick(item) {
  console.log(item)
  switchRole(item).then((res) => {
    if (res.code !== 200) return
    location.replace('/index')
  })
}
const roleName = (item) => {
  return `${item.type == 1 ? item.enterpriseName : item.projectName}   (${
    item.roleName
  })`
}
function logout() {
  ElMessageBox.confirm('确定注销并退出系统吗？', '提示', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
  })
    .then(() => {
      userStore.logOut().then(() => {
        location.href = '/index'
      })
    })
    .catch(() => {})
}
</script>
<style lang="scss" scoped>
.header {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00a0e9;
  color: white;
  padding-left: 24px;
  padding-right: 32px;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
    .medium {
      font-size: 20px;
    }
  }
  .operate-container {
    .role-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 40px;
      height: 32px;
      .name {
        color: white;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .avatar-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      .name {
        color: white;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}
</style>
