<template>
  <el-dialog>
    <div class="container">
      <div class="top">
        <div class="top_l">
          <img v-if="data.driverPhoto" :src="data.driverPhoto" alt="" />
        </div>
        <div class="top_c">
          <p>操作人员姓名：{{ data.operateName }}</p>
          <p>操作人员工号：{{ data.operateJobNo }}</p>
          <p>塔机名称：{{ data.deviceName }}</p>
        </div>
        <div class="top_r">
          <p>开始时间：{{ data.startTime }}</p>
          <p>结束时间：{{ data.endTime }}</p>
        </div>
      </div>
      <div class="main">
        <div class="title">运行数据</div>
        <div class="info">
          <div class="item">最大力矩（kN·m）：{{ data.maxMoment }}</div>
          <div class="item">
            最大力矩时吊重（kg）：{{ data.maxMomentWeight }}
          </div>
          <div class="item">最大力矩时幅度（m）：{{ data.maxMomentRange }}</div>
          <div class="item">
            最大起吊速度（m/s）：{{ data.maxLiftingSpeed }}
          </div>
          <div class="item">最大小车速度（m/s）：{{ data.maxCarSpeed }}</div>
          <div class="item">
            最大回转速度（°/s）：{{ data.maxRotationSpeed }}
          </div>
          <div class="item">最大风速（m/s）：{{ data.maxWindSpeed }}</div>
          <div class="item">最大倾角（°）：{{ data.maxDipAngle }}</div>
          <div class="item">最大高度（m））：{{ data.maxHeight }}</div>
          <div class="item">最小高度（m））：{{ data.minHeight }}</div>
          <div class="item">最大幅度（m）：{{ data.maxRange }}</div>
          <div class="item">最小幅度（m）：{{ data.minRange }}</div>
          <div class="item">起吊高度（m）：{{ data.liftingHeight }}</div>
          <div class="item">卸吊高度（m）：{{ data.unloadLiftingHeight }}</div>
          <div class="item">起吊幅度（m）：{{ data.liftingRange }}</div>
          <div class="item">卸吊幅度（m）：{{ data.unloadLiftingRange }}</div>
          <div class="item">起吊回转（m）：{{ data.liftingRotation }}</div>
          <div class="item">
            卸吊回转（m）：{{ data.unloadLiftingRotation }}
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button type="info" @click="closeFn">取消</el-button>
        <!-- <el-button type="primary" @click="save">确认</el-button> -->
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
const props = defineProps(['closeFn', 'data'])
const imgUrl = ''
const save = () => {}
</script>
<style lang="scss" scoped>
.container {
  font-size: 16px;
  .top {
    display: flex;
    p:not(:last-child) {
      margin-bottom: 24px;
    }
    // align-items: center;
    .top_l {
      width: 125px;
      height: 125px;
      border: 1px dashed #999;
      background-color: #f3f5f9;
      margin-right: 32px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .top_c {
      flex: 1;
      margin-top: 5px;
    }
    .top_r {
      flex: 2;
      margin-top: 5px;
    }
  }
  .main {
    margin-top: 32px;
    .title {
      font-weight: bold;
      margin-bottom: 24px;
      position: relative;
      padding-left: 12px;
      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        left: 0;
        background-color: var(--el-color-primary);
      }
    }
    .info {
      display: flex;
      flex-wrap: wrap;
      .item {
        flex-basis: 25%;
        margin-bottom: 36px;
      }
    }
  }
}
</style>
