<template>
  <div class="panel custom mt20">
    <div class="head">
      <div class="left">
        <div>
          <span>选择设备：</span>
          <el-select
            v-model="params.deviceId"
            placeholder="请选择"
            style="width: 160px"
          >
            <el-option label="全部设备" :value="undefined"></el-option>
            <el-option
              v-for="(item, index) in deviceList"
              :key="index"
              :label="item.deviceName"
              :value="item.id"
            />
          </el-select>
        </div>
        <div class="gap">
          <span>选择时段：</span>
          <el-date-picker
            v-model="params.startTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="开始日期"
            :disabled-date="disabledStartDate"
            style="width: 147px"
          />
          <span class="ml10 mr10">-</span>
          <el-date-picker
            v-model="params.endTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="结束日期"
            :disabled-date="disabledEndDate"
            style="width: 147px"
          />
        </div>
      </div>
    </div>
    <div class="body">
      <Table
        :data="warningList"
        :pagination="pagination"
        @page-change="pageChange"
      >
        <el-table-column label="开始时间" prop="startTime" width="100" />
        <el-table-column label="结束时间" prop="endTime" width="100" />
        <el-table-column label="设备名称" prop="deviceName" />
        <el-table-column label="操作人员姓名" prop="operateName" />
        <el-table-column label="操作人员工号" prop="operateJobNo" />
        <el-table-column label="最大力矩（kN·m）" prop="maxMoment" width="90" />
        <el-table-column
          label="最大力矩时吊重（kg）"
          prop="maxMomentWeight"
          width="120"
        />
        <el-table-column
          label="最大力矩时幅度（m）"
          prop="maxMomentRange"
          width="120"
        />
        <el-table-column
          label="最大起吊速度（m/s）"
          prop="maxLiftingSpeed"
          width="120"
        />
        <el-table-column
          label="最大小车速度（m/s）"
          prop="maxCarSpeed"
          width="120"
        />
        <el-table-column
          label="最大回转速度（°/s）"
          prop="maxRotationSpeed"
          width="120"
        />
        <el-table-column
          label="最大风速（m/s）"
          prop="maxWindSpeed"
          width="100"
        />
        <el-table-column label="最大倾角（°）" prop="maxDipAngle" width="90" />
        <el-table-column label="最大高度（m）" prop="maxHeight" width="90" />
        <el-table-column label="最小高度（m）" prop="minHeight" width="90" />
        <el-table-column label="最大幅度（m）" prop="maxRange" width="90" />
        <el-table-column label="最小幅度（m）" prop="minRange" width="90" />
        <el-table-column
          label="起吊高度（m）"
          prop="liftingHeight"
          width="90"
        />
        <el-table-column
          label="卸吊高度（m）"
          prop="unloadLiftingHeight"
          width="90"
        />
        <el-table-column label="起吊幅度（m）" prop="liftingRange" width="90" />
        <el-table-column
          label="卸吊幅度（m）"
          prop="unloadLiftingRange"
          width="90"
        />
        <el-table-column
          label="起吊回转（m）"
          prop="liftingRotation"
          width="90"
        />
        <el-table-column
          label="卸吊回转（m）"
          prop="unloadLiftingRotation"
          width="90"
        />
        <el-table-column label="操作" fixed="right">
          <template #default="scope">
            <el-button link type="primary" @click="handleView(scope.row)"
              >查看详情</el-button
            >
          </template>
        </el-table-column>
      </Table>
    </div>
  </div>
  <DialogDetail
    v-model="dialogDetailVisible"
    v-if="dialogDetailVisible"
    title="工作记录详情"
    width="960"
    :closeFn="closeFn"
    :data="dateDetail"
  ></DialogDetail>
</template>
<script setup>
import { getRecordList } from '@/api/safe/tower'
import DialogDetail from './DialogDetail.vue'
import dayjs from 'dayjs'

const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const dateDetail = ref()

const dialogDetailVisible = ref(false)
const deviceList = inject('deviceList')
const projectId = inject('projectId')
const warningList = ref([])
const pagination = reactive({
  showTotal: true,
  total: 0,
})
const params = reactive({
  projectId,
  deviceId: undefined,
  startTime: dayjs().subtract('29', 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})

onMounted(() => {
  fetchRecordList()
})
watch(params, (val) => {
  if (!val.startTime || !val.endTime) return
  fetchRecordList()
})

function fetchRecordList(pageNum = 1) {
  getRecordList({ data: params, pageNum, pageSize: 10 }).then((res) => {
    if (res.code !== 200) return
    warningList.value = res.data.list
    pagination.total = res.data.total
    pagination['current-page']=pageNum = pageNum
  })
}
const pageChange = (val) => {
  fetchRecordList(val)
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs().subtract(30, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(30, 'day')
  }
  return !valid
}
const closeFn = () => {
  dialogDetailVisible.value = false
}
const handleView = (data) => {
  dialogDetailVisible.value = true
  dateDetail.value = data
}
</script>
<style lang="scss" scoped>
.panel {
  .body {
    margin-top: 32px;
  }
  .gap {
    margin-left: 20px;
  }
}
</style>
