<template>
  <div class="panel custom">
    <div class="head">
      <div class="left">
        <div>
          <span>选择设备：</span>
          <el-select
            v-model="params.deviceId"
            placeholder="请选择"
            style="width: 160px"
          >
            <el-option label="全部设备" :value="undefined"></el-option>
            <el-option
              v-for="(item, index) in deviceList"
              :key="index"
              :label="item.deviceName"
              :value="item.deviceId"
            />
          </el-select>
        </div>
        <div class="gap">
          <span>选择事件类型：</span>
          <el-select
            v-model="params.bizSubType"
            placeholder="请选择"
            style="width: 160px"
            ><el-option label="全部事件类型" :value="undefined"></el-option>
            <el-option
              v-for="(item, index) in typeMap"
              :key="index"
              :label="item"
              :value="index + 1"
            />
          </el-select>
        </div>
        <div class="gap">
          <span>选择时段：</span>
          <el-date-picker
            v-model="params.startTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="开始日期"
            :disabled-date="disabledStartDate"
            style="width: 147px"
          />
          <span class="ml10 mr10">-</span>
          <el-date-picker
            v-model="params.endTime"
            type="date"
            value-format="YYYY-MM-DD"
            placeholder="结束日期"
            :disabled-date="disabledEndDate"
            style="width: 147px"
          />
        </div>
      </div>
      <el-button type="primary" link @click="dialogWarnVisible = true"
        >用电报警设置</el-button
      >
    </div>
    <div class="body">
      <Table :data="warningList" :pagination="pagination"
          @page-change="pageChange">
        <el-table-column label="报警时间" prop="alarmTime" />
        <el-table-column label="设备名称" prop="deviceName" />
        <el-table-column
          label="报警事件类型"
          prop="bizSubType"
          :formatter="formatter"
        />
        <el-table-column label="报警参数" prop="monitorItem" />
        <el-table-column label="监测数据" prop="monitorValue" />
      </Table>
    </div>
    <DialogWarnSetting
      v-if="dialogWarnVisible"
      v-model="dialogWarnVisible"
      :closeFn="closeAddFn"
      width="720"
    ></DialogWarnSetting>
  </div>
</template>
<script setup>
import DialogWarnSetting from './DialogWarnSetting.vue'
import { getWarningList } from '@/api/green/electricity'
import useUserStore from '@/store/modules/user'
import dayjs from 'dayjs'
const typeMap = [
  '电表过载',
  '电流超差',
  '电压超差',
  '功因不足',
  '电表缺相',
  '电表断相',
  '断电',
]
const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const releaseDate = import.meta.env.VITE_APP_RELEASE_DATE
const dialogWarnVisible = ref(false)
const props = defineProps(['deviceList'])
const warningList = ref([])
const params = reactive({
  deviceId: undefined,
  bizSubType: undefined,
  startTime: dayjs().subtract('9', 'day').format('YYYY-MM-DD'),
  endTime: dayjs().format('YYYY-MM-DD'),
})
const pagination = reactive({
  showTotal: true,
  total: 0,
})

watch(params, (val) => {
  if(!val.startTime||!val.endTime)return
  fetchWarningList()
},{ immediate: true })

function fetchWarningList(pageNum=1) {
  const deviceIdList = params.deviceId ? [params.deviceId] : undefined
  const bizSubTypeList = params.bizSubType ? [params.bizSubType] : undefined
  pagination['current-page']=pageNum
  getWarningList({
    data: {
      projectId,
      deviceIdList,
      bizSubTypeList,
      startTime: params.startTime,
      endTime: params.endTime,
      bizType: 1,
    },
    pageNum, pageSize: 10,
  }).then((res) => {
    if (res.code !== 200) return
    warningList.value = res.data.list
    pagination.total=res.data.total
  })
}
const pageChange = (val) => {
  fetchWarningList(val)
}
const formatter = (r,c,cell) => {
  return typeMap[cell - 1]
}
const disabledStartDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.endTime) {
    valid =
      valid &&
      date <= dayjs(params.endTime) &&
      date > dayjs(params.endTime).subtract(10, 'day')
  }
  return !valid
}
const disabledEndDate = (date) => {
  let valid = true
  valid = date <= dayjs() && date >= dayjs(releaseDate)
  if (params.startTime) {
    valid =
      valid && date >= dayjs(params.startTime) && date < dayjs(params.startTime).add(10, 'day')
  }
  return !valid
}
const closeAddFn = () => {
  dialogWarnVisible.value = false
}
</script>
<style lang="scss" scoped>
.panel {
  .body {
    margin-top: 32px;
  }
  .gap {
    margin-left: 20px;
  }
}
</style>
