<template>
  <el-dialog>
    <template #header>
      <div class="center">
        <span style="color: white;">用电报警设置</span>
        <el-tooltip placement="right" effect="light">
          <template #content>
            过载报警：任意一相，电流×电压×功率因数＞报警值<br/>
            电流超差：任意一相，电流＞报警值<br/>
            电压超差：任意一相，电压＞报警值<br/>
            功因不足：任意一相功率因数或总功率因数≤报警值<br/>
          </template>
          <img class="help" src="@/assets/icons/help.png" alt="">
        </el-tooltip>
      </div>
    </template>
    <div class="content">
      <el-form
        :model="form"
        ref="formRef"
        :rules="rules"
        label-width="110"
        label-position="left"
      >
        <el-form-item label="过载报警" prop="overload">
          <span class="w100">报警值设置</span>
          <el-input-number
            class="input"
            v-model="form.overload"
            :placeholder="placeholder"
            :controls="false"
          />（kw）
        </el-form-item>
        <el-form-item label="电流超差" prop="currentOverproof">
          <span class="w100">报警值设置</span>
          <el-input-number
            class="input"
            v-model="form.currentOverproof"
            :placeholder="placeholder"
            :controls="false"
          />（A）
        </el-form-item>
        <el-form-item label="电压超差" prop="voltageOverproof">
          <span class="w100">报警值设置</span>
          <el-input-number
            class="input"
            v-model="form.voltageOverproof"
            :placeholder="placeholder"
            :controls="false"
          />（V）
        </el-form-item>
        <el-form-item label="功因不足" prop="pf">
          <span class="w100">报警值设置</span>
          <el-input-number
            class="input"
            v-model="form.pf"
            :placeholder="placeholder"
            :controls="false"
          />
        </el-form-item>
        <el-form-item label="缺相报警">
          <el-switch class="w100" v-model="form.notPhase" />
          <span class="text-muted">报警条件（三相中任意一相电压为0）</span>
        </el-form-item>
        <el-form-item label="断相报警">
          <el-switch class="w100" v-model="form.lossPhase" />
          <span class="text-muted">报警条件（三相中任意一相电流为0）</span>
        </el-form-item>
        <el-form-item label="断电报警">
          <el-switch class="w100" v-model="form.interrupt" />
          <span class="text-muted">报警条件（三相电流均为0）</span>
        </el-form-item>
      </el-form>
    </div>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="closeFn">取消</el-button>
        <el-button type="primary" @click="save" v-hasPermi="['green:electricity:edit']">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup>
import { ElMessage } from 'element-plus'
import { getWarningConfig, setWarningConfig } from '@/api/green/electricity'
import useUserStore from '@/store/modules/user'
const props = defineProps(['closeFn'])

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const placeholder = '请输入0.00-9999.99的两位小数'
const form = ref({})
const formRef = ref()
const rules = reactive({
  overload:[{ validator }],
  currentOverproof:[{ validator }],
  voltageOverproof:[{ validator }],
  pf:[{ validator }],
})
function validator(rule, value, callback) {
    if(value&&!/^\d{1,4}(\.\d{1,2})?$/.test(value)){
      callback(new Error('请输入0.00~9999.99的两位小数'))
    } else {
      callback()
    }
  }

onMounted(() => {
  getWarningConfig(projectId).then((res) => {
    if (res.code !== 200) return
    form.value = res.data
  })
})
const save = async () => {
  const valid = await formRef.value.validate()
  if (!valid) return
  setWarningConfig({ ...form.value,projectId }).then((res) => {
    if (res.code !== 200) return
    ElMessage.success('设置成功')
    props.closeFn()
  })
}
</script>
<style lang="scss" scoped>
.content {
  margin: 0 40px;
  .w100 {
    width: 90px;
  }
}
.help{
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
:deep(.el-form-item__content) {
  // flex-wrap: nowrap;
  .input {
    width: 350px;
  }
  .el-input-number .el-input__inner {
    text-align: left;
  }
}
</style>
