<template>
  <el-dialog>
    <Table :data="deviceList">
      <el-table-column label="设备名称" prop="deviceName" show-overflow-tooltip min-width="110"/>
      <el-table-column label="监测区域" prop="zoneName" />
      <el-table-column label="安装日期" prop="installTime" />
      <el-table-column label="设备编号" prop="deviceCode" />
      <el-table-column label="设备状态" prop="status">
        <template #default="{row}">
          <span :class="[row.status ? 'online' : 'offline']">{{
            row.status ? '在用' : '离线'
          }}</span>
        </template>
      </el-table-column>
      <el-table-column label="离线时间" prop="offlineTime" />
    </Table>
  </el-dialog>
</template>
<script setup>
const props=defineProps(['deviceList'])

</script>
<style lang="scss" scoped>
.offline {
  color: #fa5555;
}
.online {
  color: #029b00;
}
</style>
