<template>
  <div class="row mt20">
    <div class="col">
      <DeviceStatus :deviceList="deviceList"></DeviceStatus>
    </div>
    <div class="col ml20"><DeviceWarning></DeviceWarning></div>
  </div>
  <DataDetail class="mt20" :deviceList="deviceList"></DataDetail>
</template>
<script setup>
import DeviceStatus from './DeviceStatus.vue'
import DeviceWarning from './DeviceWarning.vue'
import DataDetail from './DataDetail.vue'
import { getDeviceList } from '@/api/green/electricity'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore

const deviceList = ref([])
onMounted(() => {
  fetchDeviceList()
})
function fetchDeviceList() {
  getDeviceList(projectId).then((res) => {
    if (res.code !== 200) return
    deviceList.value = res.data
  })
}
</script>
<style lang="scss" scoped></style>
