<template>
  <div class="box">
    <router-link></router-link>
  </div>
</template>

<script setup name="definition">
</script>

<style scoped lang="scss">
.box {
  background-color: #efeff1;
  width: 100%;
  height: 100%;
}
</style>

