<template>
  <div class="page">
    <div class="row row1 mt20">
      <div class="col-auto" style="width: 440px">
        <div class="panel custom">
          <Virtual></Virtual>
        </div>
      </div>
      <div class="col-auto ml20" style="width: 740px">
        <div class="panel panel2 custom">
          <div class="wrap row">
            <div class="left">
              <el-form-item label="塔机名称：">
                <el-select v-model="deviceId" style="width: 85%">
                  <el-option
                    v-for="item in deviceList"
                    :key="item.id"
                    :label="item.deviceName"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <div class="status">
                <span
                  >监测设备状态：
                  <em
                    :class="
                      towerLastData.status ? 'text-success' : 'text-danger'
                    "
                    >{{ towerLastData.status ? '在线' : '离线' }}</em
                  ></span
                >
                <span class="ml30"
                  >塔机状态：
                  <em
                    :class="
                      towerLastData.towerStatus ? 'text-danger' : 'text-success'
                    "
                    >{{ towerStatusMap[towerLastData.towerStatus] }}</em
                  ></span
                >
              </div>
            </div>
            <div class="right">
              <div class="right_l">
                <div>司机姓名：{{ towerLastData.operatorName }}</div>
                <div style="margin-top: 24px">
                  司机工号：{{ towerLastData.operatorJobNo }}
                </div>
              </div>
              <div class="right_r">
                <img
                  v-if="towerLastData.driverPhoto"
                  :src="towerLastData.driverPhoto"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="info row">
            <div class="col">
              <p>吊重(kg)</p>
              <p>{{ towerLastData.load }}</p>
            </div>
            <div class="col">
              <p>力矩(kN.m)</p>
              <p>{{ towerLastData.moment }}</p>
            </div>
            <div class="col">
              <p>幅度(m)</p>
              <p>{{ towerLastData.range }}</p>
            </div>
            <div class="col">
              <p>高度(m)</p>
              <p>{{ towerLastData.height }}</p>
            </div>
            <div class="col">
              <p>回转角度(°)</p>
              <p>{{ towerLastData.rotation }}</p>
            </div>
            <div class="col">
              <p>倾角(°)</p>
              <p>{{ towerLastData.dipAngle }}</p>
            </div>
            <div class="col">
              <p>风速(m/s)</p>
              <p>{{ towerLastData.windSpeed }}</p>
            </div>
          </div>
          <div class="chart row">
            <div class="col">
              <Process
                desc="吊重百分比"
                :rate="towerLastData.weightPercentage / 100"
                color="#00A0E9"
              ></Process>
            </div>
            <div class="col">
              <Process
                desc="倾角百分比"
                :rate="towerLastData.inclinationPercentage / 100"
                color="#41D5C4"
              ></Process>
            </div>
            <div class="col">
              <Process
                desc="力矩百分比"
                :rate="towerLastData.momentPercentage / 100"
                color="#FDD948"
              ></Process>
            </div>
            <div class="col">
              <Process
                desc="风速百分比"
                :rate="towerLastData.windSpeedPercentage / 100"
                color="#637BFF"
              ></Process>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Trend></Trend>
    <Statistics></Statistics>
  </div>
</template>
<script setup>
import Virtual from './Virtual.vue'
import Trend from './Trend.vue'
import Statistics from './Statistics.vue'
import Process from '@/components/Process'
import { getDeviceInfo } from '@/api/safe/tower'

const deviceInfo = ref({})
const towerAttr = ref({})
const towerLastData = ref({})
const deviceList = inject('deviceList')
const deviceId = ref(deviceList.value[0]?.id)
provide('deviceId', deviceId)
provide('towerLastData', towerLastData)
provide('towerAttr', towerAttr)
const towerStatusMap = ['正常', '预警', '报警']
watch(deviceList, (val) => {
  deviceId.value = val[0]?.id
})
watch(deviceId, (val) => {
  fetchDeviceInfo(val)
})
let timer=null
onMounted(() => {
  deviceId.value && fetchDeviceInfo(deviceId.value)
  const run = () =>{
    if(deviceId.value){
      fetchDeviceInfo(deviceId.value).then(() =>
        timer=setTimeout(run, 5000)
      )
    }else{
      timer=setTimeout(run, 5000)
    }
  }
  run()
})
onUnmounted(()=>{
  clearTimeout(timer)
  timer=null
})
function fetchDeviceInfo(deviceId) {
  return getDeviceInfo(deviceId).then((res) => {
    if (res.code !== 200) return
    deviceInfo.value = res.data || {}
    towerAttr.value = res.data?.towerAttr || {}
    towerLastData.value = res.data?.towerLastData || {}
  })
}
</script>
<style lang="scss" scoped>
.row1 {
  .panel {
    height: 338px;
    position: relative;
  }
}
.panel2 {
  .wrap {
    color: #333;
  }
  .left {
    flex: 410;
    border-right: 1px solid #dcdfe6;
  }
  .right {
    flex: 330;
    padding-left: 30px;
    display: flex;
    align-items: center;
    .right_l {
      flex: 1;
    }
    .right_r {
      width: 94px;
      height: 94px;
      border: 1px dashed #999;
      background-color: #f3f5f9;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .info {
    margin-top: 16px;
    p:first-child {
      font-size: 14px;
      color: #666;
    }
    p:last-child {
      font-size: 24px;
      font-weight: bold;
      margin-top: 8px;
    }
  }
  .chart {
    // margin-top: 27px;
    flex-wrap: wrap;
    justify-content: space-between;
    .col {
      margin-top: 20px;
      flex: none;
      flex-basis: 45%;
    }
  }
}
</style>
