<template>
  <div class="tower-visualization">
    <div class="tower">
      <div class="marker">
        <span class="tip tip1">
          后臂长度(m)<br />{{ towerAttr.rearArmLength }}
        </span>
        <span class="tip tip2"
          >塔臂长度(m)<br />{{ towerAttr.forearmLength }}</span
        >
        <span class="tip tip3"
          >塔帽高度(m)<br />{{ towerAttr.towerCapHeight }}</span
        >
        <span class="tip tip4"
          >塔臂高度(m)<br />{{ towerAttr.towerArmHeight }}</span
        >
        <div class="hook">
          <div class="movable-hook" :style="moveHook">
            <div class="cable-and-hook" :style="transformCable">
              <div class="cable" />
              <div class="hook-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="circle">
      <div class="legend">回转：{{ towerLastData.rotation }}°</div>
      <div class="rotation" :style="rotateDiv">
        <div class="line" />
        <div class="dot" />
      </div>
    </div>
  </div>
</template>

<script setup>
const towerLastData = inject('towerLastData')
const towerAttr = inject('towerAttr')
const towerStatus = ref({
  loadWeight: '1.28',
  hookMovePercent: '70',
  hookHeightPercent: '75',
  rotateDegree: '50.6',
})

const hookWidth = ref(30)

const moveHook = computed(() => {
  const position = parseFloat(towerStatus.hookMovePercent) - hookWidth / 2
  // console.log(" position", position);
  return {
    width: hookWidth + '%',
    left: position + '%',
  }
})
const transformCable = computed(() => {
  return {
    height: 100 - parseFloat(towerStatus.hookHeightPercent) + '%',
  }
})
const moveLoad = computed(() => {
  return {
    'margin-top':
      0.12 * (parseFloat(towerStatus.hookHeightPercent) / 100) + 'rem',
  }
})
const rotateDiv = computed(() => {
  return {
    transform: 'rotate(' + towerLastData.rotation + 'deg)',
  }
})
// const rotateLegend=computed(() => {
//   return {
//     top: '-' + calculateTop() + 'rem',
//     transform: 'rotate(-' + towerStatus.rotateDegree + 'deg)',
//   }
// })

function calculateTop() {
  if (towerStatus.rotateDegree % 180 < 90) {
    return 0.17 * (1 + (3 * (parseFloat(towerStatus.rotateDegree) % 180)) / 180)
  } else if (towerStatus.rotateDegree % 180 >= 90) {
    return (
      0.17 * (1 + (3 * (parseFloat(towerStatus.rotateDegree) % 180)) / 180) -
      (0.17 * 3 * ((parseFloat(towerStatus.rotateDegree) % 180) - 90)) / 90
    )
  }
}
</script>

<style lang="scss" scoped>
.tower-visualization {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  line-height: 17px;
  height: 100%;
  .anti-collision-button {
    position: absolute;
    border: solid 1px rgba(57, 188, 255, 1);
  }
  .tower {
    position: absolute;
    top: 2vh;
    bottom: 0;
    left: 0;
    width: 75%;
    background-image: url('@/assets/images/safe/img_tower.png');
    background-size: 100% 100%;
    .marker {
      position: relative;
      width: 100%;
      height: 100%;
      .boom-length,
      .tower-height,
      .tip {
        position: absolute;
        text-align: center;
      }
      .tip1 {
        top: -3%;
        left: -5%;
      }
      .tip2 {
        top: 0;
        right: 0;
        translate: 100% 0;
      }
      .tip3 {
        left: 30%;
        top: -10%;
      }
      .tip4 {
        right: 10%;
        top: -10%;
      }
      .hook {
        position: absolute;
        top: 16%;
        height: 80%;
        left: 25%;
        width: 74%;
        .movable-hook {
          position: absolute;
          top: 0;
          transition: left 3s ease 0s;
          width: 30%;
          height: 98%;
          .cable-and-hook {
            height: 92%;
            margin-left: 44%;
            transition: height 3s ease 0s;
            .cable {
              height: 93%;
              width: 0.6vw;
              border: #00afff solid 1px;
            }
            .hook-img {
              width: 0.5vw;
              height: 1vh;
              background-image: url('@/assets/images/safe/img_hook.png');
              background-size: 100% 100%;
            }
          }

          .load-weight {
            width: 100%;
            height: 0.17rem;
            transition: height 3s ease 0s;
          }
        }
      }
    }
  }
  .anti-collision-button {
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
    top: 0.05rem;
    bottom: 70%;
    right: 0.05rem;
    width: 1.1rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: rgba(22, 162, 219, 0.28);
  }
  .circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 7vh;
    .legend {
      text-align: center;
      color: rgba(57, 188, 255, 1);
      // translate: 0 -100%;
    }
  }
  .rotation {
    bottom: 0;
    right: 0;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    position: relative;
    // transform: rotate(45deg);
    transition: transform 3s ease 0s;
    border: solid 1px rgba(57, 188, 255, 1);
    .line {
      position: absolute;
      width: 50.5%;
      height: 50%;
      left: 0;
      top: 0;
      border-right: solid 1px rgba(57, 188, 255, 1);
    }
    .dot {
      position: absolute;
      width: 3%;
      height: 3%;
      border-radius: 50%;
      left: 48.5%;
      top: 48.5%;
      background: rgba(57, 188, 255, 1);
    }
  }
}
</style>
