<template>
  <el-table v-bind="$attrs">
    <slot></slot>
  </el-table>
  <div class="pagination">
    <span v-if="$attrs.pagination?.showTotal" class="left">共{{ $attrs.pagination.total }}个</span>
    <el-pagination class="right" background layout="prev, pager, next" v-bind="$attrs.pagination" @current-change="currentChange"/>
  </div>
</template>
<script setup>
const emit = defineEmits(['page-change'])
const attrs = useAttrs()
const currentChange=(val)=>{
  if(val!==attrs.pagination['current-page']){
    emit('page-change',val)
  }
}
</script>
<style lang="scss" scoped>
.pagination{
  margin-top: 16px;
  height: 32px;
  line-height: 32px;
  .left{
    color: #999999;
    line-height: 21px;
    font-size: 14px;
  }
  .right{
    float: right;
  }
}
</style>
