// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type='file'] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse
  > div
  > .el-submenu
  > .el-submenu__title
  .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link {
  color: var(--el-color-primary) !important;
}

// rewrite
body {
  --el-color-primary: #00a0e9;
  --el-color-success: #029B00;
  --el-color-danger: #FA5555;
  --el-color-warning: #f8ac59;
  .el-button {
    border-radius: 0;
    &.group{
      padding: 0 !important;
    }
  }
  .el-button-group{
    .el-button{
      border-radius: 4px;
    }
  }
  .el-form{
    .el-form-item__label {
      color: #666666;
      font-weight: 400;
    }
  }
  .el-dialog{
    border-radius: 6px;
    --el-dialog-margin-top:20vh;
    overflow: hidden;
    .el-button {
      border-radius: 4px;
      padding-left: 22px;
      padding-right: 22px;
      &.el-button--info{
        color: #333333;
        background: #F0F2F5;
        border: none;
      }
    }

    .el-dialog__header{
      height: 40px;
      line-height: 40px;
      padding: 0;
      margin: 0;
      text-align: center;
      background: #00A0E9;
      .el-dialog__title{
        color: white;
        font-size: 14px;
      }
      .el-dialog__headerbtn{
        height: 40px;
        width: 40px;
        top: 0;
        background: url('@/assets/icons/close.png') no-repeat center/16px 16px;
        .el-dialog__close{
          display: none;
        }
      }
    }
  }
  .el-form-item{
    &.auto{
      .el-select{
        width: 100%;
      }
    }
    &.center{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
