<template>
  <div class="h-full">
    <div class="top_box mb-20px flex pl-20px">
      <!-- 顶部Tabs -->
      <div
        class="tab_box cursor-pointer mr-16px flex justify-center items-center"
        v-for="item in tabs"
        :key="item.value"
        :class="activeTab == item.value ? 'active' : ''"
        @click="handleTabChange(item.value)"
      >
        {{ item.label }}
      </div>
    </div>
    <div class="flex h-[calc(100%-84px)] justify-between">
      <!-- 左侧菜单 -->
      <div class="w-[15%] h-full min-w-270px bg-[#FFFFFF] mr-15px">
        <div
          class="h-41px bg-[#FAFAFA] rounded-3px text-11px font-600 text-[#333333] p-12px"
          style="box-shadow: 1px 0px 0px 0px rgba(237, 237, 237, 1)"
        >
          资讯列表
        </div>
        <div class="py-16px pl-20px">
          <el-button
            color="#F5F6FB"
            class="flex items-center"
            @click="handleClickToAdd"
          >
            <span class="mr-4px text-[#333] text-12px">新增</span>
            <img class="h-40px w-40px" src="../../../assets/images/add.png" />
          </el-button>
        </div>
        <div class="h-[calc(100%-105px)]">
          <el-scrollbar>
            <div class="px-20px">
              <table class="w-full" style="border-collapse: collapse">
                <thead
                  class="h-32px bg-[#FCFCFC] text-14px text-[#666] border-y-2px border-y-[#979797]"
                >
                  <tr>
                    <th class="p-0" scope="col"></th>
                    <th class="p-0 text-left font-400" scope="col">标题</th>
                    <th class="p-0 text-center font-400" scope="col">操作</th>
                  </tr>
                </thead>
                <draggable
                  ghost-class="ghost"
                  v-model="showTableData"
                  handle=".drag-btn"
                  tag="tbody"
                  @change="handleDargSortChange"
                  item-key="sort"
                >
                  <template #item="{ element }">
                    <tr
                      class="text-center h-32px leading-32px cursor-pointer text-[#666] text-12px"
                      :class="
                        activeTableRow === element
                          ? 'bg-[rgba(0,160,233,0.1)]'
                          : 'bg-none'
                      "
                      @click="handleTableItemChange(element)"
                    >
                      <td class="p-0 drag-btn cursor-move">
                        <el-icon color="#979797" :size="12">
                          <Grid />
                        </el-icon>
                      </td>
                      <td class="block" style="width: 144px">
                        <div
                          class="w-full text-left p-5px whitespace-nowrap overflow-hidden"
                          style="text-overflow: ellipsis"
                        >
                          {{ element.title }}
                        </div>
                      </td>
                      <td class="min-w-41px p-0">
                        <div v-show="activeTableRow === element">
                          <el-icon
                            color="#00A0E9"
                            class="cursor-pointer mr-15px"
                            :size="12"
                          >
                            <Edit />
                          </el-icon>
                          <el-icon
                            color="#00A0E9"
                            class="cursor-pointer"
                            @click="handleClickDelete(element.id)"
                            :size="12"
                          >
                            <Delete />
                          </el-icon>
                        </div>
                      </td>
                    </tr>
                  </template>
                </draggable>
              </table>
            </div>
          </el-scrollbar>
        </div>
      </div>
      <!-- 右侧内容 -->
      <div class="w-[calc(85%-15px)] bg-[#FFFFFF]">
        <div
          class="h-41px bg-[#FAFAFA] rounded-3px text-11px font-600 text-[#333333] p-12px"
          style="box-shadow: 1px 0px 0px 0px rgba(237, 237, 237, 1)"
        >
          上传图文信息
        </div>
        <el-form
          ref="formRef"
          :rules="formRoles"
          class="px-20px"
          :model="formData"
          label-position="top"
        >
          <el-form-item label="封面" prop="img">
            <UploadImg v-model:cover-img="formData.img" />
          </el-form-item>
          <el-form-item label="标题" prop="title">
            <el-input v-model="formData.title" />
          </el-form-item>
          <el-form-item label="内容" prop="content">
            <Toolbar
              style="border-bottom: 1px solid #ccc"
              :editor="editorRef"
              :defaultConfig="toolbarConfig"
              :mode="mode"
            />
            <Editor
              style="height: 80px; width: 100%; border: 1px solid #ccc"
              v-model="formData.content"
              :defaultConfig="editorConfig"
              :mode="mode"
              @onCreated="handleCreated"
            />
          </el-form-item>
          <el-form-item>
            <div class="flex justify-end w-full">
              <el-button>预览</el-button>
              <el-button type="primary" @click="handleClickPost"
                >发布</el-button
              >
            </div>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  fetchGetPartyConstructList,
  fetchAddpartyConstruct,
  fetchChangepartyConstruct,
  fetchDeletepartyConstruct,
  fetchChangePartyConstructSort,
} from '@/api/partyConstruct/smartConstruct'
import { ElMessage } from 'element-plus'
import { Edit, Delete, Grid } from '@element-plus/icons-vue'
import { Editor, Toolbar } from '@wangeditor/editor-for-vue'
import '@wangeditor/editor/dist/css/style.css'
import draggable from 'vuedraggable'
import { ref } from 'vue'
import { cloneDeep } from 'lodash'
import UploadImg from './components/UploadImg.vue'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()

const tabs = [
  {
    label: '党群资讯',
    value: 'INFO',
  },
  {
    label: '党群阵地',
    value: 'POSITION',
  },
  {
    label: '党群服务',
    value: 'SERVICE',
  },
]

const activeTab = ref('INFO')
const activeTableRow = ref()
const showTableData = ref([])
const copareData = ref([])
const formData = ref({
  title: '',
  content: '',
  img: '',
})
const formRef = ref()
const addOrEditFlag = ref(true)

const formRoles = {
  title: [
    {
      required: true,
      message: '请输入标题',
      trigger: 'change',
    },
  ],
  img: [
    {
      required: true,
      message: '请上传首页图片',
    },
  ],
  content: [
    {
      required: true,
      message: '内容不能为空',
    },
  ],
}

const editorRef = shallowRef()

const toolbarConfig = {}
const editorConfig = { placeholder: '请输入内容...' }

onBeforeUnmount(() => {
  const editor = editorRef.value
  if (editor == null) return
  editor.destroy()
})

const handleCreated = (editor) => {
  editorRef.value = editor // 记录 editor 实例,重要!
}

async function getList() {
  const { data } = await fetchGetPartyConstructList(
    { projectId: userStore.projectIdGetter },
    activeTab.value.toLowerCase()
  )
  if (data && data.list) {
    showTableData.value = data.list.sort((a, b) => a.id - b.id)
    copareData.value = cloneDeep(showTableData.value)
  } else {
    showTableData.value = []
  }
}

function handleTabChange(e) {
  formRef.value.resetFields()
  activeTab.value = e
  getList()
}

function handleTableItemChange(row) {
  formRef.value.resetFields()
  activeTableRow.value = row
  formData.value = cloneDeep(row)
  addOrEditFlag.value = false
}

function handleClickToAdd() {
  addOrEditFlag.value = true
  formRef.value.resetFields()
  formData.value = {
    content: '',
    title: '',
    img: '',
  }
}

/** 点击进行文章的发布 */
async function handleClickPost(sortChange) {
  await formRef.value.validate()
  if (addOrEditFlag.value) {
    await fetchAddpartyConstruct(
      { ...formData.value, projectId: userStore.projectIdGetter},
      activeTab.value.toLowerCase()
    )
    ElMessage.success('添加成功~')
  } else {
    await fetchChangepartyConstruct(formData.value)
    sortChange ? ElMessage.success('修改成功') : ''
  }

  getList()
}

/** 点击进行删除操作 */
async function handleClickDelete(id) {
  await fetchDeletepartyConstruct(id)
  ElMessage.success('删除成功')
  getList()
}

async function handleDargSortChange(e) {
  const { moved } = e
  await fetchChangePartyConstructSort({
    currentId: copareData.value[moved.oldIndex].id,
    targetId: copareData.value[moved.newIndex].id,
  })
  getList()
}

getList()
</script>
<style lang="scss" scoped>
.top_box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  line-height: 60px;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  font-size: 14px;
  .tab_box {
    width: 96px;
    height: 32px;
    color: #00a0e9;
    border: 1px solid #00a0e9;
  }
  .active {
    background-color: #00a0e9;
    color: #ffffff;
  }
}

.el-button {
  border-radius: 2px;
}

:deep(.el-table .cell) {
  padding: 0;
}

.ghost {
  opacity: 0.2;
  background: #c8ebfb;
}
</style>
