<template>
  <div class="page">
    <div class="panel custom mb20" v-for="(section, index) in sectionList" :key="index">
      <div class="head">
        <div class="left"><div class="title">{{section.deviceName}}</div></div>
        <el-button v-if="section.regularList?.length<5" class="right" type="primary" link @click="handleAdd(false,{deviceId:section.deviceId})">新增定时设置</el-button>
      </div>
      <div class="body">
        <el-table :data="section.regularList" >
          <el-table-column label="自动开启时间" prop="startTime" ></el-table-column>
          <el-table-column label="自动关闭时间" prop="endTime" ></el-table-column>
          <el-table-column label="最后修改时间" prop="updateTime" ></el-table-column>
          <el-table-column label="操作人" prop="updateBy" ></el-table-column>
          <el-table-column label="操作">
            <template #default="{row}">
              <el-button link type="primary" @click="handleAdd(true,row)"
                >编辑</el-button>
                <el-popconfirm title="确认删除吗?" @confirm="handleDel(row)">
                  <template #reference>
                    <el-button link type="primary">
                      删除
                    </el-button>
                  </template>
                </el-popconfirm>
              <el-button link type="primary" @click="onSwitchTask(row)"
                >{{row.enable?'禁用':'启用'}}</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <el-dialog
      v-model="visible"
      v-if="visible"
      title="定时设置"
      width="720px"
    >
      <el-form :model="taskConfig" ref="formRef" :rules="rules">
        <el-form-item
          label="定时开启时间："
          labelWidth="200"
          class="auto"
          prop="startTime"
          required
        >
          <el-time-picker
            v-model="taskConfig.startTime"
            value-format="HH:mm"
            format="HH:mm"
            placeholder="请选择开启时间"
          >
          </el-time-picker>
        </el-form-item>
        <el-form-item
          label="定时关闭时间："
          labelWidth="200"
          class="auto"
          prop="endTime"
          required
        >
          <el-time-picker
            v-model="taskConfig.endTime"
            value-format="HH:mm"
            format="HH:mm"
            placeholder="请选择开启时间"
          >
          </el-time-picker>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button type="info" @click="visible = false"
            >取消</el-button
          >
          <el-button
            type="primary"
            @click="save"
            v-hasPermi="['green:switch:edit']"
            >确认</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import {addTask,delTask,switchDevice,switchTask,getTaskList} from '@/api/green/switch';
import { ElMessage } from 'element-plus';
const projectId=inject('projectId')
const visible=ref(false)
const sectionList=ref([])
const isEdit=ref(false)
const formRef=ref()
const taskConfig=ref({
  id:undefined,
  startTime:undefined,
  endTime:undefined
})
let deviceId
onMounted(() => {
  refetch()
})
const startCron = computed(() => {
  return `0 0 ${parseInt(taskConfig.value.startTime)} * * ?`
})
const endCron = computed(() => {
  return `0 0 ${parseInt(taskConfig.value.endTime)} * * ?`
})
const refetch=()=>{
  getTaskList(projectId).then(res=>{
    if(res.code!==200)return
    sectionList.value=res.data
  })
}
const closeFn=(msg)=>{
  visible.value=false
  refetch()
  ElMessage.success(msg)
}
const handleAdd=(flag,data)=>{
  visible.value=true
  isEdit.value=flag
  if(flag){
    const {id,startTime,endTime}=data
    taskConfig.value={
      id:id,
      startTime:startTime,
      endTime:endTime,
    }
  }else{
    deviceId=data.deviceId
    taskConfig.value={}
  }
}
const handleDel=({id})=>{
  delTask(id).then(res=>{
    if(res.code!==200)return
      closeFn('删除任务成功')
  })
}
const onSwitchTask=({id,enable})=>{
  switchTask({id,enable:!enable}).then(res=>{
    if(res.code!==200)return
      closeFn(`${enable?'禁用':'启用'}任务成功`)
  })
}
const save=()=>{
  if(isEdit.value){
    addTask({...taskConfig.value,projectId,startCron:startCron.value,endCron:endCron.value}).then(res=>{
      if(res.code!==200)return
      closeFn('修改任务成功')
    })
  }else{
    addTask({...taskConfig.value,projectId,deviceId,startCron:startCron.value,endCron:endCron.value}).then(res=>{
      if(res.code!==200)return
      closeFn('新增任务成功')
    })
  }
  
}
</script>
<style lang="scss" scoped>
.panel{
  .body{
    margin-top: 28px;
  }
}
</style>