<template>
  <div class="intelligent">
    <p>模型列表</p>
    <!-- 添加 -->
    <div class="body_top_box">
      <div class="add_box">
        <div class="button_box" @click="leading">
          <span>上传模型</span
          ><el-icon
            ><svg
              t="1678844449096"
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              p-id="3615"
              width="16"
              height="16"
            >
              <path
                d="M612.37248 411.62752V30.208h-200.74496v381.41952H30.208v200.74496h381.41952v381.41952h200.74496V612.37248h381.41952v-200.74496z"
                p-id="3616"
                fill="#ffffff"
              ></path></svg
          ></el-icon>
        </div>
        <div class="button_box" @click="basicAdd">
          <span>上传列表</span
          ><el-icon>
            <svg
              t="1678772225868"
              class="icon"
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              p-id="13742"
              width="200"
              height="200"
            >
              <path
                d="M919.272727 416.581818L607.418182 79.127273c-11.636364-11.636364-32.581818-11.636364-44.218182 0-6.981818 6.981818-9.309091 16.290909-9.309091 25.6v181.527272c-258.327273 0-465.454545 207.127273-465.454545 463.127273 0 62.836364 13.963636 125.672727 39.563636 183.854546 37.236364-193.163636 221.090909-339.781818 425.890909-339.781819v181.527273c-2.327273 9.309091 2.327273 18.618182 9.309091 25.6 4.654545 6.981818 13.963636 9.309091 23.272727 9.309091s18.618182-4.654545 23.272728-11.636364L919.272727 465.454545c6.981818-6.981818 9.309091-13.963636 9.309091-23.272727s-4.654545-18.618182-9.309091-25.6z"
                p-id="13743"
                fill="#ffffff"
              ></path></svg
          ></el-icon>
        </div>
      </div>
    </div>
    <Table
      :data="recordList"
      :pagination="pagination"
      @page-change="pageChange"
      style="width: 100%"
    >
      <el-table-column type="index" label="序号" width="100" />
      <el-table-column label="名称" prop="fileName" />
      <el-table-column label="文件大小" prop="extensionName" />
      <el-table-column label="上传时间" prop="createTime" />
      <el-table-column label="上传人员" prop="createBy" />
      <el-table-column label="操作">
        <template #default="scope">
          <el-button type="text" @click="handleSee(scope.$index, scope.row)"
            >查看</el-button
          >
          <el-button type="text">删除</el-button>
        </template>
      </el-table-column>
    </Table>
    <el-dialog
      v-model="dialogVisible"
      title="Tips"
      width="30%"
      :before-close="handleClose"
    >
      <span>This is a message</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogVisible = false">
            Confirm
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- 基础数据导入模态框 -->
    <el-dialog
      class="upload-dialog"
      v-model="twodialogVisible"
      title="上传模型"
      width="707px"
      :before-close="handleClose"
    >
      <span>
        <el-upload
          v-model:file-list="fileList"
          ref="uploadRef"
          :auto-upload="false"
          :multiple="true"
          class="upload-demo"
          action="/system/intelligenceBuild/documents/upload"
          :on-success="handleUploadSuccess"
        >
          <template #default>
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col style="padding-left: 20px" :span="12">文件名</el-col>
              <el-col :span="6">大小</el-col>
              <el-col :span="6" style="text-align: right; padding-right: 22px"
                >操作</el-col
              >
            </el-row>
          </template>
          <template #trigger>
            <el-button class="uploadBtn">
              <img
                src="../../assets/images/out.png"
                style="
                  width: 15px;
                  height: 16px;
                  transform: rotate(180deg);
                  margin-right: 12px;
                "
              />
              请选择你需要导入的模型
            </el-button>
          </template>
          <template #file="file">
            <el-row style="mb-10px; color: #999999; font-size: 12px;">
              <el-col :span="12">{{ file.file.name }}</el-col>
              <el-col :span="6">{{ file.file.size }}</el-col>
              <el-col
                style="text-align: right; padding-right: 22px; padding-top: 5px"
                :span="6"
              >
                <img
                  @click="handleClickRemoveDoc(file)"
                  style="height: 16px; width: 16px; cursor: pointer"
                  src="../../assets/images/error.png"
                />
              </el-col>
            </el-row>
            <div></div>
          </template>
        </el-upload>
      </span>

      <template #footer>
        <span class="dialog-footer download-input-class">
          <span>
            <el-button @click="twodialogVisible = false">取消</el-button>
            <el-button type="primary" @click="uploadRef.submit()">
              导入
            </el-button>
          </span>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup>
import { getList, addFolder } from '@/api/system/Intelligent'
import { ElMessageBox } from 'element-plus'
const recordList = ref([])
const dialogVisible = ref(false)
// 基础信息导入模态框状态
const twodialogVisible = ref(false)
const pagination = reactive({
  showTotal: true,
  total: 0,
})
const fileList = ref([])
const handleSee = (index, item) => {
  console.log(index, item)
}
const pageChange = (val) => {
  console.log(val, '---val')
}
//打开基本导入模态框
const leading = () => {
  twodialogVisible.value = true
}
// 基本信息添加模态框
const handleClose = () => {
  ElMessageBox.confirm('确定关闭?')
    .then(() => {
      // 基础信息导入
      twodialogVisible.value = false
    })
    .catch(() => {
      // catch error
    })
}
//上传成功
const handleUploadSuccess = () => {
  console.log(11111111111)
}
// const handleClose = (done) => {
//   ElMessageBox.confirm('Are you sure to close this dialog?')
//     .then(() => {
//       done()
//     })
//     .catch(() => {
//       // catch error
//     })
// }
onMounted(async () => {
  const data = await getList()
  const data2 = await addFolder({
    parentId: '0',
    folderName: '20230526_质子区1.ISH',
    fileType: 'FILE',
    fileSize: '214.61M',
  })

  pagination.total = data.data.total
  // recordList.value = data.data.list
  console.log(datas, '------------------')
})
</script>

<style lang="scss" scoped>
.body_top_box {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  .add_box {
    margin-left: auto;
    display: flex;
    .button_box {
      width: 96px;
      height: 32px;
      line-height: 32px;
      background-color: #f5f6fb;
      margin-left: 20px;
      cursor: pointer;
      span {
        display: block;
        width: 65%;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        float: left;
      }
      .el-icon {
        background-color: #00a0e9;
        float: right;
        width: 20px;
        height: 20px;
        padding: 5px;
        margin-top: 6px;
        margin-right: 12px;
        border-radius: 20px;
      }
    }
  }
}
.upload-dialog {
  .upload-demo {
    position: relative;
    :deep(.el-upload) {
      width: 100%;
      display: inline-block !important;
    }
    .uploadBtn {
      position: absolute;
      bottom: -40px;
      width: 100%;
      color: #00a0e9;
      font-size: 12px;
    }
  }
}
</style>