<template>
  <div v-if="isEmpty" class="whiteboard h100 center">
    <empty></empty>
  </div>
  <div v-else>
    <div class="whiteboard btn-group">
      <div class="btn" :class="{ active: tabIndex == 1 }" @click="tabSwitch(1)">
        用电量监测
      </div>
      <div class="btn" :class="{ active: tabIndex == 2 }" @click="tabSwitch(2)">
        用电性能分析
      </div>
      <div class="btn" :class="{ active: tabIndex == 3 }" @click="tabSwitch(3)">
        用电故障报警
      </div>
    </div>
    <BoardOne v-if="tabIndex == 1" />
    <BoardTwo v-if="tabIndex == 2" />
    <BoardThree v-if="tabIndex == 3" />
  </div>
</template>
<script setup>
import BoardOne from './board1/index.vue'
import BoardTwo from './board2/index.vue'
import BoardThree from './board3/index.vue'
import empty from '@/components/Empty/index.vue'
import { getDeviceList } from '@/api/green/electricity'
import useUserStore from '@/store/modules/user'

const userStore = useUserStore()
const {
  currentRole: { projectId },
} = userStore
const isEmpty = ref(false)
const tabIndex = ref(1)
const tabSwitch = (index) => {
  tabIndex.value = index
}
onMounted(() => {
  fetchDeviceList()
})
function fetchDeviceList() {
  getDeviceList(projectId).then((res) => {
    if (res.code !== 200) return
    isEmpty.value = !res.data.length
  })
}
</script>
<style lang="scss" scoped>
.whiteboard {
  padding: 14px 20px;
}
.btn-group {
  .btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #00a0e9;
    font-size: 14px;
    color: #00a0e9;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 16px;
    }
    &.active {
      background: #00a0e9;
      border: none;
      color: white;
    }
  }
}
</style>
